@model IEnumerable<TSMT.Models.ChairitiesExam>
@{
    ViewBag.Title = "Tạo mới xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>
                <li><a href="@Url.Action("ManageCar", "Sponsor")">Quản Lý Xe</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_SponsorSidebarPartial")

@using (Html.BeginForm("AddCar", "Sponsor", FormMethod.Post))
{
    <div class="col-md-7">
        <div class="panel panel-green margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list"></i>Tạo mới xe
                </h3>
            </div>

            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td style="vertical-align:middle">Biển số xe</td>
                        <td>
                            <input type="text" name="NumberPlate" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">Tổng số chỗ ngồi</td>
                        <td>
                            <input type="text" name="TotalSlots" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">Tên tài xế</td>
                        <td>
                            <input type="text" name="DriverName" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">Số điện thoại tài xế</td>
                        <td>
                            <input type="text" name="DriverPhone" class="form-control" /></td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="float:right">
            <button type="submit" class="btn-u btn-u-default"><i class="icon-plus">&nbsp;Tạo</i></button>
            <button type="reset" class="btn-u btn-u-purpose"><i class="icon-eraser"></i>&nbsp;Làm lại</button>
        </div>
        <button type="button" onclick="location.href ='/Sponsor/ManageCar/'" class="btn-u btn-u-sea" ><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</button>
  
    </div>
}