@using TSMT.Models
@{
    ViewBag.Title = "Tạo mới chỗ ở";
    ViewBag.Active = "AddLodge";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<link href="/Content/css/TSMTPlaces.css" rel="stylesheet">
<link href="/Content/css/TSMTPopup.css" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,places&sensor=false"></script>
<script src="/Content/js/TSMTPlaces.js"></script>
<script src="/Content/js/TSMTPopup.js"></script>
@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>
                <li><a href="@Url.Action("ManageLodge", "Sponsor")">Quản lý chỗ ở</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@*@Html.Partial("_AdminSidebarPartial")*@



@using (Html.BeginForm("AddLodge", "Sponsor", FormMethod.Post, new { id = "FormAddLodge" }))
{
    <input type="hidden" id="Longitude" name="Longitude" />
    <input type="hidden" id="Latitude" name="Latitude" />
    <div id="map_container" style="width: 100%; height: 500px;">
        <div id="searchBox" style="margin: 10px 10px">
            <input type="text" id="Address" name="Address" />
            <input type="button" id="btnGoThere" value="Đi đến" />
        </div>
        <div id="map_canvas" style="width: 100%; height: 100%;"></div>
    </div>
    @*<div style="float: right">*@
        <input type="submit" value="Tạo" class="btn-u btn-u-sea" onclick="return PrepareDataToSubmit()" />
    @*</div>*@
    <a href="@Url.Action("ManageLodge", "Sponsor")" class="btn-u btn-u-red"><i class="icon-remove-sign"></i>&nbsp;Hủy</a>
}


<script type="text/javascript">
    $(document).ready(function () {
        initialize();

        // submit
        $('.popup-confirm').click(function () {
            $("#Longitude").val(marker.getPosition().lng());
            $("#Latitude").val(marker.getPosition().lat());
            $("#FormAddLodge").submit();
        });

        $('html').animate({ scrollTop: $("#map_container").offset().top - 40 }, 'slow');
    });
</script>
