@model IEnumerable<TSMT.Models.ChairitiesExam>

@{
    ViewBag.Title = "AddNewFund";
}

<div style="text-align: center">
    <h2>Tài Trợ Tiền</h2>
</div>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tài Trợ Tiền</legend>

        <div class="editor-label">
           Ki thi + Nha tai tro + Dia diem
        </div>
        <div class="editor-field">
            <select id="CharityName" name="CharityName">
                @foreach (var item in Model)
                {
                    <option value="@item.CharityExamID">@item.Examination.Name -- @item.Charity.Account.Profile.Lastname @item.Charity.Account.Profile.Firstname -- @item.District.Name</option>
                }
            </select>
        </div>

        <div class="editor-label">
           Tiền Tài Trợ <input type="text" name="fundSponsored" />
        </div>
        <div class="editor-field">
           
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay Lại", "ManagerFund")
</div>


