@using TSMT.Models
@model TSMT.Models.Fund
@{
    ViewBag.Title = "Chỉnh sửa tiền tài trợ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>
                <li><a href="@Url.Action("ManageCar", "Sponsor")">Quản Lý tiền tài trợ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_SponsorSidebarPartial")

<script type="text/javascript" src="~/Content/js/jquery.js"></script>
@using (Html.BeginForm("EditFund", "Sponsor", FormMethod.Post))
{
    <div class="col-md-5">
        <div class="panel panel-green margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i>Chỉnh sửa tiền tài trợ
                </h3>
            </div>

            <div class="panel-body">
                <input type="hidden" name="fundId" value="@Model.FundID"/>
                <table class="table table-hover">
                    <tr>
                        <td>Số Tiền</td>
                        <td>
                            <input type="text" name="FundSponsored" value="@Model.FundSponsored" id ="input"/></td>
                        <script>
                            $("#input").priceFormat({ prefix: '', centsLimit: 0 });
                        </script>
                        <td>VNĐ</td>
                    </tr>
                </table>
            </div>

        </div>
        <div style="float: right">
            <button type="submit" class="btn-u btn-u-sea"><i class="fa fa-plus">&nbsp;Lưu lại</i></button>
        </div>
        <button type="button" onclick="location.href ='/Sponsor/ManageFund/'" class="btn-u btn-u-default"><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay lại</button>
    </div>
}