@using TSMT.Models
@model TSMT.Models.Car
@{
    ViewBag.Title = "EditCarNotCe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Chỉnh sửa Xe</h2>
 
@using (Html.BeginForm("EditCarNotCe", "Sponsor", FormMethod.Post))
{
    <input type="hidden" name="carId" value="@Model.CarID"/>
    <table>
        <tr>
            <td>Biển số xe</td>
            <td>
                <input type="text" name="NumberPlate" value="@Model.NumberPlate" class="form-control"/></td>
        </tr>
        <tr>
            <td>Tổng số chỗ ngồi</td>
            <td>
                <input type="text" name="TotalSlots" value="@Model.TotalSlots" class="form-control"/></td>
        </tr>
         <tr>
            <td>Tên tài xế</td>
            <td>
                <input type="text" name="DriverName" value="@Model.DriverName" class="form-control"/></td>
        </tr>
         <tr>
            <td>Số điện thoại tài xế</td>
            <td>
                <input type="text" name="DriverPhone" value="@Model.DriverPhone" class="form-control"/></td>
        </tr>
        <tr>
            <td colspan="2">
               <input type="button" class = "btn btn-info" onclick="history.go(-1);" value="Quay lại"/>
                <input type="submit" value="Submit" class="btn btn-info" />
                <input type="reset" value="Reset" class="btn btn-info" />
            </td>
        </tr>
    </table>
}
