@using TSMT.Models
@model TSMT.Models.Lodge
@{
    ViewBag.Title = "Tài Trợ chỗ trọ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Content/js/jquery.js"></script>
<script type="text/javascript">
    function callAjax(id) {
        if (id == 0) {
            $("#asd").html("");
        }
        else {
            $.ajax({
                url: 'ResultAjax',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#asd").html("");
                    $("#asd").append("<option >-----</option>");
                    for (i in results) {
                        var r = results[i];
                        $("#asd").append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");

                    }
                }
            });
        }
    }
   

    function callAjaxLodgeCharityid(id) {
        if (id == 0) {
            $("#charityid").html("");
        }
        else {
            $.ajax({
                url: 'ResultAjaxCharityid',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#charityid").html("");
                    
                    for (i in results) {
                        var r = results[i];
                        $("#charityid").val(r["charityid"]);

                    }
                }
            });
        }
    }



    $(document).ready(function () {
        $("#saveall").click(function () {
            var ceId;
            var roomId ="";
            var lodgeId = document.getElementById("lodgeId").value;
            var cId = document.getElementById("charityid").value;
            $("[id*=tableroom] input:checked").each(function () {

                roomId += $(this).val() + "-";
                
            });
            if (roomId != "") {
                ceId = parseInt(document.getElementById("asd").value);
                $.ajax({
                    url: 'EditLodge',
                    data: { "ceId": ceId, "roomId": roomId, "lodgeId": lodgeId, "cId": cId },
                    type: 'POST',
                    success: function (results) {
                        window.location.assign("@Url.Content("~/Sponsor/ManageLodge")");

                    }
                });
            } else {
                ceId = 0;
                alert("No item has been selected.");
            }

        });
    });



</script>




<input type="hidden" id="lodgeId" value="@Model.LodgeID"/>


<div class="col-md-9">
    <div class="panel panel-green margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Tài Trợ Chỗ Trọ
            </h3>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td style="vertical-align:middle">Tài Trợ Cho: </td>
                    <td>
                        <select id="qwe" onchange="callAjax(this.value)" class="form-control">
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["Exam"] as IEnumerable<Examination>)
                            {
                                if (Model.CharityExamID == null)
                                { 
                                <option value="@item.ExaminationID">@item.Name</option>
                                }
                                else
                                {
                                    if (item.ExaminationID == Model.ChairitiesExam.Examination.ExaminationID)
                                    {
                                <option value="@item.ExaminationID" selected="selected">@item.Name</option>
                                    }
                                    else
                                    {
                                <option value="@item.ExaminationID">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                    <td style="vertical-align:middle">Tổ Chức: </td>
                    <td>
                        <select id="asd" name="asd" onchange="callAjaxLodgeCharityid(this.value)" class="form-control" >
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["CE"] as IEnumerable<ChairitiesExam>)
                            {
                                if (Model.CharityExamID == null)
                                { 
                                <option value="@item.CharityExamID">@item.CharityExamName</option>
                                }
                                else
                                {
                                    if (item.CharityExamID == Model.CharityExamID)
                                    {
                                <option value="@item.CharityExamID" selected="selected">@item.CharityExamName</option>
                                    }
                                    else
                                    {
                                <option value="@item.CharityExamID">@item.CharityExamName</option>
                                    }
                                }


                            }
                        </select>
                    </td>
                    <input type="hidden"  name ="charityid" id ="charityid" />
                </tr>
                <tr>
                    <td>Địa chỉ</td>
                    <td colspan="3">
                    @Model.Address
                </tr>
                <tr>
                    <td colspan="4"><b>Vui lòng chọn phòng bên dưới để tài trợ</b></td>
                </tr>


              
            </table>
            <table id="tableroom" class="table table-hover">
                <tr>
                    <td></td>
                    <td>Tên Phòng</td>
                    <td>Tổng Số Chỗ</td>
                </tr>
                @{

                    foreach (var item in ViewData["rooms"] as IEnumerable<Room>)
                    {
                           
                    <tr>
                        <td>
                            <input class="roomid"   type="checkbox" name ="charityexamid" value="@item.RoomID" />
                        </td>
                        <td>@item.RoomName</td>
                        <td>@item.TotalSlots</td>
                    </tr>
                    }
                }
                  <tr>
                    <td colspan="4">
                        <input type="button" class="btn btn-info" onclick="history.go(-1);" value="Quay lại" />
                        <input type="submit" value="Submit" class="btn btn-info" id="saveall" />
                        <input type="reset" value="Reset" class="btn btn-info" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



