@using TSMT.Models
@model TSMT.Models.Car
@{
    ViewBag.Title = "Tài trợ xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/css/TSMTValidation.css" rel="stylesheet">
<script type="text/javascript" src="/Content/js/TSMTValidation.js"></script>
@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>
                <li><a href="@Url.Action("ManageCar", "Sponsor")">Quản Lý Xe</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_SponsorSidebarPartial")

<script type="text/javascript" src="~/Content/js/jquery.js"></script>
<script type="text/javascript">
    function callAjax(id) {
        if (id == 0) {
            $("#asd").html("");
        }
        else {
            $.ajax({
                url: '/Sponsor/ResultAjax',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#asd").html("");
                    $("#asd").append("<option >-----</option>");
                    for (i in results) {
                        var r = results[i];
                        $("#asd").append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");

                    }
                }
            });
        }
    }

    function callAjaxCharityid(id) {
        if (id == 0) {
            $("#charityid").html("");
        }
        else {
            $.ajax({
                url: '/Sponsor/ResultAjaxCharityid',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#charityid").html("");
                    for (i in results) {
                        var r = results[i];
                        $("#charityid").val(r["charityid"]);

                    }
                }
            });
        }
    }
</script>

@using (Html.BeginForm("EditCar", "Sponsor", FormMethod.Post, new { id = "FormValidate" }))
{
    <div class="col-md-5">
        <div class="panel panel-green margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list"></i>Tài trợ xe
                </h3>
            </div>
            <input type="hidden" name="charityid" id="charityid" />
            <div class="panel-body">
                <input type="hidden" name="carId" value="@Model.CarID"/>
                <table class="table table-hover">
                    <tr>
                        <td style="vertical-align: middle">Tài Trợ Cho: </td>
                        <td>
                            <select id="qwe" onchange="callAjax(this.value)" class="form-control">
                                <option value="0" selected>---</option>
                                @foreach (var item in ViewData["Exam"] as IEnumerable<Examination>)
                                {
                                    if (Model.CharityExamID == null)
                                    { 
                                    <option value="@item.ExaminationID">@item.Name</option>
                                    }
                                    else
                                    {
                                        if (item.ExaminationID == Model.ChairitiesExam.Examination.ExaminationID)
                                        {
                                    <option value="@item.ExaminationID" selected="selected">@item.Name</option>
                                        }
                                        else
                                        {
                                    <option value="@item.ExaminationID">@item.Name</option>
                                        }
                                    }

                                }
                            </select>
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Tổ Chức: </td>
                        <td>
                            <select id="asd" name="asd" onchange="callAjaxCharityid(this.value)" class="form-control">
                            </select>
                        </td>
                        
                    </tr>

                    <tr>
                        <td>Biển số xe</td>
                        <td>
                        @Model.NumberPlate
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tổng số chỗ ngồi</td>
                        <td>
                        @Model.TotalSlots

                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tên tài xế</td>
                        <td>
                        @Model.DriverName
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Số điện thoại tài xế</td>
                        <td>
                        @Model.DriverPhone
                        <td></td>
                        <td></td>
                    </tr>

                </table>
            </div>
        </div>
        <div style="float: right">
            <button type="submit" class="btn-u btn-u-sea"><i class="icon-plus">&nbsp;Tài Trợ</i></button>
        </div>
        <button type="button" onclick="location.href ='/Sponsor/ManageCar/'" class="btn-u btn-u-default"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</button>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        var ex = /^[^\-]$/;
        
        $("#qwe").blur(function () { checkRegex("qwe", ex, "Vui lòng chọn đợt thi", true) });
        $("#asd").blur(function () { checkRegex("asd", ex, "VUi lòng chọn tổ chức", true) });
        $("#FormValidate").submit(function (e) {
            var isValidated = true;
            isValidated = checkRegex("qwe", ex, "Vui lòng chọn đợt thi", true) && isValidated;
            isValidated = checkRegex("asd", ex, "VUi lòng chọn tổ chức", true) && isValidated;
            if (isValidated) return true;
            e.preventDefault();
        });
    });
</script>
