@using TSMT.Models
@model TSMT.Models.Lodge
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Edit Lodge</h2>
@using (Html.BeginForm("EditLodge", "Sponsor", FormMethod.Post))
{
    <input type="hidden" name="lodgeId" value="@Model.LodgeID"/>
    <table>
         <tr>
            <td>Kỳ thi + Tổ chức</td>
            <td>
                <select name="ceId">
                    @foreach (var item in ViewData["CE"] as IEnumerable<ChairitiesExam>)
                    {
                        <option value="@item.CharityExamID">@item.Examination.Name - @item.CharityExamName</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Địa chỉ</td>
            <td>
                <input type="text" name="Address" value="@Model.Address"/></td>
        </tr>
        
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit" class="btn btn-info" />
                <input type="reset" value="Reset" class="btn btn-info" />
            </td>
        </tr>
    </table>
}