@using TSMT.Models
@model IEnumerable<Car>

@{
    ViewBag.Title = "ManageCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Manage Cars of Charity Exam</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>STT</th>
                <th>Kỳ thi</th>
                <th>Tổ chức</th>
                <th>Biển số xe</th>
                <th>Tổng số chỗ</th>
                <th>Số chỗ còn trống</th>
                <th>Tên tài xế</th>
                <th>SĐT tài xế</th>
                <th>Trạng thái</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                foreach (var item in Model)
                {
                <tr>
                    <td>@counter</td>
                        @if (@item.CharityExamID== null)
                        {
                            <td>#Trống#</td>
                            <td>#Trống#</td>
                        }
                        else
                        {
                            <td>@item.ChairitiesExam.Examination.Name</td>
                            <td>@item.ChairitiesExam.CharityExamName</td>
                        }
                    <td>@item.NumberPlate</td>
                    <td>@item.TotalSlots</td>
                    <td>@item.AvailableSlots</td>
                    <td>@item.DriverName</td>
                    <td>@item.DriverPhone</td>
                    @if (item.CharityExamID == null)
                        {
                            <td><span class="label label-info">Chưa Tài Trợ</span></td>
                        <td>
                        @Html.ActionLink("Edit", "EditCar", new { carId = @item.CarID })
                        @Html.ActionLink("Delete", "DeleteCar", new { carId = @item.CarID },new { onclick="return showPopup('Are you sure to delete it?', this.href);"})
                    </td>
                            
                        }
                    else{
                    if (!item.IsApproved)
                    {
                        <td><span class="label label-danger">Chờ Nhận</span></td>
                        <td>
                        @Html.ActionLink("Edit", "EditCar", new { carId = @item.CarID })
                        @Html.ActionLink("Delete", "DeleteCar", new { carId = @item.CarID },new { onclick="return showPopup('Are you sure to delete it?', this.href);"})
                    </td>
                    }
                    else 
                    {
                        <td><span class="label label-success">Đã Tài Trợ</span></td>
                    }
                    }
                    
                </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
</div>
@Html.ActionLink("Create", "AddCar", null, new { @class = "btn btn-info" })
@Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info" })
