@using TSMT.Models
@model IEnumerable<Fund>
@{
    ViewBag.Title = "ManageFund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Manage Funds of Sponsor</h2>

<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>STT</th>
                <th>Kỳ thi</th>
                <th>Tổ chức</th>
                <th>Số Tiền</th>
                <th>Hình Thức</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                foreach (var item in Model)
                {
                <tr>
                    <td>@counter</td>
                    <td>@item.ChairitiesExam.Examination.Name</td>
                    <td>@item.ChairitiesExam.CharityExamName</td>
                    <td>@item.FundSponsored.ToString("##,### VNĐ")</td>
                    @if(@item.IsOnlineFunding)
                        {
                        <td>Tận tay</td>
                        }
                        else{
                        <td>Chuyển Khoản</td>
                        }
                    
                    <td>
                        @Html.ActionLink("Edit", "EditFund", new { fundId = @item.FundID })
                        @Html.ActionLink("Delete", "DeleteFund", new { fundId = @item.FundID })
                    </td>
                </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("Sponsor Fund", "AddFund", null, new { @class = "btn btn-info" })
@Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info" })
