@using TSMT.Models
@model IEnumerable<Fund>
@{
    ViewBag.Title = "Quản lý tiền tài trợ";
    ViewBag.Active = "ManageFund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_SponsorSidebarPartial")



<div class="col-md-9">
    <div class="panel panel-green margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Quản lý xe
                <a href="@Url.Action("AddCar", "Sponsor")" class="btn-u btn-u-green"><i class="icon-pencil"></i>Create</a>
            </h3>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Kỳ thi</th>
                        <th>Tài Trợ Cho</th>
                        <th>Số Tiền</th>
                        <th>Phương Thức Tài Trợ</th>
                        <th>Trạng Thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;
                        foreach (var item in Model)
                        {
                        <tr>
                            <td>@counter</td>
                            <td>@item.ChairitiesExam.Examination.Name</td>
                            <td>@item.ChairitiesExam.CharityExamName</td>
                            <td>@item.FundSponsored.ToString("##,### VNĐ")</td>
                            @if (item.IsOnlineFunding)
                            {
                                <td>Tận tay</td>
                            }
                            else
                            {
                                <td>Chuyển Khoản</td>
                            }
                            @if (item.IsApproved)
                            {
                                <td><span class="label label-success">Đã Gửi</span></td>
                                <td></td>
                            }
                            else
                            {
                                <td><span class="label label-danger">Chờ Xác Nhận</span></td>
                                <td>
                                    @Html.ActionLink("Edit", "EditFund", new { fundId = @item.FundID })
                                    @Html.ActionLink("Delete", "DeleteFund", new { fundId = @item.FundID })
                                </td>
                            }

                        </tr>
                            ++counter;
                        }
                    }
                </tbody>
            </table>
        </div>

        @Html.ActionLink("Sponsor Fund", "AddFund", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info" })
    </div>
</div>

@*<script>
    function func() {
        var cusid_ele = document.getElementsByClassName('IsOnlineFundingCol');
        for (var i = 0; i < cusid_ele.length; ++i) {

            if (cusid_ele[i].innerHTML == "True") {
                cusid_ele[i].innerHTML = "Online";
            }
            if (cusid_ele[i].innerHTML == "False") {
                cusid_ele[i].innerHTML = "Tận tay";
            }
        }
    }
    func();
</script>*@
