@using TSMT.Models
@model IEnumerable<Lodge>

@{
    ViewBag.Title = "Quản lý chỗ trọ";
    ViewBag.Active = "ManageLodge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/Content/js/ViewOnMap.js"></script>
<script>
    $(function () {
        var lengthadd = document.getElementsByClassName("add").length;
        for (var i = 0; i < lengthadd; i++) {
            var str = document.getElementsByClassName("add")[i].textContent;
            var add = str.split(',');
            var add1 = add[0];
            document.getElementsByClassName("add")[i].innerHTML = add1;
        }

        var lengthaddd = document.getElementsByClassName("addd").length;
        for (var i = 0; i < lengthaddd; i++) {
            var str1 = document.getElementsByClassName("addd")[i].textContent;
            var addd = str1.split(',');
            var addd1 = addd[0];
            document.getElementsByClassName("addd")[i].innerHTML = addd1;
        }
    });
</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>

}

@Html.Partial("_SponsorSidebarPartial")

<div class="col-md-9" id="showInformation">
    <div class="panel panel-green margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-user"></i>Thông tin chỗ trọ
                  <a href="@Url.Action("AddLodge", "Sponsor")" class="btn-u btn-u-green"><i class="icon-pencil"></i>Tạo mới</a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#notsponsored" data-toggle="tab">Chổ Ở Chưa Tài Trợ</a></li>
                    <li><a href="#sponsored" data-toggle="tab">Chỗ Ở Đã Tài Trợ</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="notsponsored">
                         <div id="showMessage" class="alert alert-danger fade in" style="display: none">
                            @*<button type="button" class="close" data-dismiss="alert">×</button>*@
                            <strong>Bạn không có nhà để tài trợ!</strong> Bạn hãy click vào nút "Tạo mới" để Tạo mới nhà cho mình.
                        </div>
                        <table class="table table-hover" id="showdata">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Địa Chỉ</th>
                                    <th>Tổng Số Phòng</th>
                                    <th>Tổng Số Chỗ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                  @if ((Model.Count(r => r.CharityExamID == null) == 0 ))
                                {
                                    <tr>
                                        <td>
                                            <script type="text/javascript">
                                                document.getElementById("showdata").style.display = "none";
                                                document.getElementById("showMessage").style.display = "block";
                                            </script>
                                        </td>
                                    </tr>
                                }
                                else{
                                    int counter = 1;

                                    foreach (var lodge in ViewData["LodgesNotSponsored"] as IEnumerable<Lodge>)
                                    {                   
                                    <tr>
                                        <td>@counter</td>
                                        <td class="add">
                                         @lodge.Address
                                        </td>
                                        <td>@lodge.TotalRooms</td>
                                        <td>@lodge.TotalSlots</td>
                                        <td>
                                            <button onclick="openWindowPopup('/sponsor/ViewLodge/', @lodge.LodgeID)">Xem Bản Đồ</button>
                                            <a href="@Url.Action("ManageRoom", "Sponsor", new { lodgeId = @lodge.LodgeID })" class="btn-u btn-u-blue" title="Xem Chi Tiết"><i class="icon-info"></i></a>
                                            <a href="@Url.Action("EditLodgeNotCe", "Sponsor", new { lodgeId = @lodge.LodgeID })" class="btn-u" title="Sửa Địa Chỉ"><i class="icon-edit"></i></a>
                                            <a href="@Url.Action("EditLodge", "Sponsor", new { lodgeId = @lodge.LodgeID })" class="btn-u btn-u-red" title="Tài Trợ"><i class="icon-heart"></i></a>
                                            <a href="@Url.Action("DeleteLodge", "Sponsor", new { lodgeId = @lodge.LodgeID })" class="btn-u btn-u-orange" title="Xóa Nhà"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                        ++counter;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="sponsored">
                        <div id="showMessage1" class="alert alert-danger fade in" style="display: none">
                            @*<button type="button" class="close" data-dismiss="alert">×</button>*@
                            <strong>Bạn chưa tài trợ chỗ ở nào!</strong>
                        </div>
                        <table class="table table-hover" id="showdata1">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Kỳ thi</th>
                                    <th>Tài Trợ Cho</th>
                                    <th>Địa Chỉ</th>
                                    <th>Chỗ còn trống</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if ((Model.Count(r => r.CharityExamID != null) == 0 ))
                                {
                                    <tr>
                                        <td>
                                            <script type="text/javascript">
                                                document.getElementById("showdata1").style.display = "none";
                                                document.getElementById("showMessage1").style.display = "block";
                                            </script>
                                        </td>
                                    </tr>
                                }
                                else{
                                    int count = 1;

                                    foreach (var item in ViewData["LodgesSponsored"] as IEnumerable<Lodge>)
                                    {                   
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.ChairitiesExam.Examination.Name</td>
                                        <td>@item.ChairitiesExam.CharityExamName</td>
                                        <td  class="addd">@item.Address</td>
                                        <td>@item.TotalSlotsInUsed/@item.AvailableSlots</td>
                                        @if (item.IsApproved)
                                        {
                                            <td><span class="label label-success">Đã tài trợ</span></td>
                                            <td>
                                                 <button onclick="openWindowPopup('/Sponsor/ViewLodge/', @item.LodgeID)">Xem Bản Đồ</button>
                                                <a href="@Url.Action("ManageRoom", "Sponsor", new { lodgeId = @item.LodgeID })" class="btn-u btn-u-blue"  title="Xem Chi Tiết"><i class="icon-info"></i></a>
                                            </td>
                                        }
                                        else if (!item.IsApproved)
                                        {
                                            <td><span class="label label-danger">Chưa xác nhận</span></td>
                                            <td>
                                                <button onclick="openWindowPopup('/Sponsor/ViewLodge/', @item.LodgeID)">Xem Bản Đồ</button>
                                                <a href="@Url.Action("ManageRoom", "Sponsor", new { lodgeId = @item.LodgeID })" class="btn-u btn-u-blue" title="Xem Chi Tiết"><i class="icon-info"></i></a>
                                                <a href="@Url.Action("EditLodgeHasCe", "Sponsor", new { lodgeId = @item.LodgeID })" class="btn-u" title="Sửa Địa Chỉ"><i class="icon-edit"></i></a>
                                                 @*@Html.ActionLink("Hủy tài Trợ", "DenieLodge", new { carId = @item.LodgeID }, new { onclick = "return showPopup('Bạn có chắc sẽ hủy tài trợ căn nhà này?', this.href);" })*@
                                                <a href="@Url.Action("DenieLodge", "Sponsor", new { lodgeId = @item.LodgeID })" class="btn-u btn-u-red" title="Hủy Tài Trợ"><i class="icon-remove"></i></a>
                                                @*   <a href="@Url.Action("DeleteLodge", "Sponsor", new { lodgeId = @item.LodgeID })" class="btn-u btn-u-orange"><i class="icon-trash"></i></a>*@
                                            </td>
                                        }
                                    </tr>
                                        ++count;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>
</div>


