@using TSMT.Models
@model IEnumerable<Car>
@{
    ViewBag.Title = "Quản lý xe";
    ViewBag.Active = "ManageCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Content/css/TSMTPopup.css" rel="stylesheet">
<script src="/Content/js/TSMTPopup.js"></script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_SponsorSidebarPartial")

<div class="col-md-9">
    <div class="panel panel-green margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>Quản lý xe
                <a href="@Url.Action("AddCar", "Sponsor")" class="btn-u btn-u-sea"><i class="fa fa-plus"></i>Tạo Mới Xe</a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#notsponsored" data-toggle="tab">Xe Chưa Tài Trợ</a></li>
                    <li><a href="#sponsored" data-toggle="tab">Xe Đã Tài Trợ</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="notsponsored">
                        @if (Model.Count(r=>r.CharityExamID==null) == 0) // has no car.
                        {
                        <div id="showMessage" class="alert alert-danger fade in">
                            <strong>Bạn không có xe để tài trợ!</strong> Hãy nhấn vào nút "Tạo mới" để tạo mới xe.
                        </div>
                        }
                        else // has cars.
                        {
                            <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Biển số</th>
                                    <th>Số chỗ </th>
                                    <th>Tên tài xế</th>
                                    <th>SĐT tài xế</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 1;

                                    foreach (var car in ViewData["CarNotSponsored"] as IEnumerable<Car>)
                                    {                   
                                    <tr>
                                        <td style="vertical-align:middle">@counter</td>
                                        <td style="vertical-align:middle">@car.NumberPlate</td>
                                        <td style="vertical-align:middle">@car.TotalSlots</td>
                                        <td style="vertical-align:middle">@car.DriverName</td>
                                        <td style="vertical-align:middle">@car.DriverPhone</td>
                                        <td style="vertical-align:middle">
                                            <a href="@Url.Action("EditCarNotCe", "Sponsor", new { id = @car.CarID })" class="btn-u" title="Chỉnh sửa"><i class="fa fa-pencil-square-o"></i></a>
                                            <a href="@Url.Action("EditCar", "Sponsor", new { id = @car.CarID })" class="btn-u btn-u-dark-blue" title="Tài Trợ"><i class="fa fa-gift"></i></a>
                                            <a href="@Url.Action("DeleteCar", "Sponsor", new { id = @car.CarID })" onclick = "return showPopup('Bạn có chắc sẽ xóa xe này?', this.href);" class="btn-u btn-u-red" title="Xóa xe"><i class="fa fa-trash-o"></i></a>
                                        </td>


                                    </tr>
                                        ++counter;
                                    }
                                }
                            </tbody>
                        </table>
                        }
                    </div>
                    <div class="tab-pane" id="sponsored">
                        @if ((Model.Count(r => r.CharityExamID != null) == 0)) // no car sponsored.
                        {
                        <div id="showMessage1" class="alert alert-danger fade in">
                            <strong>Bạn chưa tài trợ xe nào!</strong>
                        </div>
                        }
                        else
                        {
                            <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Kỳ thi</th>
                                    <th>Tài Trợ Cho</th>
                                    <th>Biển số</th>
                                    <th>Chỗ còn trống</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;

                                    foreach (var item in ViewData["CarSponsored"] as IEnumerable<Car>)
                                    {                   
                                    <tr>
                                        <td style="vertical-align:middle">@count</td>
                                        <td style="vertical-align:middle">@item.ChairitiesExam.Examination.Name</td>
                                        <td style="vertical-align:middle">@item.ChairitiesExam.Charity.Name</td>
                                        <td style="vertical-align:middle">@item.NumberPlate</td>
                                        <td style="vertical-align:middle">@item.AvailableSlots/@item.TotalSlots</td>
                                        @if (item.IsApproved)
                                        {
                                            <td style="vertical-align:middle"><span class="label label-success">Đã tài trợ</span></td>
                                            <td style="vertical-align:middle"></td>
                                            
                                        }
                                        else if (!item.IsApproved)
                                        {
                                            <td style="vertical-align:middle"><span class="label label-danger">Chưa xác nhận</span></td>
                                            <td style="vertical-align:middle">
                                                <a href="@Url.Action("EditCarNotCe", "Sponsor", new { id = @item.CarID })" class="btn-u" title="Chỉnh sửa"><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="@Url.Action("DenieCar", "Sponsor", new { id = @item.CarID })"onclick = "return showPopup('Bạn có chắc muốn hủy tài trợ?', this.href);" class="btn-u btn-u-red" title="Hủy tài trợ"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        }
                                    </tr>
                                        ++count;
                                    }
                                }
                            </tbody>
                        </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-info" })*@
    <a href="@Url.Action("Index", "Sponsor")" class="btn-u btn-u-default"><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay về</a>
    @if ((Model.Count(r => r.CharityExamID == null) > 1)) // has some cars free.
    {
    <a href="@Url.Action("SponsoredAllCar", "Sponsor")" class="btn-u btn-u-red"  id="sponsoredcar" style="float: right"><i class="fa fa-gift"></i>&nbsp;Tài trợ nhiều xe</a>
    }
</div>