@model IEnumerable<TSMT.Models.Fund>
@{
    ViewBag.Title = "ManagerFund";
}
<div style="text-align: center">
    <h2>Tài Trợ Tiền</h2>
</div>
<div class="inner-page-content inner-careers">
    <div class="container">
        <div class="inner-tab">
            <ul id="mytab" class="nav nav-tabs">
                <li class="active"><a href="#one" data-toggle="tab">Tiền Đã Đóng Góp</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="one">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Kì Thi</th>
                                <th>Tên Nhà Tài Trợ</th>
                                <th>Quận</th>
                                <th>Tiền Đã Tài Trợ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i=1;
                                
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <th>@item.ChairitiesExam.Examination.Name</th>
                                    <td>@item.ChairitiesExam.Charity.Account.Profile.Lastname @item.ChairitiesExam.Charity.Account.Profile.Firstname</td>
                                    <td>@item.ChairitiesExam.District.Name</td>
                                    <td>@item.FundSponsored</td>
                                   
                                </tr>
                                i++;
                            }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
@Html.ActionLink("Tài Trợ Thêm", "AddNewFund", null,new { @class="btn btn-info" } )
@Html.ActionLink("Quay Lại", "Index", null,new { @class="btn btn-info" } )
