@model IEnumerable<TSMT.Models.ChairitiesExam>

@{
    ViewBag.Title = "JoinNewCE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center">
    <h2>Tham Gia Tổ Chức</h2>
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Hãy chọn 1 tổ chức mà bạn muốn tham gia vào</legend>
        <div class="editor-label">
             Kì Thi + Nhà Tài Trợ
        </div>
        <div class="editor-field">
           <select id="CharityName" name="CharityName">
            @foreach (var item in Model)
            {
                <option value="@item.CharityExamID">@item.Examination.Name -- @item.Charity.Account.Profile.Lastname @item.Charity.Account.Profile.Firstname -- </option>
            }
                </select>
        </div>
        <p>
            <input type="submit" value="Tham Gia" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


