<!--Begin Sidebar Menu-->
            <div class="col-md-3">
                <div class="row tab-v3">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="@(ViewBag.Active == "Admin" ? "active" : "")">
                                <a href="@Url.Action("Index","Admin")"><i class="icon-home"></i>Trang chủ</a></li>
                            <li class="@(ViewBag.Active == "ManageAccount" ? "active" : "")">
                                <a href="@Url.Action("ManageAccount","Admin")"><i class="icon-user"></i>Quản lý tài khoản</a></li>
                            <li class="@(ViewBag.Active == "ManageCategory" ? "active" : "")">
                                <a href="@Url.Action("ManageCategory","Admin")"><i class="icon-flag"></i>Quản lý thể loại </a></li>
                            <li class="@(ViewBag.Active == "ManagePost" ? "active" : "")">
                                <a href="@Url.Action("ManagePost","Admin")"><i class="icon-lightbulb"></i>Thông tin bài viết</a></li>
                            <li class="@(ViewBag.Active == "ManageUniversity" ? "active" : "")">
                                <a href="@Url.Action("ManageUniversity","Admin")"><i class="icon-building"></i>Thông tin các trường ĐHCĐ</a></li>
                            <li class="@(ViewBag.Active == "ManageExam" ? "active" : "")">
                                <a href="@Url.Action("ManageExam","Admin")"><i class="icon-calendar"></i>Thông tin các đợt thi</a></li>
                            <li class="@(ViewBag.Active == "ManageUniversityExam" ? "active" : "")">
                                <a href="@Url.Action("ManageUniversityExam","Admin")"><i class="icon-gear"></i>Thông tin kỳ thi - trường ĐHCĐ</a></li>
                            <li class="@(ViewBag.Active == "Statistics" ? "active" : "")">
                                <a href="@Url.Action("Statistics","Admin")"><i class="icon-rocket"></i>Thống kê</a></li>
                        </ul>
                    </div>
                </div>
            </div>