@using TSMT.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - TSMT</title>

    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/settings.css" rel="stylesheet">
    <link href="/Content/css/animate.min.css" rel="stylesheet">
    <link href="/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div class="out-container">
        <div class="outer">
            <div class="sidebar">
                <div class="logo">
                    <h1><a href="/">TSMT</a></h1>
                </div>
                @if (Session["acc"] != null)
                { 
                    <div class="sidebar-buttons text-center">
                        <div class="btn-group">
                            <a href="@Url.Action("Logout", "Home")" class="btn btn-black btn-xs"><i class="icon-lock"></i></a>
                            <a href="@Url.Action("Logout", "Home")" class="btn btn-danger btn-xs">Sign Out</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="sidebar-buttons text-center">
                        <div class="btn-group">
                            <a href="@Url.Action("Entrance", "Home")" class="btn btn-black btn-xs"><i class="icon-user"></i></a>
                            <a href="@Url.Action("Entrance", "Home")" class="btn btn-danger btn-xs">Sign In</a>
                        </div>
                        <div class="btn-group">
                            <a href="@Url.Action("Registration", "Home")" class="btn btn-black btn-xs"><i class="icon-lock"></i></a>
                            <a href="@Url.Action("Registration", "Home")" class="btn btn-danger btn-xs">Sign Up</a>
                        </div>
                    </div>
                }
                <div class="sidebar-search">
                    <form class="form-inline" role="form">
                        <div class="input-group">
                            <input type="text" class="form-control" id="s" placeholder="Type Here to Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

                <div class="sidey">
                    <ul class="nav">
                        <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i>Trang Chủ</a></li>
                        @if (Session["acc"] != null)
                        {
                            int roleId = ((Account)Session["acc"]).RoleID;
                            switch (roleId)
                            {
                                case 1:
                            @:<li><a href="@Url.Action("Index", "Candidate")"><i class="icon-user"></i>Candidate</a></li>
                                        break;
                                case 2:
                            @:<li><a href="@Url.Action("Index", "Charity")"><i class="icon-user"></i>Charity</a></li>
                                        break;
                                case 3:
                            @:<li><a href="@Url.Action("Index", "Sponsor")"><i class="icon-user"></i>Sponsor</a></li>
                                        break;
                                case 4:
                            @:<li><a href="@Url.Action("Index", "Volunteer")"><i class="icon-user"></i>Volunteer</a></li>
                                        break;
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="mainbar">
                @RenderBody()
                <div class="footer">
                    <div class="container">
                        <div class="footer-content">
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    <div class="footer-widget">
                                        <h5><span><i class="icon-puzzle-piece"></i></span>Navigation Menu</h5>
                                        <ul class="menu">
                                            <li><a href="#"><i class="icon-home"></i>Home</a></li>
                                            <li><a href="#"><i class="icon-book"></i>Careers</a></li>
                                            <li><a href="#"><i class="icon-picture"></i>Gallery</a></li>
                                            <li><a href="#"><i class="icon-group"></i>Testimonial</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <div class="footer-widget">
                                        <h5><span><i class="icon-phone"></i></span>Contact Us</h5>
                                        <p>
                                            <i class="icon-envelope"></i><a href="#">khoandse@gmail.com</a><br />
                                            <i class="icon-phone"></i>(+840)169.968.1992
                                        </p>
                                        <div class="social">
                                            <a href="https://www.facebook.com/groups/group22.tsmt/" class="facebook"><i class="icon-facebook"></i></a>
                                            <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                            <a href="#" class="google-plus"><i class="icon-google-plus"></i></a>
                                            <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <div class="footer-widget">
                                        <h5><span><i class="icon-gears"></i></span>Dolor Sitamet</h5>
                                        <ul>
                                            <li><a href="#">Sed do eiusmod</a></li>
                                            <li><a href="#">Excepteur sint occaeca</a></li>
                                            <li><a href="#">Nemo enim ipsam</a></li>
                                            <li><a href="#">Voluptatem accusantium</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <div class="footer-widget">
                                        <h5><span><i class="icon-envelope"></i></span>Subscribe Now</h5>
                                        <p>At vero eos et accus odiusantiuo dign amus et iustod.</p>
                                        <form>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Email">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info" type="button"><i class="icon-envelope"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-copyright">
                            <p>Project <a href="https://www.facebook.com/groups/group22.tsmt/" style="color: blue;">"Tiếp sức mùa thi"</a> - Group 22</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
    <script src="Content/js/jquery.js"></script>
    <script src="Content/js/bootstrap.min.js"></script>
    <script src="Content/js/jquery.themepunch.revolution.min.js"></script>
    <script src="Content/js/jquery.themepunch.plugins.min.js"></script>
    <script src="Content/js/waypoints.min.js"></script>
    <script type="text/javascript" src="Content/js/isotope.js"></script>
    <script type="text/javascript" src="Content/js/jquery.prettyPhoto.js"></script>
    <script src="Content/js/respond.min.js"></script>
    <script src="Content/js/html5shiv.js"></script>
    <script src="Content/js/custom.js"></script>
</body>
</html>
