@using TSMT.Models
<div class="sidebar-dropdown"><a href="#">Navigation</a></div>

<div class="sidey">
    <ul class="nav">
        <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i>Trang Chủ</a></li>
        @if (Session["acc"] != null)
        {
            int roleId = ((Account)Session["acc"]).RoleID;
            switch (roleId)
            {
                case 1:
            @:<li><a href="@Url.Action("Index", "Candidate")"><i class="icon-user"></i>Candidate</a></li>
                                        break;
                case 2:
            @:<li><a href="@Url.Action("Index", "Charity")"><i class="icon-user"></i>Charity</a></li>
                                        break;
                case 3:
            @:<li><a href="@Url.Action("Index", "Sponsor")"><i class="icon-user"></i>Sponsor</a></li>
                                        break;
                case 4:
            @:<li><a href="@Url.Action("Index", "Volunteer")"><i class="icon-user"></i>Volunteer</a></li>
                                        break;
            }
        }
    </ul>
</div>
