<!--Begin Sidebar Menu-->
@*<i class="style-switcher-btn icon-cogs hidden-xs" onclick="toggleDiv()"></i>*@
@*<i class="style-switcher-btn icon-cogs hidden-xs" onclick="$('#hide').toggle('slow'); return false;"></i>*@
<div class="col-md-3" id="hideSidebar">
    <div class="row tab-v3">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-stacked">
                @*<li class="@(ViewBag.Active == "SponsorHome" ? "active" : "")"><a href="@Url.Action("Index", "Sponsor")"><i class="icon-home"></i>Home</a></li>*@
                <li class="@(ViewBag.Active == "ManageCar" ? "active" : "")"><a href="@Url.Action("ManageCar", "Sponsor")"><i class="icon-user"></i>Quản lý xe</a></li>
                <li class="@(ViewBag.Active == "ManageFund" ? "active" : "")"><a href="@Url.Action("ManageFund", "Sponsor")"><i class="icon-flag"></i>Quản lý tiền tài trợ</a></li>
                <li class="@(ViewBag.Active == "ManageLodge" ? "active" : "")"><a href="@Url.Action("ManageLodge", "Sponsor")"><i class="icon-lightbulb"></i>Quản lý chỗ trọ</a></li>
                <li class="@(ViewBag.Active == "AddResource" ? "active" : "")"><a href="@Url.Action("AddResource", "Sponsor")"><i class="icon-plus"></i>Ủng hộ tài nguyên</a></li>
                <li class="@(ViewBag.Active == "ViewStatistic" ? "active" : "")"><a href="@Url.Action("ViewStatistic", "Sponsor")"><i class="icon-rocket"></i>Xem Thống Kê</a></li>
            </ul>
        </div>
    </div>
</div>

@*<script type="text/javascript">
    $(document).ready(function () {
        $("i").click(function () {
            if ($("#hideSidebar")[0].style.display == '' || $("#hideSidebar")[0].style.display == 'block') {
                $("#showInformation").animate({ width: '100%' }, 'normal', function () {
                    $("#showInformation").toggleClass('col-md-9').toggleClass('col-md-12')
                })
            } else {
                $("#showInformation").animate({ width: '75%' }, 'normal', function () {
                    $("#showInformation").toggleClass('col-md-9').toggleClass('col-md-12')
                })
            }
            $("#hideSidebar").toggle('normal');
        });
    });
</script>*@
