@using TSMT.Models

<!--=== Top ===-->
<div class="topbar">
    <div class="container">
        <!-- Topbar Navigation -->
        <ul class="loginbar pull-right">
            @*<li>
                <i class="fa fa-globe"></i>
                <a>Thông báo</a>
                <ul class="lenguages">
                    <li class="active">
                        <a href="#">English <i class="fa fa-check"></i></a>
                    </li>
                    <li><a href="#">Spanish</a></li>
                    <li><a href="#">Russian</a></li>
                    <li><a href="#">German</a></li>
                </ul>
            </li>*@
            <li class="topbar-devider"></li>
            @if (Session["acc"] != null)
            {               
                      
                <li>
                    <a>Chào <strong>@(((Account)Session["acc"]).Profile.Lastname) @(((Account)Session["acc"]).Profile.Firstname)</strong></a>
                    <i class="fa fa-angle-down"></i>
                    <ul class="lenguages" style="vertical-align: middle">
                        <li>
                            <a href="@Url.Action("EditAccount", "Account", new { id = ((Account)Session["acc"]).AccountID })" style="text-align:center">Thông tin
                                <br />
                                tài khoản</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ManageExamPaper", "Candidate", new { id = ((Account)Session["acc"]).AccountID })"  style="text-align:center">Thông tin
                                <br />
                                phiếu báo thi</a>
                        </li>
                        <li><a href="#">Đổi mật khẩu</a></li>
                    </ul>
                </li>      
@*  <li class="topbar-devider"></li>*@
                <li><a href="@Url.Action("Logout", "Account")" style="text-align:center"><i class="fa fa-sign-out"></i><b style="color: red">&nbsp;Thoát</b></a></li>

                  
            }
            else if (Session["acc"] == null)
            {
                <li><a href="@Url.Action("Login", "Account")" style="text-align:center"><i class="fa fa-sign-in"></i>&nbsp;Đăng nhập</a></li>
                <li class="topbar-devider"></li>
                <li><a href="@Url.Action("Register", "Account", new { area = "" })" style="text-align:center"><i class="fa fa-info"></i>&nbsp;Đăng ký</a></li>
            }

        </ul>
    </div>
</div>
