@model TSMT.Models.University
@{
    ViewBag.Title = "Edit University";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">@ViewBag.Title</h2>
@using (Html.BeginForm("EditUniversity", "Admin", FormMethod.Post))
{
    <input type="hidden" name="uniId" value="@Model.UniversityID" />
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" name="Name" value="@Model.Name" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" name="Address" value="@Model.Address"/></td>
        </tr>
        <tr>
            <td>UniversityCode</td>
            <td>
                <input type="text" name="UniversityCode" value="@Model.UniversityCode"/></td>
        </tr>
        <tr>
            <td>Website</td>
            <td>
                <input type="text" name="Website" value="@Model.Website"/></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>
                <input type="text" name="Phone" value="@Model.Phone"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit" class="btn btn-info" />
                <input type="reset" value="Reset" class="btn btn-info" />
                <input type="button" value="Cancel" class="btn btn-info" onclick="location.href = '/Admin/ManageUniversity'; return false;"/>
            </td>
        </tr>
    </table>
}
