@using TSMT.Controllers
@{
    ViewBag.Title = "ImportError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Lỗi khi nhập thông tin trường</h4>

<div class="tab-pane" id="lodge">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Tên trường</th>
                <th>Mã trường</th>
                <th>Địa chỉ</th>
                <th>Nguyên nhân</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var error in TempData["listerror"] as IEnumerable<AdminController.ImportErrors>)
                {
                <tr>
                    <td>@if (error.Name != null)
                        {
                        @error.Name
                        }
                        else
                        {
                        @error.SameName
                        }
                    </td>
                    <td>@if (error.Code != null)
                        {
                        @error.Code
                        }
                        else
                        {
                        @error.Code
                        }
                    </td>
                    <td>
                        @if (error.Address != null)
                        {
                            @error.Address
                        }
                        else
                        {
                            @error.SameAddress
                        }
                    </td>

                    @if (string.IsNullOrEmpty(error.Name))
                    {
                        <td>Không có tên trường</td>
                    }
                    else if (error.SameName != null)
                    {
                        <td>Tên trường đã tồn tại</td>
                    }
                    @if (string.IsNullOrEmpty(error.Code))
                    {
                        <td>Không có mã trường</td>
                    }
                    else if (error.SameCode != null)
                    {
                        <td>Mã trường đã tồn tại</td>
                    }
                    @if (string.IsNullOrEmpty(error.Address))
                    {
                        <td>Không có địa chỉ trường</td>
                    }
                </tr>
                }
            }
        </tbody>
    </table>
    <a href="@Url.Action("ManageUniversity", "Admin")" class="btn-u btn-u-sea"><i class="icon-chevron-sign-left"></i>&nbsp;Về trang quản lý trường </a>
</div>

