@{
    ViewBag.Title = "Quản trị";
    ViewBag.Active = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Chào mừng đến khu vực Quản trị TSMT</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="active">Admin</li>
            </ul>
        </div>
    </div>
   
}
@Html.Partial("_AdminSidebarPartial")

<div class="col-md-9">
    <div class="headline">
        <h2>Hệ thống</h2>
    </div>
    <a href="@Url.Action("ManageAccount", "Admin")">
        <div class="row servive-block margin-bottom-10">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-blue">
                    <h4>Quản lý <br /> tài khoản</h4>
                    <div><i class="fa fa-user"></i></div>
                    @*<p>HDSD</p>*@
                </div>
            </div>
        </div>
    </a>

    <div class="headline">
        <h2>Tin tức</h2>
    </div>
    <div class="row servive-block margin-bottom-10">
        <a href="@Url.Action("ManageCategory", "Admin")">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>Quản lý <br /> thể loại</h4>
                    <div><i class="fa fa-bookmark-o"></i></div>
                    @*<p>HDSD</p>*@
                </div>
            </div>
        </a>
        <a href="@Url.Action("ManagePost", "Admin")">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>Quản lý 
                            <br />
                        bài viết</h4>
                    <div><i class="fa fa-file-text-o"></i></div>
                    @*<p>HDSD</p>*@
                </div>
            </div>
        </a>
    </div>

    <div class="headline">
        <h2>TSMT</h2>
    </div>
    <div class="row servive-block margin-bottom-10">
         <a href="@Url.Action("ManageExam", "Admin")">
            <div class="col-md-4 col-sm-7">
                <div class="servive-block-in servive-block-colored servive-block-green">
                    <h4>Quản lý <br /> thông tin <br /> các đợt thi</h4>
                    <div><i class="fa fa-calendar"></i></div>
                    @*<p>HDSD</p>*@
                </div>
            </div>
        </a>
        <a href="@Url.Action("ManageUniversity", "Admin")">
            <div class="col-md-4 col-sm-7">
                <div class="servive-block-in servive-block-colored servive-block-green">
                    <h4>Quản lý <br /> thông tin <br /> các trường ĐHCĐ</h4>
                    <div><i class="fa fa-university"></i></div>
                    @*<p>HDSD</p>*@
                </div>
            </div>
        </a>
       
        <a href="@Url.Action("ManageUniversityExam", "Admin")">
            <div class="col-md-4 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-green">
                    <h4>Quản lý thông tin <br />các đợt thi <br /> của trường ĐHCĐ</h4>
                    <div><i class="fa fa-calendar-o"></i></div>
                    @*<p>HDSD</p>*@
                </div>
            </div>
        </a>
    </div>
</div>
