@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewBag.Title = "ADMIN";
}

<div class="service-one">
    <div class="service-one-inner">
        <div class="container">
            <h3 class="head"><i class="icon-gears lblue"></i>System</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="s-one-item sitem-one">
                        <i class="icon-briefcase"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Accounts", "#")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="head"><i class="icon-gears lblue"></i>News</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="s-one-item sitem-one">
                        <i class="icon-gear"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Categories", "ManageCategory")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="s-one-item sitem-two">
                        <i class="icon-briefcase"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Posts", "#")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="head"><i class="icon-gears lblue"></i>TSMT</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="s-one-item sitem-one">
                        <i class="icon-gear"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Universities", "ManageUniversity")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="s-one-item sitem-two">
                        <i class="icon-briefcase"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Examinations", "ManageExam")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="s-one-item sitem-three">
                        <i class="icon-briefcase"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Uni-Exam", "ManageUniversityExam")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
