@{
    ViewBag.Title = "Quản lý Đợt thi (" + @DateTime.Now.Year + ")";
    ViewBag.Active = "ManageExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model IEnumerable<Examination>

<link href="/Content/css/TSMTPopup.css" rel="stylesheet">
<script src="/Content/js/TSMTPopup.js"></script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Admin")">Quản trị viên</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_AdminSidebarPartial")

<div class="col-md-9">
    <div class="panel panel-red margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Thông tin về các đợt thi năm @DateTime.Now.Year
                <a href="@Url.Action("AddExam", "Admin")" class="btn-u btn-u-default" id="createNew"><i class="icon-plus"></i>Tạo mới</a>
            </h3>
            <div class="devider"></div>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Đợt thi</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>                
                @{
                    int counter = 1;
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>@counter</td>
                        <td>@item.Name</td>
                        <td>@item.BeginDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.EndDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a href="@Url.Action("ManageScheduleExam","Admin", new { id = @item.ExaminationID })" class="btn-u btn-u-yellow"><i class="icon-hand-right"></i> Chi tiết lịch thi</a>
                            @if (item.ChairitiesExams.Count == 0 && item.UniversitiesExaminations.Count == 0)
                            {
                                <a href="@Url.Action("DeleteExam", "Admin", new { id = @item.ExaminationID })" class="btn-u btn-u-orange" onclick="return showPopup('Bạn có chắc chắc muốn xoá <strong>@item.Name (@DateTime.Now.Year)</strong> không?', this.href);"><i class="icon-trash"></i> Xoá đợt thi</a>
                            }
                        </td>
                    </tr>
                            ++counter;
                    }
                }
            </table>
        </div>
    </div>
    <a href="@Url.Action("Index", "Admin")" class="btn-u btn-u-sea"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại </a>
</div>
