@{
    ViewBag.Title = "ManageUniversity";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using TSMT.Models
@model IEnumerable<University>

<h2 class="title_of_page">Manage University</h2>
<div class="inner-page-content inner-careers">
    <div class="container">
        <table class="table table-hover table-bordered ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên trường</th>
                    <th>Mã trường</th>
                    <th>Địa chỉ</th>
                    <th>Website</th>
                    <th>Số điện thoại</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>@i</td>
                        <td>@item.Name</td>
                        <td>@item.UniversityCode</td>
                        <td>@item.Address</td>
                        <td>@item.Website</td>
                        <td>@item.Phone</td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteUni", new { uniId = @item.UniversityID })
                        </td>
                    </tr>
                        i = i + 1;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@Html.ActionLink("Create", "AddUniversity", null, new { @class = "btn btn-info" })
<button class="btn btn-info" onclick="window.history.back(-1);">Back</button>