@using TSMT.Models
@model IEnumerable<Venue>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Manage Venues of Uni-Exam</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>STT</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                foreach (var item in Model)
                {
                <tr>
                    <td>@counter</td>
                    <td>@item.Address</td>
                    <td>
                        @Html.ActionLink("View On Map", "ViewOnMap", new { veId = @item.VenueID })
                        @Html.ActionLink("Edit", "EditVenue", new { veId = @item.VenueID })
                        @Html.ActionLink("Delete", "DeleteVenue", new { veId = @item.VenueID })
                    </td>
                </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
</div>
@Html.ActionLink("Create", "AddVenue", new { ueId = @ViewData["ueId"]}, new { @class = "btn btn-info" })
@Html.ActionLink("Back to Manage Uni-Exam", "DetailsUE", new { ueId = @ViewData["ueId"]}, new { @class = "btn btn-info" })
