@{
    ViewBag.Title = "ManagerExam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using TSMT.Models


<h2>Manage Exam</h2>
<br />
<div class="table-responsive">
    <table class="table table-bordered">
        <tr class="active">
            <th>ID</th>
            <th>Name</th>
            <th>Begin Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ExaminationID</td>
                <td>@item.Name</td>
                <td>@item.BeginDate</td>
                <td>@item.EndDate</td>
                <td>
                    @Html.ActionLink("Edit", "EditExamination", new { examId = @item.ExaminationID })
                    @Html.ActionLink("Delete", "DeleteExamination", new { id = @item.ExaminationID })
                </td>
            </tr>
        }
    </table>
     @Html.ActionLink("Create","AddExam", null, new { @class="btn btn-info" })
</div>
