@{
    ViewBag.Title = "Manage Examination-Schedules";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using TSMT.Models
@model IEnumerable<DetailsScheduleExam>

<h2 class="title_of_page">@ViewBag.Title</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>#</th>
                <th>Giờ bắt đầu</th>
                <th>Giờ kết thúc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
                foreach (DetailsScheduleExam item in Model)
                {
                <tr>
                    <td>@counter</td>
                    <td>@item.BeginHour</td>
                    <td>@item.EndHour</td>
                    <td>
                        @Html.ActionLink("Edit", "EditScheduleExam", new { id = @item.DetailsScheduleExamID })
                    </td>
                </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
    @Html.ActionLink("Back to Manage Examinations", "/admin/ManageExam", null, new { @class = "btn btn-info" })
</div>
