@{
    ViewBag.Title = "Quản lý tài khoản";
    ViewBag.Active = "ManageAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TSMT.Models
@model IEnumerable<Profile>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Admin")">Admin</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_AdminSidebarPartial")

<div class="col-md-9">
    <div class="panel panel-red margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-user"></i>Thông tin tài khoản</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;
                        foreach (var item in Model)
                        {
                        <tr>
                            <td>@counter</td>
                            <td>@item.Account.Profile.Lastname @item.Account.Profile.Middlename @item.Account.Profile.Firstname </td>
                            <td>@item.Account.Email</td>
                             <td>@item.PhoneNumber</td>
                            <td>@if (item.Account.IsActive.Equals(true))
                                {
                                <span class="label label-success"><b> Đã kích hoạt</b></span>
                                }
                                else
                                {
                                <span class="label label-danger"><b> Chưa kích hoạt</b></span>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("ViewDetailAccount", "Admin", new { id = @item.ProfileID })" class="btn-u btn-u-default"><i class="icon-info"></i> Xem</a>
                                <a href="@Url.Action("EditAccount", "Admin", new { id = @item.ProfileID })" class="btn-u btn-u-blue"><i class="icon-edit"></i> Sửa</a>
                            </td>
                        </tr>
                                ++counter;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
