@{
    ViewBag.Title = "Manage Examinations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using TSMT.Models

<h2 class="title_of_page">@ViewBag.Title</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Begin Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        @{
            int counter = 1;
            foreach (var item in Model)
            {
            <tr>
                <td>@counter</td>
                <td>@item.Name</td>
                <td>@item.BeginDate</td>
                <td>@item.EndDate</td>
                <td>
                    @Html.ActionLink("Manage Schedules", "ManageScheduleExam", new { id = @item.ExaminationID })
                    @if (item.IsRemovable)
                    {
                        @Html.ActionLink("Delete", "DeleteExam", new { id = @item.ExaminationID }, new { onclick = "return showPopup('Please confirm to delete it.', this.href);" })
                    }
                </td>
            </tr>
                    ++counter;
            }
        }
    </table>
    @Html.ActionLink("Create", "AddExam", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to Control Panel", "/", null, new { @class = "btn btn-info" })
</div>
