@using TSMT.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Add Exam Paper</h2>
@using (Html.BeginForm("AddExamPaper", "Candidate", FormMethod.Post))
{
    <table>
        <tr>
            <td>Kỳ thi + Trường</td>
            <td>
                <select name="UniExamID">
                    @foreach (var item in ViewData["uniExams"] as IEnumerable<UniversitiesExamination>)
                    {
                        <option value="@item.UniExamID">@item.Examination.Name - @item.University.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Địa điểm thi</td>
            <td>
                <select name="VenueID">
                    @foreach (var item in ViewData["venues"] as IEnumerable<Venue>)
                    {
                        <option value="@item.VenueID">@item.Address</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create" class="btn btn-info" />
                <input type="reset" value="Reset" class="btn btn-info" />
            </td>
        </tr>
    </table>
}
