@using TSMT.Models
@model ExaminationsPaper
@{
    ViewBag.Title = "Xem chi tiết phiếu báo thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-20">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Candidate")">Thí sinh</a></li>
                <li><a href="@Url.Action("ManageExamPaper", "Candidate")">Thông tin phiếu báo thi</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_AccountSidebarPartial")

<div class="col-md-9">
    <div class="headline">
        @if (Model.CharityExamID == null)
        {
            <h3>Phiếu báo thi của bạn chưa được đăng ký vào Hội từ thiện.
                    <a href="@Url.Action("JoinInCE", "Candidate", new { id = Model.ExamPaperID })" class="btn-u btn-u-orange"><i class="icon-search">Tìm Hội từ thiện</i></a>
                @*@Html.ActionLink("Find one now!", "JoinInCE", new { id = Model.ExamPaperID }, new { @class = "btn btn-info" })*@
            </h3>
        }
        else
        {
            if (Model.GroupID == null && Model.RoomID == null)
            {
            <h3>Phiếu báo thi của bạn đã được đăng ký vào Hội @Model.ChairitiesExam.CharityExamName! 
                      <a href="@Url.Action("LeaveCE", "Candidate", new { id = Model.ExamPaperID })" class="btn-u btn-u-default" onclick="return showPopup('Please confirm to leave them.', this.href)" ><i class="icon-chevron-sign-left">&nbsp;Rời Hội từ thiện</i></a>
                @*@Html.ActionLink("Leave them", "LeaveCE", new { id = Model.ExamPaperID }, new { @class = "btn btn-info", @onclick = "return showPopup('Please confirm to leave them.', this.href)" })*@
            </h3>
            }
            else
            {
            <h3>Phiếu báo thi của bạn đã được đăng ký vào Hội @Model.ChairitiesExam.CharityExamName!
            </h3>
            }
        }
    </div>

    <div class="panel panel-blue margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list">&nbsp;Thông tin thi</i></h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td>Kỳ thi</td>
                    <td>@Model.UniversitiesExamination.Examination.Name</td>
                </tr>
                <tr>
                    <td>Trường</td>
                    <td>@Model.UniversitiesExamination.University.Name</td>
                </tr>
                <tr>
                    <td>Địa điểm thi</td>
                    <td>@Model.Venue.Address</td>
                </tr>
            </table>
        </div>
    </div>

    @if (Model.LodgeRegisteredID != null)
    {
        <div class="panel panel-blue margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list">&nbsp;Thông tin đăng kí được hỗ trợ</i></h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td>Hội từ thiện</td>
                        <td>@Model.ChairitiesExam.CharityExamName</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ trọ</td>
                        <td>@Model.Lodge.Address</td>
                    </tr>
                    <tr>
                        <td>Phòng trọ</td>
                        @if (Model.RoomID != null)
                        {
                            <td>@Model.Room.RoomName</td>
                        }
                        else
                        {
                            <td>#Chưa có phòng#</td>
                        }
                    </tr>
                    <tr>
                        <td>Xe đưa đón</td>
                        @if (Model.CarID != null)
                        {
                            <td>@Model.Car.NumberPlate</td>
                        }
                        else
                        {
                            <td>#Chưa có xe đưa đón#</td>
                        }
                    </tr>
                    <tr>
                        <td>Nhóm bạn</td>
                        <td>
                            @if (Model.GroupID == null)
                            {
                                @Html.ActionLink("Tạo nhóm", "CreateGroup", new { id = Model.ExamPaperID }, new { @class = "btn btn-info" })
                            }
                            else
                            {
                                @Html.ActionLink("Xem nhóm", "ViewGroup", new { id = Model.ExamPaperID }, new { @class = "btn btn-info" })
                            }
                            @Html.ActionLink("Tìm kiếm bạn bè", "JoinInGroup", new { id = Model.ExamPaperID }, new { @class = "btn btn-info" })</td>
                    </tr>
                </table>
            </div>
        </div>
    }



    @if (ViewData["joinIn"] != null)
    {
        <div class="headline">
            <h2>Thông tin liên quan</h2>
        </div>
        <div class="row servive-block margin-bottom-10">
            <a href="@Url.Action("ViewSchedule", "Candidate")">
                <div class="col-md-4 col-sm-6">
                    <div class="servive-block-in servive-block-colored servive-block-green">
                        <h4>Xem lịch đưa đón</h4>
                        <div><i class="icon-bell"></i></div>
                        <p>HDSD</p>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("ViewRoute", "Candidate")" >
                <div class="col-md-3 col-sm-6">
                    <div class="servive-block-in servive-block-colored servive-block-red">
                        <h4>Xem đường đi</h4>
                        <div><i class="icon-bullhorn"></i></div>
                        <p>HDSD</p>
                    </div>
                </div>
            </a>
            if (Model.GroupID != null)
                       {
        <a href="@Url.Action("ViewGroup", "Candidate", new { id = Model.GroupID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-sea">
                    <h4>Xem nhóm</h4>
                    <div><i class="icon-lightbulb"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
            }
        </div>
    }
</div>
