@using TSMT.Models
@model ExaminationsPaper
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Details Exam Paper</h2>

@if (ViewData["joinIn"] == null)
{
    <h3 class="title_of_page">This Exam Paper is not registered to any CE! @Html.ActionLink("Find one now!", "JoinIn", new { examPaperId = Model.ExamPaperID }, new { @class = "btn btn-info" })</h3>
}
else
{
    <h3 class="title_of_page">This Exam Paper has registered to @(((JoinsIn)ViewData["joinIn"]).ChairitiesExam.CharityExamName)! @Html.ActionLink("Leave them", "LeaveCE", new { examPaperId = Model.ExamPaperID }, new { @class = "btn btn-info", @onclick="return showPopup('Please confirm to leave them.', this.href)" })</h3>
}
<table>
    <tr>
        <td>Kỳ thi</td>
        <td>@Model.UniversitiesExamination.Examination.Name</td>
    </tr>
    <tr>
        <td>Trường</td>
        <td>@Model.UniversitiesExamination.University.Name</td>
    </tr>
    <tr>
        <td>Địa điểm thi</td>
        <td>@Model.Venue.Address</td>
    </tr>
</table>

@if (ViewData["joinIn"] != null)
{
    <div class="service-one">
        <div class="service-one-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="s-one-item sitem-one">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("View Schedule", "ViewSchedule")</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s-one-item sitem-two">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("View Route", "View Route")</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}