@{
    ViewBag.Title = "Xem chi tiết phiếu báo thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model ExaminationsPaper

<script src="/Content/js/TSMTViewOnMap.js"></script>

@section Breadcrumbs {
    <div class="breadcrumbs margin-bottom-20">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li>@Html.ActionLink("Thí sinh", "Index")</li>
                <li>@Html.ActionLink("Thông tin phiếu báo thi", "ManageExamPaper")</li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_AccountSidebarPartial")

<div class="col-md-9">
    <div class="headline">
        @if (Model.CharityExamID == null)
        {
            <h3>Phiếu báo thi chưa được đăng ký vào Hội từ thiện nào!
                @*@Html.ActionLink("Đăng ký ngay!", "JoinInCE", new { id = Model.ExamPaperID }, new { @class = "btn btn-u-orange" })*@
                <a href="@Url.Action("JoinInCE", "Candidate", new { id = Model.ExamPaperID })" class="btn-u btn-u-orange"><i class="icon-search"></i>Đăng ký ngay</a>
            </h3>
        }
        else
        {
            if (Model.GroupID == null && Model.RoomID == null && Model.CarID == null)
            {
            <h3>Phiếu báo thi đã được đăng ký vào Hội từ thiện <a href="#" title="Xem thông tin của Hội từ thiện @Model.ChairitiesExam.Charity.Name" onclick="">@Model.ChairitiesExam.Charity.Name!</a>
                @*@Html.ActionLink("Rời khỏi hội từ thiện", "LeaveCE", new { id = Model.ExamPaperID }, new { @class = "btn-u btn-u-default", @onclick = "return showPopup('Please confirm to leave them.', this.href)" })*@
                <a href="@Url.Action("LeaveCE", "Candidate", new { id = Model.ExamPaperID })" class="btn-u btn-u-purple" onclick = "return showPopup('Please confirm to leave them.', this.href)" })><i class="icon-signout"></i>Rời Hội từ thiện</a>
            </h3>
            }
            else
            {
            <h3>Phiếu báo thi của bạn đã được đăng ký vào Hội từ thiện <a href="#" title="Xem thông tin của Hội từ thiện @Model.ChairitiesExam.Charity.Name" onclick="">@Model.ChairitiesExam.Charity.Name!</a>
            </h3>
            }
        }
    </div>
    <div class="panel panel-blue margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list">&nbsp;Thông tin phiếu báo thi</i></h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td>Kỳ thi</td>
                    <td><a href="#" title="Xem lịch thi @Model.UniversitiesExamination.Examination.Name" onclick="">@Model.UniversitiesExamination.Examination.Name</a></td>
                </tr>
                <tr>
                    <td>Trường</td>
                    <td>@Model.UniversitiesExamination.University.Name</td>
                </tr>
                <tr>
                    <td>Địa điểm thi</td>
                    <td>
                        @if (Model.LodgeRegisteredID == null)
                        {
                            <a href="#" title="Hiển thị trên bản đồ" onclick="openWindowPopup('/Home/ViewVenue/', @Model.VenueID); return false;">@Model.Venue.Address</a>
                        }
                        else
                        {
                            <a href="#" title="Hiển thị trên bản đồ" onclick="openWindowPopup('/Home/ViewPlaces/', @Model.ExamPaperID); return false;">@Model.Venue.Address</a>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @if (Model.LodgeRegisteredID != null)
    {
        <div class="panel panel-blue margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list">&nbsp;Hỗ trợ của nhà từ thiện</i></h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td>Hội từ thiện</td>
                        <td><a href="#" title="Xem thông tin của Hội từ thiện @Model.ChairitiesExam.Charity.Name" onclick="">@Model.ChairitiesExam.Charity.Name</a></td>
                    </tr>
                    <tr>
                        <td>Địa chỉ trọ</td>
                        <td>
                            <a href="#" title="Hiển thị trên bản đồ" onclick="openWindowPopup('/Home/ViewPlaces/', @Model.ExamPaperID); return false;">@Model.Lodge.Address</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Phòng trọ</td>
                        @if (Model.RoomID != null)
                        {
                            <td><a href="/Candidate/ViewRoom/@Model.RoomID">@Model.Room.RoomName</a></td>
                        }
                        else
                        {
                            <td>#Chưa có phòng#</td>
                        }
                    </tr>
                    <tr>
                        <td>Xe đưa đón</td>
                        @if (Model.CarID != null)
                        {
                            <td><a href="/Candidate/ViewCar/@Model.CarID">@Model.Car.NumberPlate</a></td>
                        }
                        else
                        {
                            <td>#Chưa có xe đưa đón#</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-blue margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list">&nbsp;Thông tin riêng</i></h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td>Nhóm bạn</td>
                        @if (Model.GroupID != null) // has group --> can invite, or being asked by a Candidate
                        {
                            <td>Nhóm @Model.GroupID</td>
                        }
                        else
                        {
                            <td>#Chưa có nhóm#</td>
                        }
                        <td>
                            @if (Model.GroupID != null) // has group --> can invite, or being asked by a Candidate
                            {
                                @Html.ActionLink("Xem danh sách nhóm", "ViewGroup", new { id = Model.GroupID }, new { @class = "btn btn-info" })
                                if (Model.Group.OwnerID == Model.ExamPaperID) // is owner
                                {
                                @Html.ActionLink("Xoá nhóm", "DeleteGroup", new { id = Model.ExamPaperID }, new { @class = "btn btn-info" })
                                }
                                else // is member
                                { 
                                @Html.ActionLink("Rời nhóm", "LeaveGroup", new { id = Model.ExamPaperID }, new { @class = "btn btn-info" })
                                }
                            }
                            @Html.ActionLink("Tìm kiếm bạn bè", "FindFriend", new { id = Model.ExamPaperID }, new { @class = "btn btn-info" })
                        </td>
                    </tr>
                </table>
                <table class="table table-hover">
                    @{
                            ExaminationsPaper ep = new ExaminationsPaper();
                            foreach (GroupRequest gr in ViewData["actives"] as IEnumerable<GroupRequest>)
                            {
                        <tr>
                            @if (Model.GroupID != null) // in a group
                            {
                                <td>
                                    @if (gr.ActiveID == Model.ExamPaperID) // who invited?
                                    {
                                        <text>Bạn đã mời @gr.Receive.Candidate.Account.Profile.Lastname @gr.Receive.Candidate.Account.Profile.Firstname vào nhóm</text>
                                    }
                                    else
                                    {
                                        <text>
                                        @gr.Active.Candidate.Account.Profile.Lastname @gr.Active.Candidate.Account.Profile.Firstname
                                        đã mời @gr.Receive.Candidate.Account.Profile.Lastname @gr.Receive.Candidate.Account.Profile.Firstname vào nhóm
                                        </text>
                                    }
                                </td>
                                <td>
                                    @if (Model.ExamPaperID == Model.Group.OwnerID) // is owner --> has permission to approve or deny
                                    {
                                        @Html.ActionLink("Huỷ lời mời", "DeleteRequest", new { id = gr.ID }, new { @class = "btn btn-info" })
                                    }
                                </td>
                            }
                            else // has no group
                            {
                                <td>Bạn đã gửi lời đề nghị được tham gia vào nhóm @gr.GroupID</td>
                                <td>@Html.ActionLink("Huỷ yêu cầu", "DeleteRequest", new { id = Model.ExamPaperID, gID = gr.GroupID }, new { @class = "btn btn-info" })</td>
                            }
                        </tr>
                            }

                            foreach (GroupRequest gr in ViewData["receives"] as IEnumerable<GroupRequest>)
                            {
                        <tr>
                            @if (Model.GroupID != null) // in a group
                            {
                                <td>
                                    @gr.Active.Candidate.Account.Profile.Lastname @gr.Active.Candidate.Account.Profile.Firstname
                                    đã đề nghị được tham gia nhóm
                                </td>
                                <td>
                                    @if (Model.ExamPaperID == Model.Group.OwnerID) // is owner --> has permission to approve or deny
                                    {
                                        @Html.ActionLink("Đồng ý", "AcceptRequest", new { id = gr.ReceiveID, gID = gr.GroupID }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Từ chối", "DeleteRequest", new { id = gr.ID }, new { @class = "btn btn-info" })
                                    }
                                </td>
                            }
                            else // has no group
                            {
                                <td>
                                    @gr.Active.Candidate.Account.Profile.Lastname @gr.Active.Candidate.Account.Profile.Firstname
                                    đã mời bạn tham gia nhóm @gr.GroupID
                                </td>
                                <td>
                                    @Html.ActionLink("Đồng ý", "AcceptRequest", new { id = Model.ExamPaperID, gID = gr.GroupID }, new { @class = "btn btn-info" })
                                    @Html.ActionLink("Từ chối", "DeleteRequest", new { id = gr.ID }, new { @class = "btn btn-info" })
                                </td>
                            }
                        </tr>
                            }
                    }
                </table>
            </div>
        </div>
    }
    @Html.ActionLink("Quay về trang trước", "Index", null, new { @class = "btn btn-info" })

</div>
