@using TSMT.Models


<!--Begin Sidebar Menu-->
<div class="col-md-3">
    <div class="row tab-v3" id="hehe">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-stacked">
                <li class="@(ViewBag.Active == "CharityHome" ? "active" : "")"><a href="@Url.Action("Index", "Charity")"><i class="icon-home"></i>Home</a></li>
               @* <li class="@(ViewBag.Active == "ManagePost" ? "active" : "")"><a href="@Url.Action("ManageCandidate", "Charity")"><i class="icon-lightbulb"></i>Quản lý Thí sinh</a></li>
                <li class="@(ViewBag.Active == "ManageCategory" ? "active" : "")"><a href="@Url.Action("ManageVolunteer", "Charity")"><i class="icon-flag"></i>Quản lý Tình nguyện viên</a></li>
                <li class="@(ViewBag.Active == "ManageAccount" ? "active" : "")"><a href="@Url.Action("ManageSponsor", "Charity")"><i class="icon-user"></i>Quản lý Nhà tài trợ</a></li>


                <li class="@(ViewBag.Active == "ManageUniversity" ? "active" : "")"><a href="@Url.Action("ManageLodge", "Charity")"><i class="icon-building"></i>Quản lý Chỗ trọ</a></li>
                <li class="@(ViewBag.Active == "ManageExamination" ? "active" : "")"><a href="@Url.Action("ManageCar", "Charity")"><i class="icon-calendar"></i>Quản lý Xe</a></li>
                <li class="@(ViewBag.Active == "ManageUniversityExam" ? "active" : "")"><a href="@Url.Action("ManageFunds", "Charity")"><i class="icon-gear"></i>Quản lý Tiền tài trợ</a></li>
                <li class="@(ViewBag.Active == "ManageUniversityExam" ? "active" : "")"><a href="@Url.Action("ManageGroup", "Charity")"><i class="icon-gear"></i>Quản lý Nhóm</a></li>*@

                <li class="@(ViewBag.Active == "Statistics" ? "active" : "")"><a href="@Url.Action("Statistics", "Charity")"><i class="icon-rocket"></i>Thống kê</a></li>
            </ul>
        </div>
    </div>
    @*<i class="icon-cogs" onclick="$('#hehe').toggle('slow'); return false;"></i>*@
</div>
