@using TSMT.Models
<script src="~/Content/js/menu_jquery.js"></script>
<link href="~/Content/css/leftmenu/styles.css" rel="stylesheet" />
@*<div class="col-md-3" id="cssmenu">
    <ul>
        <li class="@(ViewBag.Active == "CharityHome" ? "active" : "")"><a href="@Url.Action("Index", "Charity")"><i class="icon-home"></i>Khu vực Hội từ thiện</a></li>
        <li  class="@(ViewBag.Active == "ManageCharityExam" ? "active" : "") has-sub"><a href="@Url.Action("ManageCharityExam", "Charity")"><i class="icon-calendar"></i>Quản lý thông tin kỳ thi</a>
            <ul>
                <li class='has-sub'><a href='#'><span>Product 1</span></a>
                    <ul>
                        <li><a href='#'><span>Sub Item</span></a></li>
                        <li class='last'><a href='#'><span>Sub Item</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'><a href='#'><span>Product 2</span></a>
                    <ul>
                        <li><a href='#'><span>Sub Item</span></a></li>
                        <li class='last'><a href='#'><span>Sub Item</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
         <li class="@(ViewBag.Active == "ManageCarCharity" ? "active" : "")"><a href="@Url.Action("ManageCarCharity", "Charity")"><i class="icon-bell-alt"></i>Quản lý xe</a></li>
                <li class="@(ViewBag.Active == "ManageLodgeCharity" ? "active" : "")"><a href="@Url.Action("ManageLodgeCharity", "Charity")"><i class="icon-building"></i>Quản lý chỗ trọ</a></li>
    </ul>
</div>*@


<div class="col-md-3" id="sideBar">
    <div class="row tab-v3">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-stacked">
                @*<li class="@(ViewBag.Active == "CharityHome" ? "active" : "")"><a href="@Url.Action("Index", "Charity")"><i class="icon-home"></i>Khu vực Hội từ thiện</a></li>*@
                <li id="cssmenu" class="@(ViewBag.Active == "ManageCharityExam" ? "active" : "")">
                    <a href="@Url.Action("ManageCharityExam", "Charity")" style="width:262px"><i class="icon-calendar"></i>Quản lý thông tin kỳ thi</a>

                    <ul>
                        <li class="has-sub"><a href="#" style="width: 262px"><span>Các đợt thi</span></a>
                            <ul>
                                @foreach (var item in ViewData["CharityExamSide"] as IEnumerable<ChairitiesExam>)
                                {
                                    <li class="has-sub"><a href="#" style="width: 262px"><span>@item.Examination.Name</span></a>
                                        <ul>
                                            @*                                             <li><a href="#" style="width: 262px"><span>DEF</span></a></li>
                                             <li><a href="#" style="width: 262px"><span>ABC</span></a></li>*@
                                            <li><a href="@Url.Action("DetailsCharityExam", "Charity", new { id = item.CharityExamID })" style="width:262px"><span>Thông tin chi tiết</span></a></li>
                                            <li><a href="@Url.Action("ManageLodge", "Charity", new { id = item.CharityExamID })" style="width: 262px"><span>Quản lý Chỗ trọ</span></a></li>
                                            <li><a href="@Url.Action("ManageCar", "Charity", new { id = item.CharityExamID })" style="width: 262px"><span>Quản lý Xe</span></a></li>
                                            <li><a href="@Url.Action("ManageFunds", "Charity", new { id = item.CharityExamID })" style="width: 262px"><span>Quản lý Tiền được tài trợ</span></a></li>
                                            <li><a href="@Url.Action("ManageCandidate", "Charity", new { id = item.CharityExamID })" style="width: 262px"><span>Quản lý Thí sinh</span></a></li>
                                            <li class='last'><a href="@Url.Action("ManageVolunteer", "Charity", new { id = item.CharityExamID })" style="width: 262px"><span>Quản lý Tình nguyện viên</span></a></li>
                                        </ul>
                                    </li>@*
                                     <li class="has-sub"><a href="#" style="width: 262px"><span>Đợt 2</span></a>
                                         <ul>
                                             <li><a href="#" style="width: 262px"><span>123</span></a></li>
                                             <li><a href="#" style="width: 262px"><span>234</span></a></li>
                                         </ul>
                                     </li>
                                     <li class="has-sub"><a href="#" style="width: 262px"><span>Đợt 3</span></a>
                                         <ul>
                                             <li><a href="#" style="width: 262px"><span>123</span></a></li>
                                             <li><a href="#" style="width: 262px"><span>234</span></a></li>
                                         </ul>
                                     </li>*@
                                }
                            </ul>
                        </li>

                    </ul>
                </li>
                @*<li class="@(ViewBag.Active == "ManageCharityExam" ? "active" : "")"><a href="@Url.Action("ManageCharityExam", "Charity")"><i class="icon-calendar"></i>Các đợt thi</a>*@
                <li class="@(ViewBag.Active == "ManageCarCharity" ? "active" : "")"><a href="@Url.Action("ManageCarCharity", "Charity")"><i class="icon-bell-alt"></i>Quản lý xe</a></li>
                <li class="@(ViewBag.Active == "ManageLodgeCharity" ? "active" : "")"><a href="@Url.Action("ManageLodgeCharity", "Charity")"><i class="icon-building"></i>Quản lý chỗ trọ</a></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () {

            $('#cssmenu > ul > li ul').each(function (index, e) {
                var count = $(e).find('li').length;
                //var content = '<span class="cnt">' + count + '</span>';
                $(e).closest('li').children('a').append(content);
            });
            $('#cssmenu ul ul li:odd').addClass('odd');
            $('#cssmenu ul ul li:even').addClass('even');
            $('#cssmenu > ul > li > a').click(function () {
                $('#cssmenu li').removeClass('active');
                $(this).closest('li').addClass('active');
                var checkElement = $(this).next();
                if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                    $(this).closest('li').removeClass('active');
                    checkElement.slideUp('normal');
                }
                if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                    $('#cssmenu ul ul:visible').slideUp('normal');
                    checkElement.slideDown('normal');
                }
                if ($(this).closest('li').find('ul').children().length == 0) {
                    return true;
                } else {
                    return false;
                }
            });

        });

    });
</script>


<!--Begin Sidebar Menu-->
@*<div class="col-md-3">
    <div class="row tab-v3">
        <div class="col-sm-12">
                <ul class="nav nav-pills nav-stacked">
                    <li class="@(ViewBag.Active == "CharityHome" ? "active" : "")"><a href="@Url.Action("Index", "Charity")"><i class="icon-home"></i>Home</a></li>
                    <li class="">
                        <a href="#" data-toggle="collapse" data-parent="#accordion"><i class="icon-tint"></i>Đợt thi</a>
                    </li>
            <ul class="nav nav-pills nav-stacked">
                <li class="@(ViewBag.Active == "CharityHome" ? "active" : "")"><a href="@Url.Action("Index", "Charity")"><i class="icon-home"></i>Home</a></li>
                <li class="panel-group acc-v1">
                    <ul class="panel panel-default">
                        <li class="panel-heading">
                     <li class="@(ViewBag.Active == "ManageCarCharity" ? "active" : "")"><a href="@Url.Action("Index", "Charity")"><i class="icon-home"></i>Home</a></li>
                        </li>
                    </ul>
                </li>
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">Collapsible Group Item #1
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse in" style="height: auto;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/Content/img/new/img5.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <li class="@(ViewBag.Active == "Statistics" ? "active" : "")"><a href="@Url.Action("Statistics", "Charity")"><i class="icon-rocket"></i>Thống kê</a></li>
            </ul>
        </div>
    </div>
    @*<i class="icon-cogs" onclick="$('#hehe').toggle('slow'); return false;"></i>
</div>


<div class="panel-group acc-v1" id="accordion-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">Collapsible Group Item #1
                </a>
            </h4>
        </div>
        <div id="collapse-One" class="panel-collapse in" style="height: auto;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive" src="assets/img/new/img5.jpg" alt="">
                    </div>
                    <div class="col-md-8">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">Collapsible Group Item #2
                </a>
            </h4>
        </div>
        <div id="collapse-Two" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                        <ul class="list-unstyled">
                            <li><i class="icon-ok color-green"></i>Donec id elit non mi porta gravida at eget metus..</li>
                            <li><i class="icon-ok color-green"></i>Fusce dapibus, tellus ac cursus comodo egetine..</li>
                            <li><i class="icon-ok color-green"></i>Food truck quinoa nesciunt laborum eiusmod runch..</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="assets/img/main/6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

@*<style>
    #cssmenu,
    #cssmenu ul,
    #cssmenu ul li,
    #cssmenu ul li a {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">Collapsible Group Item #3
                </a>
            </h4>
        </div>
        <div id="collapse-Three" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">Collapsible Group Item #4
                </a>
            </h4>
        </div>
        <div id="collapse-Four" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            </div>
        </div>
    </div>
</div>


<div class="col-md-3">
    <div class="row tab-v3">
        <div class="col-sm-12">
            
            <div id="cssmenu">
               <ul class="nav nav-pills nav-stacked">
                    <li class="@(ViewBag.Active == "CharityHome" ? "active" : "")"><a href="@Url.Action("Index", "Charity")"><i class="icon-home"></i>Home</a></li>             

                    <li class="has-sub">
                        <a href='#'>
                            <span>Kì Thi</span>                           
                        </a>
                        <ul style="display: none">
                            @foreach (var item in ViewData["CharityExamSide"] as IEnumerable<ChairitiesExam>)
                            {
                                <li class='last'><a href="@Url.Action("DetailsCharityExam", "Charity", new { id = item.CharityExamID })"><span>@item.CharityExamName (@item.Examination.Name)</span></a>

                                </li>
                            }
                        </ul>
                    </li>
                    <li class="@(ViewBag.Active == "Statistics" ? "active" : "")"><a href="@Url.Action("Statistics", "Charity")"><i class="icon-rocket"></i>Thống kê</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

</div>



<div id='cssmenu'>
    <ul>
        <li class="@(ViewBag.Active == "CharityHome" ? "active" : "")"><a href="@Url.Action("Index", "Charity")"><i class="icon-home"></i>Home</a></li>
        <li class='has-sub'><a href='#'><span>Đợt thi tài trợ</span></a>
            @foreach (var item in ViewData["CharityExamSide"] as IEnumerable<ChairitiesExam>)
            {
                <ul>
                    <li class='last'><a href="@Url.Action("DetailsCharityExam", "Charity", new { id = item.CharityExamID })"><span>@item.Examination.Name</span></a>
                        <ul>
                            <li><a href="@Url.Action("ManageLodge", "Charity", new { id = item.CharityExamID })"><span>Quản lý Chỗ trọ</span></a></li>
                            <li><a href="@Url.Action("ManageCar", "Charity", new { id = item.CharityExamID })"><span>Quản lý Xe</span></a></li>
                            <li><a href="@Url.Action("ManageFunds", "Charity", new { id = item.CharityExamID })"><span>Quản lý Tiền được tài trợ</span></a></li>
                            <li><a href="@Url.Action("ManageCandidate", "Charity", new { id = item.CharityExamID })"><span>Quản lý Thí sinh</span></a></li>
                            <li class='last'><a href="@Url.Action("ManageVolunteer", "Charity", new { id = item.CharityExamID })"><span>Quản lý Tình nguyện viên</span></a></li>
                        </ul>
                    </li>
                </ul>
            }
        </li>
        <li class="@(ViewBag.Active == "Statistics" ? "active" : "")"><a href="@Url.Action("Statistics", "Charity")"><i class="icon-rocket"></i>Thống kê</a></li>
        <li class='last'><a href='#'><span>Contact</span></a></li>
    </ul>
</div>
*@
