@using TSMT.Models
@if (Session["acc"] != null)
{ 
    <div class="sidebar-buttons text-center">
         <h4 style="text-align:center;color:skyblue">Hello, <strong>@(((Account)Session["acc"]).Profile.Firstname)</strong> !</h4>
        <div class="btn-group">
           
            <a href="@Url.Action("EditProfile", "Account")" class="btn btn-black btn-xs"><i class="icon-user"></i></a>
            <a href="@Url.Action("EditProfile", "Account")" class="btn btn-danger btn-xs">Edit Profile</a>
        </div>
        <div class="btn-group">
            <a href="@Url.Action("Logout", "Home")" class="btn btn-black btn-xs"><i class="icon-power-off"></i></a>
            <a href="@Url.Action("Logout", "Home")" class="btn btn-danger btn-xs">Sign Out</a>
        </div>
    </div>
}
else
{
    <div class="sidebar-buttons text-center">
        <h4 style="text-align:center;color:yellow">Hello, <strong>Guest</strong> !</h4>
        <div class="btn-group">
            <a href="@Url.Action("Entrance", "Home")" class="btn btn-black btn-xs"><i class="icon-check"></i></a>
            <a href="@Url.Action("Entrance", "Home")" class="btn btn-danger btn-xs">Sign In</a>
        </div>
        <div class="btn-group">
            <a href="@Url.Action("Registration", "Home")" class="btn btn-black btn-xs"><i class="icon-pencil"></i></a>
            <a href="@Url.Action("Registration", "Home")" class="btn btn-danger btn-xs">Sign Up</a>
        </div>
    </div>
}
