@using TSMT.Models

@model TSMT.Models.Volunteer


<!--Begin Sidebar Menu-->
<div class="col-md-3">
    <div class="row tab-v3">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-stacked">
                <li class="@(ViewBag.Active == "VolunteerHome" ? "active" : "")">
                    <a href="@Url.Action("Index", "")"><i class="icon-home"></i>Home</a></li>
               @* <li class="@(ViewBag.Active == "EditAccount" ? "active" : "")">
                    <a href="@Url.Action("EditAccount", "Account", new { id = ((Account)Session["acc"]).AccountID })"><i class="icon-info"></i>Thông tin tài khoản</a></li>
               *@ 
                @if (Model.CharityExamID == null)
                {
                    <li class="@(ViewBag.Active == "JoinIn" ? "active" : "")">
                        <a href="@Url.Action("JoinIn", "Volunteer")"><i class="icon-chevron-sign-right"></i>Đăng ký</a></li>
                }
                else
                {
                    <li class="@(ViewBag.Active == "" ? "active" : "")">
                        <a href="@Url.Action("#", "Volunteer")"><i class="icon-sign-in"></i>Xem lịch</a></li>
                    <li class="@(ViewBag.Active == "" ? "active" : "")">
                        <a href="@Url.Action("#", "Volunteer")"><i class="icon-sign-in"></i>Xem đường đi</a></li>
                }
                <li class="@(ViewBag.Active == "Statistics" ? "active" : "")">
                    <a href="@Url.Action("Statistics", "Volunteer")"><i class="icon-rocket"></i>Thống kê</a></li>
            </ul>
        </div>
    </div>
</div>
