@{
    ViewBag.Title = "EditExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TSMT.Models.ManageExamModel
<h2>EditExam</h2>
<div id="breadcrumb">
    <a href="@Url.Action("Index", "Home")" title="Tới trang chủ" class="tip-bottom"><i class="icon-home"></i>Trang chủ</a>
    <a href="@Url.Action("ManagerExam", "Admin")" title="Tới quản lí người dùng" class="tip-bottom">Quản lí kỳ thi</a>
    <a href="@Url.Action("Admin", "Admin")" class="current">Thêm kỳ thi mới</a>
    <a href="@Url.Action("ManageUniversity", "Admin")" class="current">Quản lý trường Đại học</a>
</div>
@using (Html.BeginForm("EditExamInfo", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.ExamId)
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="name" class="col-md-2 control-label">Tên kỳ thi</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Examination.Name)
                @*<input type="text" class="form-control" id="name" placeholder="Nhập tên kỳ thi">*@
            </div>
        </div>

        <div class="form-group">
            <label for="username" class="col-md-2 control-label">Ngày bắt đầu</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Examination.BeginDate, new { type = "date" })
                @*<input type="date" class="form-control" id="username">*@
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Ngày kết thúc</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Examination.EndDate, new { type = "date" })
                @*<input type="date" class="form-control" id="email">*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<button type="submit" class="btn btn-info">Tạo mới</button>*@
                <input type="submit" value="Lưu lại" class="btn btn-info" style="width: 100px; font-weight: bold" />
                <input type="reset" value="Làm lại" class="btn btn-primary" style="width: 100px; font-weight: bold" />
            </div>
        </div>
    </form>
}