@{
    ViewBag.Title = "Thay đổi giờ thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model ScheduleExam

<h2 class="title_of_page">Thay đổi giờ thi - @Model.Examination.Name (@DateTime.Now.Year)</h2>

@using (Html.BeginForm("EditScheduleExam", "Admin", FormMethod.Post))
{
    <input type="hidden" name="scheduleExamId" value="@Model.ScheduleExamID"/>
    <div class="inner-page-content inner-careers">
        <table class="table table-hover table-bordered ">
            <tr>
                <td>Ngày thi</td>
                <td>@Model.BeginTime.Date.ToShortDateString()</td>
            </tr>
            <tr>
                <td>Giờ bắt đầu</td>
                <td>
                    <select name="BeginHour">
                    @for (int i = 5; i < 21; ++i)
                    {
                        <option value="@i">@i</option>
                    }
                    </select>       
                    giờ
                    <select name="BeginMinute">
                    @for (int i = 0; i < 60; i+=5)
                    {
                        <option value="@i">@i</option>
                    }
                    </select>
                    phút
                </td>
            </tr>
            <tr>
                <td>Giờ kết thúc</td>
                <td>
                    <select name="EndHour">
                    @for (int i = 5; i < 21; ++i)
                    {
                        <option value="@i">@i</option>
                    }
                    </select>
                    giờ
                    <select name="EndMinute">
                    @for (int i = 0; i < 60; i+=5)
                    {
                        <option value="@i">@i</option>
                    }
                    </select>
                    phút
                </td>
            </tr>
        </table>
        <input type="submit" value="Lưu" class="btn btn-info" />
        @*<input type="reset" value="Làm lại" class="btn btn-info" />*@
        <input type="button" value="Quay lại" class="btn btn-info" onclick="location.href = '/admin/ManageScheduleExam/' + @Model.ExamID"/>
    </div>
}