@{
    ViewBag.Title = "Manage Venues of University-Examination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using TSMT.Models
@model IEnumerable<Venue>

<h2 class="title_of_page">@ViewBag.Title</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>STT</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                foreach (var item in Model)
                {
                <tr>
                    <td>@counter</td>
                    <td>@item.Address</td>
                    <td>
                        @Html.ActionLink("View On Map", "ViewOnMap", new { id = @item.VenueID })
                        @Html.ActionLink("Edit", "EditVenue", new { id = @item.VenueID })
                        @Html.ActionLink("Delete", "DeleteVenue", new { id = @item.VenueID }, new { onclick = "return showPopup('Please confirm to delete it.', this.href);" })
                    </td>
                </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
    @Html.ActionLink("Create", "AddVenue", new { id = @ViewData["ueId"] }, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to Manage University-Examination", "/ManageUniversityExam", null, new { @class = "btn btn-info" })
</div>

