@{
    ViewBag.Title = "Manage Venues of University-Examination";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model IEnumerable<Venue>

<link href="/Content/css/popup.css" rel="stylesheet">
<script src="/Content/js/jquery.js"></script>
<script src="/Content/js/popup.js"></script>
<script src="/Content/js/ViewOnMap.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // submit
        $('.popup-confirm').click(function () {
            window.location.href = this.href;
        });
    });
</script>

<h2 class="title_of_page">@ViewBag.Title</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>STT</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                foreach (var item in Model)
                {
                <tr>
                    <td>@counter</td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        <button onclick="openWindowPopup('/admin/ViewVenue/', @item.VenueID)">View on Map</button>
                        @Html.ActionLink("Edit", "EditVenue", new { id = @item.VenueID })
                        @Html.ActionLink("Delete", "DeleteVenue", new { id = @item.VenueID }, new { onclick = "return showPopup('Please confirm to delete it.', this.href);" })
                    </td>
                </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
    @Html.ActionLink("Create", "AddVenue", new { id = @ViewData["ueId"] }, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to Manage University-Examination", "/ManageUniversityExam", null, new { @class = "btn btn-info" })
</div>