@{
    ViewBag.Title = "Quản lý thông tin các trường ĐH-CĐ";
    ViewBag.Active = "ManageUniversity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model IEnumerable<University>

<link href="/Content/css/TSMTPopup.css" rel="stylesheet">
<script src="/Content/js/TSMTPopup.js"></script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Admin")">Admin</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_AdminSidebarPartial")

<div class="col-md-9">
    <div class="panel panel-red margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Danh sách các trường ĐH-CĐ hiện có trong TSMT
                <a href="@Url.Action("AddUniversity", "Admin")" class="btn-u btn-u-default"><i class="icon-plus"></i>Tạo mới</a>
                <div style="float: right" id="TSMTSearching"></div>
            </h3>
        </div>

        <div class="panel-body">
            <div id="showMessage" class="alert alert-danger fade in" style="display: none; vertical-align: middle">
                <strong>Chưa có thông tin trường ĐH-CĐ trong cơ sở dữ liệu!</strong> Bạn hãy nhấn vào "Tạo mới" để tạo thông tin trường ĐH-CĐ.
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th onclick="sortBy('name', this)" class="order orderDes orderHidden">Tên trường</th>
                        <th onclick="sortBy('code', this)" class="order orderDes orderHidden">Mã trường</th>
                        <th onclick="sortBy('address', this)" class="order orderDes orderHidden">Địa chỉ</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody id="TSMTPaging"></tbody>
            </table>
        </div>
        @using (Html.BeginForm("Importexcel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" id="FileUpload"
                name="FileUpload" required data-val="true" data-val-required="please select a file" />

            <input type="submit" id="Submit" class="submit" onclick="" value="Upload" title="Click to upload file" />
                                                                                                                  
        }
    </div>
    <a href="@Url.Action("Index", "Admin")" class="btn-u btn-u-sea"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại </a>



</div>

<link rel="stylesheet" href="~/Content/css/TSMTPaging.css">
<script type="text/javascript" src="~/Content/js/TSMTPaging.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        fetchData();
    });
    function fetchData() {
        $.ajax({
            url: '/Admin/GetDataManageUniversity',
            type: 'POST',
            success: function (results) {
                if (results.success == true) {
                    init(5, 5, results.data);
                }
            }
        });
    }
    function showData(index, record) {
        var tmp = "<tr><td style='vertical-align:middle'>" + index;
        tmp += "</td><td style='vertical-align:middle'>" + record.name;
        tmp += "</td><td style='vertical-align:middle'>" + record.code;
        tmp += "</td><td style='vertical-align:middle'>" + record.address;
        tmp += "</td><td style='vertical-align:middle'>" + record.actions;
        tmp += "</td></tr>";
        return tmp;
    }
    function matchSearch(i, text) {
        var r = false;
        r = r || (TSMTPagingData[i].name.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].code.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].address.toUpperCase().indexOf(text) > -1);
        return r;
    }
</script>
