@{
    ViewBag.Title = "Manage Universities-Examinations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using TSMT.Models
@model IEnumerable<UniversitiesExamination>

<h2 class="title_of_page">@ViewBag.Title</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>#</th>
                <th>University</th>
                <th>Examination</th>
                <th>Day begin</th>
                <th>Day end</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
                foreach (var item in Model)
                {
                <tr>
                    <td>@counter</td>
                    <td>@item.University.Name</td>
                    <td>@item.Examination.Name</td>
                    <td>@item.Examination.BeginDate</td>
                    <td>@item.Examination.EndDate</td>
                    <td>
                        @Html.ActionLink("Manage Venues", "ManageVenue", new { id = @item.UniExamID })
                        @if (item.IsRemovable)
                        {
                            @Html.ActionLink("Delete", "DeleteUniversityExam", new { id = @item.UniExamID }, new { onclick = "return showPopup('Please confirm to delete it.', this.href);" })
                        }
                    </td>
                </tr>
                }
                ++counter;
            }
        </tbody>
    </table>
    @Html.ActionLink("Create", "AddUniversityExam", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to Control Panel", "/", null, new { @class = "btn btn-info" })
</div>
