@{
    ViewBag.Title = "Thông tin địa điểm thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model UniversitiesExamination

<link href="/Content/css/TSMTPopup.css" rel="stylesheet">
<script src="/Content/js/jquery.js"></script>
<script src="/Content/js/TSMTPopup.js"></script>
<script src="/Content/js/TSMTViewOnMap.js"></script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Admin")">Admin</a></li>
                <li><a href="@Url.Action("ManageUniversityExam", "Admin")">Thông tin kỳ thi của trường ĐH-CĐ</a></li>

                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_AdminSidebarPartial")


<div class="col-md-9">
    <div class="panel panel-red margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Thông tin địa điểm thi của @Model.University.Name - @Model.Examination.Name (@DateTime.Now.Year)
            </h3>
            <div class="devider"></div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Địa điểm thi</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;

                        foreach (Venue item in Model.Venues)
                        {
                        <tr>
                            <td>@counter</td>
                            <td>
                                @item.Address
                            </td>
                            <td>
                                <a href="#" onclick="openWindowPopup('/admin/ViewVenue/', @item.VenueID)" class="btn-u btn-u-red"><i class="icon-map-marker"></i>&nbsp;Xem trên bản đồ</a>
                                <a href="@Url.Action("EditVenue", "Admin", new { id = @item.VenueID })"  class="btn-u btn-u-blue">
                                    <i class="icon-edit"></i>&nbsp;Sửa </a>
                                @if (item.ExaminationsPapers.Count == 0)
                                {
                                    <a href="@Url.Action("DeleteVenue", "Admin", new { id = @item.VenueID })" class="btn-u btn-u-orange" onclick="return showPopup('Bạn có chắc chắn muốn xóa địa điểm thi này không?', this.href);">
                                    <i class="icon-trash"></i>&nbsp;Xóa </a>
                                }
                            </td>
                        </tr>
                            ++counter;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a href="@Url.Action("ManageUniversityExam", "Admin")" class="btn-u btn-u-sea" style="float:left"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</a>
    <a href="@Url.Action("AddVenue", "Admin", new { id = @ViewData["ueId"] })" class="btn-u btn-u-default" style="float:right"><i class="icon-plus"></i>&nbsp;Tạo mới</a>
</div>

