@{
    ViewBag.Title = "Manage Examination-Schedules";
    ViewBag.Active = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model IEnumerable<ScheduleExam>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Admin")">Admin</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>   
}
@Html.Partial("_AdminSidebarPartial")
<h2 class="title_of_page">@ViewBag.Title</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>#</th>
                <th>Giờ bắt đầu</th>
                <th>Giờ kết thúc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
                foreach (ScheduleExam item in Model)
                {
                <tr>
                    <td>@counter</td>
                    <td>@item.BeginHour</td>
                    <td>@item.EndHour</td>
                    <td>
                        @Html.ActionLink("Edit", "EditScheduleExam", new { id = @item.ScheduleExamID })
                    </td>
                </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
    @Html.ActionLink("Back to Manage Examinations", "/admin/ManageExam", null, new { @class = "btn btn-info" })
</div>
