@using Microsoft.Ajax.Utilities
@using TSMT.Models
@{
    ViewBag.Title = "ManualAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManualAssign</h2>
<select id="capaRoomA" style="display: none">
    <option>Chọn phòng</option>
    @foreach (var item in ViewData["listRoom"] as IEnumerable<Room>)
    {
        <option value="@item.AvailableSlots">@item.AvailableSlots</option>
    }
</select>
<select id="capaRoomB" style="display: none">
    <option>Chọn phòng</option>
    @foreach (var item in ViewData["listRoom"] as IEnumerable<Room>)
    {
        <option value="@item.AvailableSlots">@item.AvailableSlots</option>
    }
</select>
<script>
    function callAjax(id, cbbId,cbbRoomA,cbbRoomB) {
        if (document.getElementById(cbbRoomA).selectedIndex != 0 && document.getElementById(cbbRoomA).selectedIndex != 0 && document.getElementById(cbbRoomA).selectedIndex==document.getElementById(cbbRoomB).selectedIndex) {
            alert("Phòng này đã được chọn, hãy chọn phòng khác");
            document.getElementById(cbbRoomA).selectedIndex = 0;
        } else {
            $.ajax({
                url: 'ResultAjaxRoom',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#" + cbbId).html("");
                    var r;
                    for (i in results) {
                        r = results[i];
                        $("#" + cbbId).append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");
                    }
                }
            });
        }
    }


    function AddRemoveA(fromSourceId, toSourceId, capacity) {
        //if (document.getElementById("cbbRoomLeft").value == document.getElementById("cbbRoomRight").value) {
        //    alert("Chọn 2 phòng khác nhau để xếp thí sinh");
        //} else
        //if (document.getElementById("cbbRoomRight").selectedIndex == 0) {
        //    alert("Chọn phòng bên phải để xếp thí sinh");
        //}
        //else {
        var length = document.getElementById(toSourceId).length;
        var capcity = parseInt($("#" + capacity).val());

        if ($('#' + fromSourceId + ' :selected').length <= capcity - length) {
            var srcFrom = $("#" + fromSourceId)[0];
            var srcTo = $("#" + toSourceId)[0];
            $('#' + fromSourceId + ' :selected').each(function (i, item) {
                srcTo.appendChild(item);
            });
        } else {
            alert("Số thí sinh phải nhỏ hơn tiêu chuẩn phòng");
        }
        //}
    }
    function AddRemoveB(fromSourceId, toSourceId) {
        //if (document.getElementById("cbbRoomLeft").value == document.getElementById("cbbRoomRight").value) {
        //    alert("Chọn 2 phòng khác nhau để xếp thí sinh");
        //} else 
        //if (document.getElementById("cbbRoomLeft").selectedIndex == 0) {
        //    alert("Chọn phòng bên trái để xếp thí sinh");
        //}
        //else {
        //var lengthA = document.getElementById("cbbLeft").length;
        //var capcityA = parseInt($("#capaRoomA").val());
        //if ($('#' + fromSourceId + ' :selected').length <= capcityA - lengthA) {
        var srcFrom = $("#" + fromSourceId)[0];
        var srcTo = $("#" + toSourceId)[0];
        $('#' + fromSourceId + ' :selected').each(function (i, item) {
            srcTo.appendChild(item);
        });
        //} else {
        //    alert("Phòng đã đủ thí sinh không thể xếp thêm");
        //}
        // }
    }



    function saveListCandidate() {

        var listRoomA = document.getElementById("cbbLeft");
        var listRoomB = document.getElementById("cbbRight");
        var listCandidate = document.getElementById("cbbCandidate");
        var caId;
        var roomId;
        var roomIdA = $("#cbbRoomLeft").val();
        var roomIdB = $("#cbbRoomRight").val();
        if (listCandidate.length != 0) {
            for (var c = 0; c < listCandidate.length; c++) {
                caId = listCandidate[c].value;
                roomId = 0;
                $.ajax({
                    url: 'EditAssignRoom',
                    data: { "caId": caId, "roomId": roomId },
                    type: 'Post',
                });
            }
        }
        if (listRoomB.length != 0 && listRoomA.length != 0) {

            for (var i = 0; i < listRoomA.length; i++) {
                caId = document.getElementById("cbbLeft")[i].value;
                roomId = roomIdA;
                $.ajax({
                    url: 'EditAssignRoom',
                    data: { "caId": caId, "roomId": roomId },
                    type: 'Post',
                });
            }

            for (var x = 0; x < listRoomB.length; x++) {
                caId = document.getElementById("cbbRight")[x].value;
                roomId = roomIdB;
                $.ajax({
                    url: 'EditAssignRoom',
                    data: { "caId": caId, "roomId": roomId },
                    type: 'Post',
                });
            }
            // alert("Lưu thành công");
        }

        if (listRoomA.length == 0) {
            for (var a = 0; a < listRoomB.length; a++) {
                caId = document.getElementById("cbbRight")[a].value;
                roomId = roomIdB;
                $.ajax({
                    url: 'EditAssignRoom',
                    data: { "caId": caId, "roomId": roomId },
                    type: 'Post',
                });
            }
            //alert("Lưu thành công");
        }
        if (listRoomB.length == 0) {
            for (var b = 0; b < listRoomA.length; b++) {
                caId = document.getElementById("cbbLeft")[b].value;
                roomId = roomIdA;
                $.ajax({
                    url: 'EditAssignRoom',
                    data: { "caId": caId, "roomId": roomId },
                    type: 'Post',
                });
            }

        }

        alert("Lưu thành công");
    }

    function syncChange(id) {
        if (document.getElementById("cbbRoomLeft").selectedIndex == 0) {
            $('#cbbLeft').empty();
        }
        if (document.getElementById("cbbRoomRight").selectedIndex == 0) {
            $('#cbbRight').empty();
        }
        var selected = document.getElementById(id).selectedIndex;
        var select1 = document.getElementById("capaRoomA");
        var select2 = document.getElementById("capaRoomB");
        if (id == "cbbRoomLeft") {
            for (var i = 0; i < select1.options.length; i++) {
                if (select1.options[i].index == selected) {
                    select1.options[i].selected = true;
                }
            }
        } else {
            for (var j = 0; j < select2.options.length; j++) {
                if (select2.options[j].index == selected) {
                    select2.options[j].selected = true;
                }
            }
        }

    }
</script>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="view view-tenth">
            <select id="cbbRoomLeft" onchange=" callAjax(this.value, 'cbbLeft','cbbRoomLeft','cbbRoomRight'),syncChange('cbbRoomLeft')">
                <option id="index1">Chọn phòng</option>
                @foreach (var item in ViewData["listRoom"] as IEnumerable<Room>)
                {
                    <option value="@item.RoomID">@item.RoomName</option>
                }
            </select>
            <select id="cbbLeft" multiple="multiple" size="5" style="width: 300px; height: 180px">
            </select>
        </div>
    </div>
    <div class="col-md-1" style="padding-left: 36px">
        <div style="padding-bottom: 15px; padding-top: 70px">
            <input type="button" id="btnB" onclick="AddRemoveA('cbbCandidate', 'cbbLeft', 'capaRoomA');" value="<<<<<" />
        </div>
        <div style="padding-bottom: 15px">
            <input type="button" id="btnA" onclick="AddRemoveB('cbbLeft', 'cbbCandidate');" value=">>>>>" />
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="view view-tenth">
            <label>Thí sinh chưa xếp phòng</label>
            <select id="cbbCandidate" onchange="" multiple="multiple" size="5" style="width: 300px; height: 180px">
                @foreach (var item in ViewData["listCandidate"] as IEnumerable<ExaminationsPaper>)
                {
                    <option value="@item.CandidateID">@item.Candidate.Account.Profile.Lastname</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-1" style="padding-left: 36px">
        <div style="padding-bottom: 15px; padding-top: 70px">
            <input type="button" id="btnC" onclick="AddRemoveA('cbbCandidate', 'cbbRight', 'capaRoomB');" value=">>>>>" />
        </div>
        <div style="padding-bottom: 15px">
            <input type="button" id="btnD" onclick="AddRemoveB('cbbRight', 'cbbCandidate');" value="<<<<<" />
        </div>

    </div>
    <div class="col-md-3 col-sm-6">
        <div class="view view-tenth">
            <select id="cbbRoomRight" onchange=" callAjax(this.value, 'cbbRight','cbbRoomRight','cbbRoomLeft'),syncChange('cbbRoomRight') ">
                <option id="index2">Chọn phòng</option>
                @foreach (var item in ViewData["listRoom"] as IEnumerable<Room>)
                {
                    <option value="@item.RoomID">@item.RoomName</option>
                }
            </select>
            <select id="cbbRight" multiple="multiple" size="5" style="width: 300px; height: 180px">
            </select>
        </div>
    </div>
</div>
<div>
    <input type="submit" value="Lưu lại" class="btn-info" onclick=" saveListCandidate()" />
</div>

