@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>LOGIN</title>
    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">
</head>

<body id="wood-body">
    <div class="out-container">
        <div class="login-page">
            <div class="container">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#login" data-toggle="tab"><i class="icon-signin"></i>Login</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="login">
                        <form action="/Home/Entrance" method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Remember Me Next Time
                                </label>
                            </div>
                            <button type="submit" class="btn btn-danger btn-sm">Submit</button>
                            <button type="reset" class="btn btn-black btn-sm">Reset</button>
                        </form>
                    </div>
                </div>
                <ul>
                    <li><a href="@Url.Action("LoginAs", "Home", new { identity = "admin", id = "" })"><i class="icon-home"></i>Login as Admin</a></li>
                            <li><a href="@Url.Action("LoginAs", "Home", new { identity = "charity", id = "01" })"><i class="icon-home"></i>Login as Charity 01</a></li>
                            <li><a href="@Url.Action("LoginAs", "Home", new { identity = "charity", id = "02" })"><i class="icon-home"></i>Login as Charity 02</a></li>
                            <li><a href="@Url.Action("LoginAs", "Home", new { identity = "sponsor", id = "01" })"><i class="icon-home"></i>Login as Sponsor 01</a></li>
                            <li><a href="@Url.Action("LoginAs", "Home", new { identity = "sponsor", id = "02" })"><i class="icon-home"></i>Login as Sponsor 02</a></li>
                            <li><a href="@Url.Action("LoginAs", "Home", new { identity = "volunteer", id = "01" })"><i class="icon-home"></i>Login as Volunteer 01</a></li>
                            <li><a href="@Url.Action("LoginAs", "Home", new { identity = "volunteer", id = "02" })"><i class="icon-home"></i>Login as Volunteer 02</a></li>
                            <li><a href="@Url.Action("LoginAs", "Home", new { identity = "candidate", id = "01" })"><i class="icon-home"></i>Login as Candidate 01</a></li>
                            <li><a href="@Url.Action("LoginAs", "Home", new { identity = "candidate", id = "02" })"><i class="icon-home"></i>Login as Candidate 02</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/Content/js/jquery.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
</body>
</html>
