@using TSMT.Models

@{
    ViewBag.Title = "Registration";
}

<form method="post" action="/Home/Registration">
    <div id="Account">
        <table>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" name="email" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="password" /></td>
            </tr>
        </table>
    </div>
    <div id="Profile">
        <table>
            <tr>
                <td>Firstname</td>
                <td>
                    <input type="text" name="fname" /></td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td>
                    <input type="text" name="lname" /></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <select id="gender" name="gender">
                        <option value="null" selected>---</option>
                        <option value="false">Male</option>
                        <option value="true">Female</option>
                    </select>
                </td>
            </tr>
            @*
            <tr>
                <td>Province</td>
                <td>
                    <select id="province" name="province">
                        <option value="null" selected>---</option>
                        @foreach (var item in (List<Province>)ViewData["provinces"])
                        {
                            <option value="@item.ProvinceID">@item.Name</option>
                        }

                    </select></td>
            </tr>
            <tr>
                <td>City</td>
                <td>
                    <select id="city" name="district">
                        <option value="null" selected>---</option>
                        @foreach (var item in (List<District>)ViewData["districts"])
                        {
                            <option value="@item.DistrictID">@item.Name</option>
                        }
                    </select>

                </td>
            </tr>
            *@
            <tr>
                <td>Role</td>
                <td>
                    <select id="role" name="role" onchange="changeRole(this.options[this.selectedIndex].text);">
                        <option value="null" selected>---</option>
                        @foreach (var item in (List<Role>)ViewData["roles"])
                        {
                            <option value="@item.RoleID">@item.RoleName</option>
                        }
                    </select></td>
            </tr>
        </table>
    </div>


    <div id="Candidate" style="display: none">
        <table>
            <tr>
                <td>High school's name:</td>
                <td>
                    <input type="text" name="highschool" /></td>
            </tr>
        </table>
    </div>

    <div id="Sponsor" style="display: none">
        <p>Not addtional information for Sponsor</p>
    </div>

    <div id="Volunteer" style="display: none">
       <table>
            <tr>
                <td>Job's name:</td>
                <td>
                    <input type="text" name="job" /></td>
            </tr>
           <tr>
                <td>Self-Description</td>
                <td>
                    <input type="text" name="des" /></td>
            </tr>
        </table>
    </div>

    <div id="Chairity" style="display: none">
        <p>Not addtional information for Charity</p>
    </div>

    <div>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </div>
</form>

<script type="text/javascript">
    var currentRole = "null";
    function changeRole(newRole) {
        if (currentRole !== "null") {
            document.getElementById(currentRole).style.display = 'none';
        }
        document.getElementById(newRole).style.display = 'inline';
        currentRole = newRole;
    }
</script>
