@{
    ViewBag.Title = "AfterAssignRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models;
@model ChairitiesExam
<script src="~/Content/js/highchart.js"></script>
<script src="~/Content/js/exporting.js"></script>
<h2>Kết quả sắp xếp chỗ ở cho thí sinh đăng kí vào hội từ thiện @Model.Charity.Name - @Model.Examination.Name (@DateTime.Now.Year)</h2>
<h3>Đã sắp chỗ tự động cho: @Model.ExaminationsPapers.Count(r => r.RoomID != null)/@Model.ExaminationsPapers.Count() thí sinh.</h3>
<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
    $(function () {
        var a = 0;
        var total = 0;
        var b = 0;
        a = @Model.ExaminationsPapers.Count(r => r.RoomID != null);
        total = @Model.ExaminationsPapers.Count();
        b = total- a;
        $('#chart').highcharts({
            
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Thống Kê sắp xếp chỗ ở cho thí sinh'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Phần trăm',
                data: [
                    ['Tổng Số Chỗ' + '(' + a + '/' + total + ')', a],
                    ['Tổng Số Chỗ Còn Trống' + '(' + b + '/' + total + ')', b]                   
                    
                ]
            }]
        });
    });
</script>
@foreach (Lodge lodge in Model.Lodges)
{
    <h3>Địa chỉ trọ: @lodge.Address - @lodge.ExaminationsPapers.Count(r => r.RoomID != null)/@lodge.ExaminationsPapers.Count</h3>
    foreach (Room room in lodge.Rooms)
    {
    <p>Room: @room.RoomName - @(@room.TotalSlots - @room.AvailableSlots)/@room.TotalSlots</p>
    }
}