@{
    ViewBag.Title = "Trang sắp xếp xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model ChairitiesExam

<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script type="text/javascript" src="~/Content/js/TSMTPopup.js"></script>
<style type="text/css">
    .assigned, .notAssigned
    {
        display: none;
    }
</style>

<div class="inner-page-content inner-careers">
    <div class="assigned">
        <h2>Kết quả sắp xếp xe cho thí sinh</h2>
        <h3>Đã sắp chỗ tự động cho: @Model.ExaminationsPapers.Count(r => r.CarID != null || r.ParticipantVolunteerID != null)/@Model.ExaminationsPapers.Count() thí sinh.</h3>
    </div>
    <div style="float: right" id="TSMTSearching"></div>
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>#</th>
                <th onclick="sortBy('fname', this)" class="order orderDes orderHidden">Thí sinh</th>
                <th onclick="sortBy('lodge', this)" class="order orderDes orderHidden">Địa chỉ trọ</th>
                <th onclick="sortBy('venue', this)" class="order orderDes orderHidden">Địa chỉ thi</th>
                <th onclick="sortBy('transport', this)" class="order orderDes orderHidden">Đưa đón</th>
            </tr>
        </thead>
        <tbody id="TSMTPaging"></tbody>
    </table>
</div>

<span class="assigned" style="float: right;">
    @Html.ActionLink("Xoá kết quả sắp xe hiện tại", null, null, new { @class = "btn btn-info", onclick = "return showPopup('Xác nhận xoá kết quả sắp xe:', '/Charity/ResetCars/" + @Model.CharityExamID + "?ReAssign=false')" })
    @Html.ActionLink("Sắp lại", null, null, new { @class = "btn btn-info", onclick = "return showPopup('Sắp lại xe sẽ xoá kết quả sắp xe hiện tại.</br>Xác nhận xoá kết quả sắp xe:', '/Charity/ResetCars/" + @Model.CharityExamID + "?ReAssign=true')" })
</span>
<span class="notAssigned" style="float: right;">
    @Html.ActionLink("Sắp xe", "AssignToCar", new { id = @Model.CharityExamID }, new { @class = "btn btn-info" })
</span>

@Html.ActionLink("Quay lại", "ManageCandidate", new { id = @Model.CharityExamID }, new { @class = "btn btn-info" })
<a href="@Url.Action("AssignRoom", "Charity", new { id = @Model.CharityExamID })" class="btn-u btn-u-violet"><i class="icon-building"></i>&nbsp;Đến trang sắp xếp phòng</a>

<link rel="stylesheet" href="~/Content/css/TSMTPaging.css">
<script type="text/javascript" src="~/Content/js/TSMTPaging.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        fetchData();
    });
    function fetchData() {
        $.ajax({
            url: '/Charity/GetDataAssignCar',
            data: { id: @Model.CharityExamID },
            type: 'POST',
            success: function (results) {
                if (results.success == true) {
                    if (results.IsAssigned) {
                        $(".assigned").removeClass("assigned");
                    } else {
                        $(".notAssigned").removeClass("notAssigned");
                    }
                    init(10, 5, results.data);
                }
            }
        });
    }
    function showData(index, record){
        if (bgCriteria != record.transport){
            bgColor = (bgColor == "" ? "aliceblue" : "");
            bgCriteria = record.transport;
        }

        var tmp = "<tr style='background:" + bgColor + "'><td>" + index;
        tmp += "</td><td>" + record.nameLink;
        tmp += "</td><td>" + record.lodgeLink;
        tmp += "</td><td>" + record.venueLink;
        tmp += "</td><td>" + (record.transportLink == "" ? record.transport : record.transportLink);
        tmp += "</td></tr>";
        return tmp;
    }
    function matchSearch(i, text){
        var r = false;
        r = r || (TSMTPagingData[i].name.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].lodge.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].venue.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].transport.toUpperCase().indexOf(text) > -1);
        return r;
    }
</script>