@{
    ViewBag.Title = "Trang sắp xếp xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model ChairitiesExam

<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script type="text/javascript" src="~/Content/js/TSMTPopup.js"></script>
<style type="text/css">
    .assigned, .notAssigned {
        display: none;
    }
</style>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-10">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @ViewData["ceId"] })">Đợt thi</a></li>
                <li><a href="@Url.Action("ManageCandidate", "Charity")">Quản lý thí sinh</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>&nbsp;Danh sách thí sinh đã đăng ký vào <b style="color: cyan">@Model.Examination.Name</b>  - Hội từ thiện <b style="color: yellow">@Model.Charity.Name</b>
                @*<a href="@Url.Action("ChooseCarForCe", "Charity", new { id = Model.CharityExamID })" class="btn-u btn-u-green"><i class="fa fa-plus"></i>Chọn xe cho đợt thi</a>*@
            </h3>
        </div>
        <div class="assigned">
            <h2>Kết quả sắp xếp xe cho thí sinh</h2>
            <h3>Đã sắp chỗ tự động cho: @Model.ExaminationsPapers.Count(r => r.CarID != null || r.ParticipantVolunteerID != null)/@Model.ExaminationsPapers.Count() thí sinh.</h3>
        </div>
        <div class="panel-body">
            <div style="float: right" id="TSMTSearching"></div>
            <table class="table table-hover table-bordered ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th onclick="sortBy('fname', this)" class="order orderDes orderHidden">Thí sinh</th>
                        <th onclick="sortBy('lodge', this)" class="order orderDes orderHidden">Địa chỉ trọ</th>
                        <th onclick="sortBy('venue', this)" class="order orderDes orderHidden">Địa chỉ thi</th>
                        <th onclick="sortBy('transport', this)" class="order orderDes orderHidden">Đưa đón</th>
                    </tr>
                </thead>
                <tbody id="TSMTPaging"></tbody>
            </table>
        </div>
    </div>

    <span class="assigned" style="float: right;">
        @Html.ActionLink("Sắp tay", "ManualAssignToCar", new { id = @Model.CharityExamID }, new { @class="btn-u btn-u-pink" })
        @Html.ActionLink("Xoá kết quả sắp xe hiện tại", null, null, new { @class = "btn-u btn-u-red", onclick = "return showPopup('Xác nhận xoá kết quả sắp xe:', '/Charity/ResetCars/" + @Model.CharityExamID + "?ReAssign=false')" })
        @Html.ActionLink("Sắp lại", null, null, new { @class = "btn-u btn-u-purple", onclick = "return showPopup('Sắp lại xe sẽ xoá kết quả sắp xe hiện tại.</br>Xác nhận xoá kết quả sắp xe:', '/Charity/ResetCars/" + @Model.CharityExamID + "?ReAssign=true')" })
    </span>
    <span class="notAssigned" style="float: right;">
        @*@Html.ActionLink("Sắp xe", "AssignToCar", new { id = @Model.CharityExamID }, new { @class = "btn-u btn-u-brown" })*@
            <a href="@Url.Action("AssignToCar", "Charity", new { id = @Model.CharityExamID })" class="btn-u btn-u-brown"><i class="fa fa-sort"></i>&nbsp;Sắp xe</a>
    </span>

    @*@Html.ActionLink("Quay lại", "ManageCandidate", new { id = @Model.CharityExamID }, new { @class = "btn btn-info" })*@
    <a href="@Url.Action("ManageCandidate", "Charity", new { id = @Model.CharityExamID })" class="btn-u btn-u-default"><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay lại</a>
    <a href="@Url.Action("AssignRoom", "Charity", new { id = @Model.CharityExamID })" class="btn-u btn-u-violet"><i class="fa fa-building-o"></i>&nbsp;Đến trang sắp xếp phòng</a>

</div>

<link rel="stylesheet" href="~/Content/css/TSMTPaging.css">
<script type="text/javascript" src="~/Content/js/TSMTPaging.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        fetchData();
    });
    function fetchData() {
        $.ajax({
            url: '/Charity/GetDataAssignCar',
            data: { id: @Model.CharityExamID },
            type: 'POST',
            success: function (results) {
                if (results.success == true) {
                    if (results.IsAssigned) {
                        $(".assigned").removeClass("assigned");
                    } else {
                        $(".notAssigned").removeClass("notAssigned");
                    }
                    init(10, 5, results.data);
                }
            }
        });
    }
    function showData(index, record){
        if (bgCriteria != record.transport){
            bgColor = (bgColor == "" ? "aliceblue" : "");
            bgCriteria = record.transport;
        }

        var tmp = "<tr style='background:" + bgColor + "'><td>" + index;
        tmp += "</td><td>" + record.nameLink;
        tmp += "</td><td>" + record.lodgeLink;
        tmp += "</td><td>" + record.venueLink;
        tmp += "</td><td>" + (record.transportLink == "" ? record.transport : record.transportLink);
        tmp += "</td></tr>";
        return tmp;
    }
    function matchSearch(i, text){
        var r = false;
        r = r || (TSMTPagingData[i].name.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].lodge.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].venue.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].transport.toUpperCase().indexOf(text) > -1);
        return r;
    }
</script>
