@using TSMT.Models
@model TSMT.Models.Lodge
@{
    ViewBag.Title = "Chọn phòng cho hội từ thiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    //function callAjax(id, cId) {
    //    if (id == 0) {
    //        $("#asd").html("");
    //    }   
    //    else {
    //        $.ajax({
    //            url: 'ResultAjax',
    //            data: { "id": id , "charityId": cId },
    //            type: 'GET',
    //            success: function (results) {
    //                $("#asd").html("");
    //                $("#asd").append("<option >-----</option>");
    //                for (i in results) {
    //                    var r = results[i];
    //                    $("#asd").append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");

    //                }
    //            }
    //        });
    //    }
    //}


    //function callAjaxLodgeCharityid(id) {
    //    if (id == 0) {
    //        $("#charityid").html("");
    //    }
    //    else {
    //        $.ajax({
    //            url: 'ResultAjaxCharityid',
    //            data: { "id": id },
    //            type: 'GET',
    //            success: function (results) {
    //                $("#charityid").html("");

    //                for (i in results) {
    //                    var r = results[i];
    //                    $("#charityid").val(r["charityid"]);

    //                }
    //            }
    //        });
    //    }
    //}


    $(document).ready(function() {
        $("#saveall").click(function() {
            var eId;
            var roomId = "";
            var lodgeId = document.getElementById("lodgeId").value;
            var cId = document.getElementById("charityid").value;
            var eId = document.getElementById("charityexamid").value;
            $("[id*=tableroom] input:checked").each(function() {

                roomId += $(this).val() + "-";

            });
            var examDate = new Date(document.getElementById("exam").textContent);
            var now = new Date;
            if ((examDate - now) / 86400000 >= 1) {
                if (roomId != "") {
                    //eId = parseInt(document.getElementById("qwe").value);
                    $.ajax({
                        url: 'ChooseRoomsForCe',
                        data: { "eId": eId, "roomId": roomId, "lodgeId": lodgeId, "cId": cId },
                        type: 'POST',
                        success: function(results) {
                            window.location.assign("@Url.Content("~/Charity/ManageLodge/" + @ViewData["ceId"])");

                        }
                    });
                } else {
                    eId = 0;
                    alert("No item has been selected.");
                }
                return true;
            } else {
                alert("Đã hoàn tất đăng ký cho đợt thi này, bạn không thể xếp chỗ trọ được nữa");
                return false;
            }

        });
    });



</script>

<script type="text/javascript">
    function checkAll(source) {
        checkboxes = document.getElementsByName('charityexamid');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")


<input type="hidden" id="lodgeId" value="@Model.LodgeID"/>


<div class="col-md-6">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>Chọn phòng 
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td>Dùng Cho Kì Thi: </td>
                    <td colspan="3"><b>@ViewData["ExamName"]</b><div id="date">@ViewData["BeginDate"]</div>
                    </td>
                    @*<td>
                        <select id="qwe" class="form-control">
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["Exam"] as IEnumerable<Examination>)
                            {
                                if (Model.CharityExamID == null)
                                { 
                                <option value="@item.ExaminationID">@item.Name</option>
                                }
                                else
                                {
                                    if (item.ExaminationID == Model.ChairitiesExam.Examination.ExaminationID)
                                    {
                                <option value="@item.ExaminationID" selected="selected">@item.Name</option>
                                    }
                                    else
                                    {
                                <option value="@item.ExaminationID">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                    </td>*@
                    @*  <td>Tổ Chức: </td>
                    <td>
                        <select id="asd" name="asd" onchange="callAjaxLodgeCharityid(this.value)" class="form-control" >
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["CE"] as IEnumerable<ChairitiesExam>)
                            {
                                if (Model.CharityExamID == null)
                                { 
                                <option value="@item.CharityExamID">@item.CharityExamName</option>
                                }
                                else
                                {
                                    if (item.CharityExamID == Model.CharityExamID)
                                    {
                                <option value="@item.CharityExamID" selected="selected">@item.CharityExamName</option>
                                    }
                                    else
                                    {
                                <option value="@item.CharityExamID">@item.CharityExamName</option>
                                    }
                                }


                            }
                        </select>
                    </td>*@
                    <input type="hidden"  value="@Model.CharityID" id ="charityid" />
                    <input type="hidden"  value="@ViewData["ceId"]" id ="charityexamid" />
                </tr>
                <tr>
                    <td>Địa chỉ</td>
                    <td>
                        <b>@Model.Address</b> </td>
                </tr>
                <tr>
                    <td colspan="4">Vui lòng chọn phòng bên dưới để sử dụng cho kì thi</td>
                </tr>



            </table>
            <table id="tableroom" class="table table-hover">
                <tr>
                    @*<td><input type="checkbox" onclick="checkAll(this)"/></td>*@
                    <td></td>
                    <td>Tên Phòng</td>
                    <td>Tổng Số Chỗ</td>
                </tr>
                @{
                   

                    foreach (var item in ViewData["rooms"] as IEnumerable<Room>)
                    {
                           
                    <tr>
                        <td>
                            <input class="roomid"   type="checkbox" name ="charityexamid" value="@item.RoomID" />
                        </td>

                        <td>@item.RoomName</td>
                        <td>@item.TotalSlots</td>
                    </tr>
                       
                    }
                }

            </table>
        </div>
    </div>
<<<<<<< .mine

    <div style="float: right">
        @*<button type="submit" value="Chọn" class="btn-u btn-u-green" id="saveall"><i class="icon-ok-sign"></i>&nbsp;Chọn</button>*@
        <a href="#" class="btn-u btn-u-green" id="saveall"><i class="icon-ok-sign"></i>&nbsp;Chọn</a>
        <a href="@Url.Action("ChooseLodgeForCe", "Charity", new { id = ViewData["ceId"] })" class="btn-u btn-u-red"><i class="icon-remove-sign"></i>&nbsp;Hủy</a>
        @*<input type="submit" value="Chọn" class="btn-u btn-u-default" id="saveall" />*@
        @*<input type="reset" value="Làm lại" class="btn-u btn-u-blue" />*@
    </div>

=======
                    
                        <div style="float: right">
                            @*<button type="submit" value="Chọn" class="btn-u btn-u-green" id="saveall"><i class="fa fa-ok-sign"></i>&nbsp;Chọn</button>*@
                            <a href="#" class="btn-u btn-u-green" id="saveall"><i class="fa fa-check"></i>&nbsp;Chọn</a> 
                            <a href="@Url.Action("ChooseLodgeForCe", "Charity", new { id = ViewData["ceId"] })" class="btn-u btn-u-red"><i class="fa fa-times"></i>&nbsp;Hủy</a>
                            @*<input type="submit" value="Chọn" class="btn-u btn-u-default" id="saveall" />*@
                            @*<input type="reset" value="Làm lại" class="btn-u btn-u-blue" />*@
                        </div>
                    
>>>>>>> .r418
</div>



