@using TSMT.Models
@model TSMT.Models.ChairitiesExam
@{
    ViewBag.Title = "Chọn xe cho hội từ thiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#saveall").click(function () {
            var eId;
            var carId = "";
            //var lodgeId = document.getElementById("lodgeId").value;
            var cId = document.getElementById("charityid").value;
            var eId = document.getElementById("charityExamid").value;
            $("[id*=tableroom] input:checked").each(function () {
                carId += $(this).val() + "-";
            });
            var examDate = new Date(document.getElementById("exam").textContent);
            var now = new Date;
            if ((examDate - now) / 86400000 >= 1) {
                if (carId != "") {
                    //eId = parseInt(document.getElementById("qwe").value);
                    $.ajax({
                        url: 'ChooseCarForCe',
                        data: { "eId": eId, "carId": carId, "cId": cId },
                        type: 'POST',
                        success: function (results) {
                            window.location.assign("@Url.Content("~/Charity/ManageCar/" + @Model.CharityExamID)");
                        }
                    });
                    } else {
                        eId = 0;
                        alert("No item has been selected.");
                    }
                    return true;
                } else {
                    alert("Đã hoàn tất đăng ký cho đợt thi này, bạn không thể xếp xe được nữa");
                    return false;
                }


        });
    });

        function checkDate() {
            var examDate = new Date(document.getElementById("date")[document.getElementById("date").selectedIndex].textContent);
            var now = new Date;
            if ((examDate - now) / 86400000 >= 1) {
                return true;
            } else {
                alert("Đã hoàn tất đăng ký cho đợt thi này, bạn không thể xếp xe được nữa");
                return false;
            }
        }

</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")


@*<input type="hidden" id="lodgeId" value="@Model.LodgeID"/>*@


<div class="col-md-6">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>Thông tin xe của Kì Thi </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td colspan="5">Kì thi: @Model.Examination.Name</td>
                    <td>
                        <div id="exam" style="display: none">@Model.Examination.BeginDate</div>
                    </td>
                </tr>
                <tr>
                    <td>Số Thi Sinh Tham Gia Đợt Này
                    </td>
                    <td colspan="5">@ViewData["totalCadidate"]</td>
                </tr>
                <tr>
                    <td>Số Chỗ Ngồi Đã Có Thể Đáp Ứng
                    </td>
                    <td colspan="5">@ViewData["totalSlots"]</td>
                </tr>
                @if (ViewBag.totalAvaSlots > 0)
                {
                    <tr>
                        <td>Số Chỗ Ngồi Còn Thiếu</td>
                        <td>@ViewData["totalAvaSlots"]</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: center; color: red"><b>Bạn hãy chọn thêm xe cho đợt này!</b> </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="5" style="text-align: center; color: red"><b>Hiện tại đã đủ xe để đáp ứng cho đợt này!</b> </td>

                    </tr>
                }
            </table>

        </div>
    </div>
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>Bạn có thể chọn các xe dưới đây ! Để tài trợ cho Kì Thi
            </h3>
        </div>
        <div class="panel-body">
            <input type="hidden"  value="@Model.CharityID" id ="charityid" />
            <input type="hidden"  value="@Model.CharityExamID" id ="charityExamid" />
            <table class="table table-hover">
                <tr>
                    <td colspan="2">Vui lòng chọn xe bên dưới để sử dụng cho kì thi</td>
                </tr>
            </table>
            <table id="tableroom" class="table table-hover">
                <tr>
                    <td>
                        <input class="carid2" type="checkbox" name="charityexamid2" />
                    </td>
                    <td>Biển Số Xe</td>
                    <td>Tổng Số Chỗ</td>
                </tr>
                @{
                    int counter = 1;

                    foreach (var item in ViewData["Cars"] as IEnumerable<Car>)
                    {
                           
                    <tr>
                        <td>
                            <input class="carid"   type="checkbox" name ="charityexamid" value="@item.CarID" />
                        </td>
                        <td>@item.NumberPlate</td>
                        <td>@item.TotalSlots</td>
                    </tr>
                        ++counter;
                    }
                }
                <tr>
                    @*                      <td colspan="4">
                          <input type="button" class="btn btn-info" onclick="history.go(-1);" value="Quay lại" />
                          <input type="submit" value="Chọn" class="btn btn-info" id="saveall" />
                          <input type="reset" value="Làm lại" class="btn btn-info" />
                      </td>*@

                </tr>
            </table>

        </div>
    </div>
    <div style="float: right">
        <button type="submit" value="Chọn" class="btn-u btn-u-purple" id="saveall"><i class="fa fa-check"></i>&nbsp;Chọn</button>
        <button type="button" onclick="location.href='/Charity/ManageCar/'+ @Model.CharityExamID" class="btn-u btn-u-red"><i class="fa fa-times"></i>&nbsp;Hủy</button>
    </div>
     <a href="@Url.Action("ManageCar", "Charity", new { id = @Model.CharityExamID})" class="btn-u btn-u-default"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</a>
    @* <table>
        <tr>
        <td colspan="4">
            <div style="float: right">
                <button type="submit" value="Chọn" onclick="" class="btn-u btn-u-green" id="saveall"><i class="icon-pencil"></i>&nbsp;Chọn</button>
                @*<input type="submit" value="Chọn" class="btn-u btn-u-default" id="saveall" />*@
    @*<input type="reset" value="Làm lại" class="btn-u btn-u-blue" />*@
    @*</div>
            <a href="@Url.Action("ManageCar", "Charity", new { id = @Model.CharityExamID })" class="btn-u btn-u-default"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</a>
          
            <a href="@Url.Action("ManageCar", "Charity", new { id = @Model.CharityExamID })" class="btn-u btn-u-default"><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay lại</a>
        </td>
    </tr>
    </table>
    *@
</div>
<script type="text/javascript">
    function synChange() {
        if (document.getElementById("exam").selectedIndex == 0) {
            document.getElementById("date").selectedIndex = 0;
        } else {
            document.getElementById("date").selectedIndex = document.getElementById("exam").selectedIndex;
        }
    }
    function checkDate() {
        var examDate = new Date(document.getElementById("date")[document.getElementById("date").selectedIndex].textContent);
        var now = new Date;
        if ((examDate - now) / 86400000 >= 3) {
            return true;
        } else {
            alert("Đã hoàn tất đăng ký cho đợt thi này, bạn không thể xếp xe được nữa");
            return false;
        }
    }
</script>



