@using TSMT.Models
@model TSMT.Models.ChairitiesExam

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "ChooseLodgeForCe ";
    ViewBag.Title = "Chọn nhà trọ cho kì thi";
       
}

<script src="/Content/js/TSMTViewOnMap.js"></script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

<div class="col-md-9">


     <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Thông tin chỗ trọ của Kì Thi 
            </h3>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td colspan="5">Kì thi: @Model.Examination.Name</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Số Thi Sinh Tham Gia Đợt Này
                    </td>
                    <td colspan="5">@ViewData["totalCadidate"]</td>
                </tr>
                <tr>
                    <td>Số Chỗ Trọ Đã Có Thể Đáp Ứng
                    </td>
                    <td colspan="5">@ViewData["totalSlots"]</td>
                </tr>
                                @if (ViewBag.totalAvaSlots > 0)
                                {
                                    <tr>
                                    <td>Số Chỗ Trọ Còn Thiếu</td>
                                    <td>@ViewData["totalAvaSlots"]</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                        </tr>
                                    <tr>
                                    <td colspan="6" style="text-align: center; color:red"><B>Bạn hãy chọn thêm chỗ trọ cho đợt này!</B> </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                    <td colspan="5" style="text-align: center; color:red"><B>Hiện tại đã đủ chỗ trọ để đáp ứng cho đợt này!</B> </td>

                                    </tr>
                                }
            </table>

        </div>
    </div>

    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Bạn có thể chọn các nhà trọ dưới đây ! Để tài trợ thêm cho Kì Thi
                @* <a href="@Url.Action("AddCar", "Charity", new { ceId = Model.CharityExamID })" class="btn-u btn-u-green"><i class="icon-pencil"></i>Tạo mới</a>*@
            </h3>

        </div>
        <div class="panel-body">
            <div class="tab-v1">
                @*                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Nhà trọ của Hội từ thiện @Model.Name</a></li>
                </ul>*@
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Địa chỉ</th>
                                    <th>Tổng số phòng</th>
                                    <th>Tổng số chỗ</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 1;

                                    foreach (var item in ViewData["Lodge"] as IEnumerable<Lodge>)
                                    {
                                        <tr id="@item.LodgeID">
                                            <td>@counter</td>
                                            <td>@item.Address</td>                                       
                                            <td>@item.Rooms.Count</td>
                                            <td>@item.TotalSlots</td>
                                            <td>
                                                @*<button class="btn-u btn-u-blue" title="Xem trên bản đồ" onclick="openWindowPopup('/Home/ViewLodge/', @item.LodgeID)"><i class="icon-map-marker"></i></button>*@
                                                <a href="#" class="btn-u btn-u-blue" title="Xem trên bản đồ" onclick="openWindowPopup('/Home/ViewLodge/', @item.LodgeID)"><i class="fa fa-map-marker"></i></a> 
                                                @*@Html.ActionLink("Details", "DetailsLodge", new { lodgeId = @item.LodgeID })*@
                                                @*@Html.ActionLink("Sử dụng", "ChooseRoomsForCe", new { lodgeId = @item.LodgeID , id = @ViewData["ceId"]})*@
                                                <a href="@Url.Action("ChooseRoomsForCe", "Charity", new { lodgeId = @item.LodgeID , id = @ViewData["ceId"]})" class="btn-u btn-u-pink" title="Sử dụng"><i class="fa fa-check"></i></a>
                                            </td>

                                        </tr>
                                        ++counter;
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <a href="@Url.Action("ManageLodge", "Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-default"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</a>
    @*@Html.ActionLink("Quay lại ", "ManageLodge", new { ceId = @ViewData["ceId"] }, new { @class = "btn btn-info" })*@
</div>


