@model TSMT.Models.ChairitiesExam

@{
    ViewBag.Title = "Thông tin của tổ chức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_CharitySidebarPartial")

<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Thông tin về tổ chức @Model.Charity.Name , kì thi @Model.Examination.Name
                <a href="@Url.Action("AddCharityExam", "Charity")" class="btn-u btn-u-green"><i class="icon-pencil"></i>Create</a>
            </h3>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td>Đợt thi</td>
                    <td>@Model.Examination.Name</td>
                </tr>
                <tr>
                    <td>Tổng số chỗ trọ</td>
                    <td>@Model.TotalSlotsLodges</td>
                </tr>
                <tr>
                    <td>Số chỗ trọ còn trống</td>
                    <td>@Model.AvailableSlotsLodges</td>
                </tr>
                <tr>
                    <td>Tổng số chỗ ngồi trên xe</td>
                    <td>@Model.TotalSlotsVehicles</td>
                </tr>
                <tr>
                    <td>Số chỗ ngồi còn trống</td>
                    <td>@Model.AvailableSlotsVehicles</td>
                </tr>
            </table>
            <p>
                @Html.ActionLink("Chỉnh sửa", "EditCharityExam", new { ceId = Model.CharityExamID }, new { @class = "btn btn-info" })
            </p>
        </div>
    </div>
    <div class="row servive-block margin-bottom-10">
        @* <a href="@Url.Action("ManageSponsor", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>Quản lý Tài trợ</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>*@
        <a href="@Url.Action("ManageVolunteer", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>Quản lý Tình nguyện viên</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("ManageCandidate", "Charity", new { id = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>Quản lý Thí sinh</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("ManageLodge", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>Quản lý Chỗ trọ</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>

    </div>
    <div class="row servive-block margin-bottom-10">
        <a href="@Url.Action("ManageCar", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>Quản lý Xe</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("ManageFunds", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>Quản lý Tiền được tài trợ</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
    </div>
</div>
