@using TSMT.Models
@model TSMT.Models.Car

@{
    ViewBag.Title = "DetailsCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Details Car</h2>
<div class="inner-page-content inner-testimonial">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <!-- Testimonial item -->
                <div class="testimonial-item">
                    <!-- User Image -->
                    <img src="/Content/img/user-big.jpg" style="max-width: 60px" class="img-responsive img-thumbnail img-circle" alt="" />
                    <!-- User name and designation -->


                    <h4>Biển Số : @Model.NumberPlate</h4>
                    <!-- User comments -->
                    <blockquote>
                        <div class="f-caption">
                            <h5>Tổng Số Chỗ Ngồi : @Model.TotalSlots</h5>
                            <h5>Số Chỗ Ngồi Còn Trống : @Model.AvailableSlots</h5>
                            <h5>Tài Xế : @Model.DriverName</h5>
                            <h5>Số Điện Thoại : @Model.DriverPhone</h5>
                            <!-- Paragraph -->
                            @if (Model.SponsorID != null)
                            {
                                <p>Xe được tài trợ bởi nhà tài trợ @ViewData["sponsor"]</p>
                            }


                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Back to Manage CE", "DetailsCharityExam", new { ceId = @ViewData["ceId"] }, new { @class = "btn btn-info" })
</div>
