@using TSMT.Models
@model TSMT.Models.Volunteer


@{
    ViewBag.Title = "Thông tin chi tiết của tình nguyện viên";
    
}


@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-20">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("ManageVolunteer", "Charity")">Quản lý tình nguyện viên</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

<h2 class="title_of_page">Thông tin về tình nguyện viên</h2>
<div class="inner-page-content inner-testimonial">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <!-- Testimonial item -->
                <div class="testimonial-item">
                    <!-- User Image -->
                    <img src="/Content/img/user-big.jpg" style="max-width: 60px" class="img-responsive img-thumbnail img-circle" alt="" />
                    <!-- User name and designation -->

                    <ol>
                        <h4>Tên : @Model.Account.Profile.Lastname @Model.Account.Profile.Firstname</h4>

                        <h5>Năm sinh : @Model.Account.Profile.DateOfBirth</h5>
                        <h5>Công việc hiện tại : @Model.JobName</h5>
                        <h5>Về bản thân :</h5>
                    </ol>
                    
                    <!-- User comments -->
                    <blockquote>
                        <div class="f-caption">
                            @Model.Description

                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Quay lại", "ManageVolunteer", new { id = @ViewData["ceId"] }, new { @class = "btn btn-info" })
</div>
