@using TSMT.Models
@model TSMT.Models.Volunteer


@{
    ViewBag.Title = "DetailsVolunteer";
}

<h2 class="title_of_page">Details Volunteer</h2>
<div class="inner-page-content inner-testimonial">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <!-- Testimonial item -->
                <div class="testimonial-item">
                    <!-- User Image -->
                    <img src="/Content/img/user-big.jpg" style="max-width: 60px" class="img-responsive img-thumbnail img-circle" alt="" />
                    <!-- User name and designation -->


                    <h4>Tên : @Model.Account.Profile.Lastname @Model.Account.Profile.Firstname</h4>
                    <h5>Năm sinh : @Model.Account.Profile.DateOfBirth</h5>
                            <h5>Công việc hiện tại : @Model.JobName</h5>
                            <h5>Decription :</h5>
                    <!-- User comments -->
                    <blockquote>
                        <div class="f-caption">
                             @Model.Description

                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Back to Manage CE", "DetailsCharityExam", new { ceId = @ViewData["ceId"] }, new { @class = "btn btn-info" })
</div>
