@model IEnumerable<TSMT.Models.ChairitiesExam>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quản lý thông tin kỳ thi cho Hội từ thiện";
    ViewBag.Active = "ManageCharityExam";
}
<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script src="~/Content/js/TSMTPopup.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-confirm').addClass("popup-remove");
    });
</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")
<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Thông tin kỳ thi cho Hội từ thiện
                <a href="@Url.Action("AddCharityExam", "Charity")" class="btn-u btn-u-green"><i class="icon-plus"></i>Tạo mới</a>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr style="vertical-align:middle">
                        <th>STT</th>
                        <th>Kỳ thi</th>
                        <th>Tổng số chỗ trọ</th>
                        <th>Số trọ trống</th>
                        <th>Tổng số phương tiện</th>
                        <th>Phương tiện trống</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr id="@item.CharityExamID">
                                <td>@Html.ActionLink(i.ToString(), "ManageCE", new { id = item.CharityExamID })</td>
                                <td>@Html.ActionLink(item.Examination.Name, "ManageCE", new { id = item.CharityExamID })</td>
                                <td>@item.TotalSlotsLodges</td>
                                <td>@item.AvailableSlotsLodges</td>
                                <td>@item.TotalSlotsVehicles</td>
                                <td>@item.AvailableSlotsVehicles</td>
                                <td>
                                    <a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @item.CharityExamID })" class="btn-u btn-u-brown" title="Xem Chi Tiết"><i class="icon-eye-open"></i></a>
                                    <a href="@Url.Action("EditCharityExam", "Charity", new { id = @item.CharityExamID })" class="btn-u btn-u-blue" title="Sửa"><i class="icon-edit"></i></a>
                                    <a href="@Url.Action("DeleteCharityExam", "Charity", new { id = @item.CharityExamID })" class="btn-u btn-u-red" title="Hủy Tài Trợ" onclick="return showPopup('Are you sure to delete it?', this.href, @item.CharityExamID , 'del' )"><i class="icon-remove"></i></a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a href="@Url.Action("Index", "Charity")" class="btn-u btn-u-default"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</a>
</div>
<script type="text/javascript">
    function callAjaxDelete(id) {


        $.ajax({
            url: 'DeleteCharityExam/' + id,
            type: 'GET',
            success: function (results) {
                $("#" + id).hide(800, function () {
                    $("#" + id).remove();
                });

            }
        });
        return false;
    }
    </script>