@using TSMT.Models
@model TSMT.Models.ChairitiesExam

@{
    ViewBag.Title = "Quản lý chỗ ở ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/TSMTPopup.js"></script>
<script src="~/Content/js/TSMTViewOnMap.js"></script>
<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script>
    $(document).ready(function () {
        $('.popup-confirm').addClass("popup-remove");
    });
</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title của @Model.Charity.Name</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @ViewData["ceId"] })">Đợt thi</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")
<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>Thông tin về nhà trọ kì thi @Model.Examination.Name
                <a href="@Url.Action("ChooseLodgeForCe", "Charity", new { id = Model.CharityExamID })" class="btn-u btn-u-green"><i class="fa fa-plus"></i>Chọn nhà cho đợt thi</a>

            </h3>
        </div>
        <div class="panel-body">
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Chỗ trọ của Hội từ thiện</a></li>
                    <li><a href="#sponsored" data-toggle="tab">Chỗ trọ được tài trợ</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        @if (@Model.Lodges.Count == 0)
                        {
                            <p># Chưa có nhà trọ cho đợt thi này #</p> 
                        }
                        else {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Địa chỉ</th>
                                    <th>Tổng số phòng</th>
                                    <th>Tổng số chỗ trọ</th>
                                    <th>Số chỗ còn trống</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 1;

                                    foreach (var item in ViewData["lodgesOfCharity"] as IEnumerable<Lodge>)
                                    {
                                    <tr id="@item.LodgeID">
                                        <td style="vertical-align:middle">@counter</td>
                                        <td style="vertical-align:middle">@item.Address</td>
                                        <td style="vertical-align:middle">@item.Rooms.Count(r => r.CharityExamID != null)</td>
                                        <td style="vertical-align:middle">@item.TotalSlotsInUsed</td>
                                        <td style="vertical-align:middle">@item.AvailableSlots</td>
                                        <td style="vertical-align:middle">
                                            @*<button onclick="openWindowPopup('/charity/ViewLodge/', @item.LodgeID)">View on Map</button>*@
                                            @*<button class="btn-u btn-u-red" title="Xem trên bản đồ" onclick="openWindowPopup('/charity/ViewLodge/', @item.LodgeID)"><i class="fa fa-map-marker"></i></button>*@
                                              <a href="#"  onclick="openWindowPopup('/Home/ViewLodge/', @item.LodgeID)" class="btn-u btn-u-violetRed" title="Xem trên bản đồ" style="width:40px;height:30px"><i class="fa fa-map-marker"></i></a>
                                        <a href="#"  onclick="openWindowPopup('/charity/ViewLodge/', @item.LodgeID)" class="btn-u btn-u-green" title="Xem danh sách sinh viên" style="width:40px;height:30px"><i class="fa fa-group"></i></a>
                                            @*@Html.ActionLink("Details", "DetailLodgeCE", new { lodgeId = @item.LodgeID })*@
                                            <a href="@Url.Action("DetailLodgeCE", "Charity", new { id = @item.LodgeID })" class="btn-u btn-u-violet" title="Xem Chi Tiết"><i class="fa fa-eye"></i></a>
                                            @* @Html.ActionLink("Edit", "EditLodge", new { lodgeId = @item.LodgeID })*@
                                            @*@Html.ActionLink("Xóa", "RemoveLodgeOutCe", new { id = @item.LodgeID }, new { onclick = "return showPopup('Are you sure to delete it?', this.href," + @item.LodgeID + ", 'removeOutCe' );" })*@
                                            @if (item.AvailableSlots == item.TotalSlotsInUsed)
                                            {
                                                <a href="@Url.Action("RemoveLodgeOutCe", "Charity", new { id = @item.LodgeID })" class="btn-u btn-u-red" title="Xóa" onclick = "return showPopup('Bạn có chắc muốn xóa?', this.href, @item.LodgeID , 'removeOutCe' );"><i class="fa fa-trash-o"></i></a>
                                            }

                                        </td>

                                    </tr>
                                            ++counter;
                                    }
                                }
                            </tbody>
                        </table>
                        }

                    </div>
                    <div class="tab-pane" id="sponsored">
                        @if (@Model.Lodges.Count(l => l.Sponsor != null) <= 0)
                        {
                            <p># Chưa nhận được bất cứ tài trợ nào</p> 
                        }
                        else {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Địa chỉ</th>
                                    <th>Nhà tài trợ</th>
                                    <th>Tổng số phòng</th>
                                    <th>Tổng số chỗ trọ</th>
                                    <th>Số chỗ còn trống</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;

                                    foreach (var lodge in ViewData["lodgesSponsor"] as IEnumerable<Lodge>)
                                    {
                                    <tr id="@lodge.LodgeID">
                                        <td style="vertical-align:middle">@count</td>
                                        <td style="vertical-align:middle">@lodge.Address</td>
                                        <td style="vertical-align:middle">@if (@lodge.SponsorID != null)
                                            {
                                            @lodge.Sponsor.Account.Profile.Lastname @lodge.Sponsor.Account.Profile.Firstname
                                            }
                                        </td>
                                        <td style="vertical-align:middle">@lodge.Rooms.Count(r => r.CharityExamID == Model.CharityExamID)</td>
                                        <td style="vertical-align:middle">@lodge.TotalSlotsInUsed</td>
                                        <td style="vertical-align:middle">@lodge.AvailableSlots</td>
                                        @if (lodge.IsApproved && lodge.SponsorID != null)
                                        {
                                            <td style="vertical-align:middle"><span class="label label-success">Đã duyệt</span></td>
                                            <td style="vertical-align:middle">
                                                @*@Html.ActionLink("Edit", "EditLodge", new { lodgeId = @item.LodgeID })*@
                                                @*<button class="btn-u btn-u-red" title="Xem trên bản đồ" onclick="openWindowPopup('/charity/ViewLodge/', @item.LodgeID)"><i class="fa fa-map-marker"></i></button>*@
                                                  <a href="#"  onclick="openWindowPopup('/Home/ViewLodge/', @lodge.LodgeID)" class="btn-u btn-u-violetRed" title="Xem trên bản đồ" style="width:40px;height:30px"><i class="fa fa-map-marker"></i></a>
                                        <a href="#"  onclick="openWindowPopup('/Charity/ViewLodge/', @lodge.LodgeID)" class="btn-u btn-u-green" title="Xem danh sách sinh viên" style="width:40px;height:30px"><i class="fa fa-group"></i></a>
                                                <a href="@Url.Action("DetailLodgeCE", "Charity", new { id = @lodge.LodgeID })" class="btn-u btn-u-violet" title="Xem Chi Tiết"><i class="fa fa-eye"></i></a>
                                                <a href="@Url.Action("RemoveLodge", "Charity", new { id = @lodge.LodgeID })" class="btn-u btn-u-red" title="Xóa nhà này"  onclick = "return showPopup('Bạn có chắc chắn muốn xóa ?', this.href, @lodge.LodgeID , 'removeOut' );" ><i class="fa fa-trash-o"></i></a>

                                            </td>
                                        }
                                        else if (!lodge.IsApproved && lodge.SponsorID != null)
                                        {
                                            <td style="vertical-align:middle"><span class="label label-danger">Chưa duyệt</span></td>
                                            <td style="vertical-align:middle">
                                                @*<button class="btn-u btn-u-red" title="Xem trên bản đồ" onclick="openWindowPopup('/charity/ViewLodge/', @item.LodgeID)"><i class="fa fa-map-marker"></i></button>*@
                                                  <a href="#"  onclick="openWindowPopup('/Home/ViewLodge/', @lodge.LodgeID)" class="btn-u btn-u-violetRed" title="Xem trên bản đồ" style="width:40px;height:30px"><i class="fa fa-map-marker"></i></a>
                                        <a href="#"  onclick="openWindowPopup('/Charity/ViewLodge/', @lodge.LodgeID)" class="btn-u btn-u-green" title="Xem danh sách sinh viên" style="width:40px;height:30px"><i class="fa fa-car"></i></a>

                                                <a href="@Url.Action("DetailLodgeCE", "Charity", new { id = @lodge.LodgeID })" class="btn-u btn-u-violet" title="Xem Chi Tiết"><i class="fa fa-eye"></i></a>
                                                <a href="@Url.Action("RemoveLodge", "Charity", new { id = @lodge.LodgeID })" style="display: none" class="btn-u btn-u-red" title="Xóa nhà này"  onclick = "return showPopup('Bạn có chắc chắn muốn xóa ?', this.href, @lodge.LodgeID , 'removeOut' );" ><i class="fa fa-trash-o"></i></a>
                                                <a href="@Url.Action("ApproveLodge", "Charity", new { id = @lodge.LodgeID })" class="btn-u btn-u-green" title="Nhận nhà này"  onclick = "return callAjaxApprove(@lodge.LodgeID);" ><i class="fa fa-ok-sign"></i></a>
                                                <a href="@Url.Action("DenieLodge", "Charity", new { id = @lodge.LodgeID })" class="btn-u btn-u-red" title="Tư chối nhà này"  onclick = "return showPopup('Bạn có chắc chắn muốn từ chối nhà này không?', this.href, @lodge.LodgeID , 'remove' );" ><i class="fa fa-trash-o"></i></a>
                                                @*  @Html.ActionLink("Remove", "DenieLodge", new { id = @item.LodgeID }, new { style = "display: none", onclick = "return showPopup('Are you sure to delete it?', this.href," + @item.LodgeID + ", 'removeOut' );" })
                                                @Html.ActionLink("Approve", "ApproveLodge", new { id = @item.LodgeID }, new { onclick = "return callAjaxApprove(" + @item.LodgeID + ")" })
                                                @Html.ActionLink("Denie", "DenieLodge", new { id = @item.LodgeID }, new { onclick = "return showPopup('Are you sure to denie it?', this.href," + @item.LodgeID + ", 'remove' );" })*@


                                            </td>
                                        }
                                    </tr>
                                        ++count;
                                    }
                                }
                            </tbody>
                        </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-default"><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay lại</a>
</div>
@*@Html.ActionLink("Create", "AddLodge", new { ceId = Model.CharityExamID }, new { @class = "btn btn-info" })*@
@*@Html.ActionLink("Trở về trang quản lý", "DetailsCharityExam", new { id = @ViewData["ceId"] }, new { @class = "btn btn-info" })
@Html.ActionLink("Thêm nhà trọ", "ChooseLodgeForCe", new { id = @ViewData["ceId"] }, new { @class = "btn btn-info" })*@

<script type="text/javascript">

    function callAjaxApprove(lodgeId) {
        $.ajax({
            url: '/Charity/ApproveLodge/' + lodgeId,
            type: 'GET',
            success: function (results) {
                var tr = document.getElementById(lodgeId);
                var lastTd = tr.lastElementChild;
                var preLastTd = lastTd.previousElementSibling;

                lastTd.removeChild(lastTd.lastElementChild);
                lastTd.removeChild(lastTd.lastElementChild);

                lastTd.lastElementChild.style.display = "inline";
                //lastTd.firstElementChild.style.display = "inline";
                var spanStatus = preLastTd.lastElementChild;
                spanStatus.textContent = "Đã duyệt";
                spanStatus.className = "label label-success";
            }
        });
        return false;
    }

    function callAjaxDelete(lodgeId) {
        $.ajax({
            url: '/Charity/DeleteLodge/' + lodgeId,
            type: 'GET',
            success: function (results) {
                $("#" + lodgeId).hide(800, function () {
                    $("#" + lodgeId).remove();
                });
            }
        });
        return false;
    }

    function callAjaxDenie(lodgeId) {
        $.ajax({
            url: '/Charity/DenieLodge/' + lodgeId,
            type: 'GET',
            success: function (results) {
                $("#" + lodgeId).hide(800, function () {
                    $("#" + lodgeId).remove();
                });
            }
        });
        return false;
    }

    function callAjaxRemove(lodgeId) {


        $.ajax({
            url: '/Charity/RemoveLodge/' + lodgeId,
            type: 'GET',
            success: function (results) {
                $("#" + lodgeId).hide(800, function () {
                    $("#" + lodgeId).remove();
                });
            }
        });
        return false;
    }

    function callAjaxRemoveOutCe(lodgeId) {


        $.ajax({
            url: '/Charity/RemoveLodgeOutCe/' + lodgeId,
            type: 'GET',
            success: function (results) {
                $("#" + lodgeId).hide(800, function () {
                    $("#" + lodgeId).remove();
                });
            }
        });
        return false;
    }
</script>
