@using TSMT.Models
@model TSMT.Models.ChairitiesExam

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "ManageCar";
    ViewBag.Title = "Quản lý xe";
       
}

<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script type="text/javascript" src="~/Content/js/TSMTPopup.js"></script>
<script type="text/javascript">
    var TotalCar = 0;
    var SlotNo = 0;
    var SlotNoAvai = 0;
    $(document).ready(function () {
        $('.popup-confirm').addClass("popup-remove");
    });
</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title của @Model.Charity.Name
            </h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @ViewData["ceId"] })">Đợt thi</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")


@*<h2 class="title_of_page">Manage Cars of Charity Exam</h2>
<div class="inner-page-content inner-careers">*@

<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>Thông tin về xe của kì thi @Model.Examination.Name
                <a href="@Url.Action("ChooseCarForCe", "Charity", new { id = Model.CharityExamID })" class="btn-u btn-u-dark-blue"><i class="fa fa-check-square-o"></i>Chọn xe cho đợt thi</a>
            </h3>

        </div>
        <div class="panel-body">
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Xe của Hội từ thiện</a></li>
                    <li><a href="#sponsored" data-toggle="tab">Xe được tài trợ</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        @if (@Model.Cars.Count == 0)
                        {
                            <p># Chưa có xe nào được sử dụng cho kì thi này #</p>
                        }
                        else {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Biển số xe</th>
                                    <th>Số chỗ</th>
                                    <th>Số chỗ còn trống</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 1;
                                    int SlotNo = 0;
                                    int SlotNoAvai = 0;
                                    foreach (var car in ViewData["carsOfCharity"] as IEnumerable<Car>)
                                    {                   
                                        <tr id ="@car.CarID">
                                            <td style="vertical-align:middle">@counter</td>
                                            <td style="vertical-align:middle">@car.NumberPlate</td>
                                            <td style="vertical-align:middle">@car.TotalSlots</td>
                                            <td style="vertical-align:middle">@car.AvailableSlots</td>

                                            <td style="vertical-align:middle">
                                                <a href="@Url.Action("ViewCar", "Charity", new { id = @car.CarID })" class="btn-u btn-u-violet" title="Xem chi tiết"><i class="fa fa-map-marker"></i></a>

                                                @if (car.ExaminationsPapers.Count <= 0)
                                                {
                                    <a href="@Url.Action("RemoveCarOutOfCe", "Charity", new { id = @car.CarID })" class="btn-u btn-u-red" title="Xóa xe này"  onclick = "return showPopup('Bạn có chắc chắn muốn xóa ?', this.href, @car.CarID , 'removeOutCe' );" ><i class="fa fa-trash-o"></i></a>
                                                   @* @Html.ActionLink("Đường đi", "DisplayRoute", new { id = @car.CarID })*@
                                                    
                                                }
                                                
                                                @*@Html.ActionLink("Edit", "EditCar", new { carId = @car.CarID })*@
                                                @*<a href="@Url.Action("DetailsCar", "Charity", new { carId = @car.CarID })" class="btn-u btn-u-blue" title="Xem chi tiết"><i class="fa fa-info"></i></a>*@
                                                @*@Html.ActionLink("Chi tiết", "DetailsCar", new { carId = @car.CarID })*@
                                            </td>


                                        </tr>
                                        
                                           
                                                SlotNo += @car.TotalSlots;
                                                SlotNoAvai += @car.AvailableSlots;


                                                ++counter;
                                    }
                                }
                                
                      @*          <tr style="background-color:black;color:white;">
                                    <td colspan="5">Danh sách này hiện có @Model.Cars.Count(r => r.SponsorID == null) xe với tổng số chỗ còn trống <span>@SlotNoAvai/@SlotNo</span> </td>

                                </tr>*@
                            </tbody>
                        </table>
                        }
                    </div>
                    <div class="tab-pane" id="sponsored">
                        @if (@Model.Cars.Count(c => c.SponsorID != null) <= 0)
                        {
                            <p># Chưa nhận được tài trợ về xe #</p>
                        }
                        else {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nhà tài trợ</th>
                                    <th>Biển số xe</th>
                                    <th>Số chỗ</th>
                                    <th>Số chỗ còn trống</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;
                                    int SlotNoS = 0;
                                    int SlotNoAvaiS = 0;
                                    foreach (var item in ViewData["carsSponsor"] as IEnumerable<Car>)
                                    {               
                                            
                                        <tr id ="@item.CarID">
                                            <td style="vertical-align:middle">@count</td>
                                            <td style="vertical-align:middle">
                                                @item.Sponsor.Account.Profile.Lastname @item.Sponsor.Account.Profile.Firstname
                                            </td>
                                            <td style="vertical-align:middle">@item.NumberPlate</td>
                                            <td style="vertical-align:middle">@item.TotalSlots</td>
                                            <td style="vertical-align:middle">@item.AvailableSlots</td>
                                            @if (item.IsApproved)
                                            {
                                                <td style="vertical-align:middle"><span class="label label-success">Đã duyệt</span></td>
                                                <td style="vertical-align:middle">
                                                     <a href="@Url.Action("ViewCar", "Charity", new { id = @item.CarID })" class="btn-u btn-u-violet" title="Xem chi tiết"><i class="fa fa-map-marker"></i></a>
                                                    @if (item.AvailableSlots == item.TotalSlots)
                                                    {
                                                        <a href="@Url.Action("RemoveCar", "Charity", new { id = @item.CarID })" class="btn-u btn-u-red" title="Xóa xe này"  onclick = "return showPopup('Bạn có chắc chắn muốn xóa ?', this.href, @item.CarID , 'removeOut' );" ><i class="fa fa-trash-o"></i></a>
                                                       @* @Html.ActionLink("Remove", "RemoveCar", new { id = @item.CarID }, new { onclick = "return showPopup('Are you sure to delete it?', this.href," + @item.CarID + ", 'removeOut' );" })*@
                                                    }



                                                </td>
                                            }
                                            else if (!item.IsApproved)
                                            {
                                                <td style="vertical-align:middle"><span class="label label-danger">Chưa duyệt</span></td>
                                                <td style="vertical-align:middle">
                                                    <a href="@Url.Action("ViewCar", "Charity", new { id = @item.CarID })" class="btn-u btn-u-blue" title="Xem đường đi trên bản đồ"><i class="fa fa-map-marker"></i></a>
                                                    <a href="@Url.Action("RemoveCar", "Charity", new { id = @item.CarID })" style="display: none" class="btn-u btn-u-red" title="Xóa xe này"  onclick = "return showPopup('Bạn có chắc chắn muốn xóa ?', this.href, @item.CarID , 'removeOut' );" ><i class="fa fa-trash"></i></a>
                                                    <a href="@Url.Action("ApproveCar", "Charity", new { id = @item.CarID })" class="btn-u btn-u-green" title="Nhận xe này"  onclick = "return callAjaxApprove(@item.CarID);" ><i class="fa fa-ok-sign"></i></a>
                                                    <a href="@Url.Action("DenieCar", "Charity", new { id = @item.CarID })" class="btn-u btn-u-red" title="Tư chối xe này"  onclick = "return showPopup('Bạn có chắc chắn mún từ chối ?', this.href, @item.CarID , 'remove' );" ><i class="fa fa-trash"></i></a>
                                                  @*@Html.ActionLink("Details", "DetailsCar", new { carId = @item.CarID })
                                                    @Html.ActionLink("Remove", "RemoveCar", new { id = @item.CarID }, new { style = "display: none", onclick = "return showPopup('Are you sure to delete it?', this.href," + @item.CarID + ", 'removeOut' );" })
                                                    @Html.ActionLink("Approve", "ApproveCar", new { id = @item.CarID }, new { onclick = "return callAjaxApprove(" + @item.CarID + ")" })
                                                    @Html.ActionLink("Denie", "DenieCar", new { id = @item.CarID }, new { onclick = "return showPopup('Are you sure to denie it?', this.href," + @item.CarID + ", 'remove' );" })*@
                                                </td>
                                            }
                                        </tr>
                                            if (item.IsApproved)
                                            {
                                                SlotNoS += item.TotalSlots;
                                                SlotNoAvaiS += item.AvailableSlots;

                                            }
                                            ++count;
                                    }
                                }
                             @*   <tr style="background-color:black;color:white;">
                                    <td style="vertical-align:middle">Tổng số xe: </td>
                                    <td style="vertical-align:middle">@Model.Cars.Count(c => c.SponsorID != null && c.IsApproved == true)</td>
                                    <td style="vertical-align:middle">Tổng số chỗ: </td>
                                    <td style="vertical-align:middle">@SlotNoAvaiS/@SlotNoS</td>
                                </tr>*@
                            </tbody>
                        </table>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*@Html.ActionLink("Back to Manage CE", "DetailsCharityExam", new { id = @ViewData["ceId"] }, new { @class = "btn btn-info" })*@
    <a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @ViewData["id"] })" class="btn-u btn-u-default"><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay lại</a>
</div>






@*@Html.ActionLink("Create", "AddCar", new { ceId = Model.CharityExamID }, new { @class = "btn btn-info" })*@


<script type="text/javascript">

    // perform JavaScript after the document is scriptable.

    function callAjaxApprove(carId) {
        $.ajax({
            url: '/Charity/ApproveCar/' + carId,
            type: 'GET',
            success: function (results) {
                var tr = document.getElementById(carId);
                var lastTd = tr.lastElementChild;
                var preLastTd = lastTd.previousElementSibling;

                lastTd.removeChild(lastTd.lastElementChild);
                lastTd.removeChild(lastTd.lastElementChild);

                lastTd.lastElementChild.style.display = "inline";

                var spanStatus = preLastTd.lastElementChild;
                spanStatus.textContent = "Đã duyệt";
                spanStatus.className = "label label-success";
            }
        });
        return false;
    }

    function callAjaxDelete(carId) {


        $.ajax({
            url: '/Charity/DeleteCar/' + carId,
            type: 'GET',
            success: function (results) {
                $("#" + carId).hide(800, function () {
                    $("#" + carId).remove();
                });

            }
        });
        return false;
    }

    function callAjaxDenie(carId) {


        $.ajax({
            url: '/Charity/DenieCar/' + carId,
            type: 'GET',
            success: function (results) {
                $("#" + carId).hide(800, function () {
                    $("#" + carId).remove();
                });
            }
        });
        return false;
    }

    function callAjaxRemove(carId) {


        $.ajax({
            url: '/Charity/RemoveCar/' + carId,
            type: 'GET',
            success: function (results) {
                $("#" + carId).hide(800, function () {
                    $("#" + carId).remove();
                });
            }
        });
        return false;
    }

    function callAjaxRemoveOutCe(carId) {
        $.ajax({
            url: '/Charity/RemoveCarOutOfCe/' + carId,
            type: 'GET',
            success: function (results) {
                $("#" + carId).hide(800, function () {
                    $("#" + carId).remove();
                });
            }
        });
        return false;
    }
</script>
@*<script>
    function DeleteConfirm() {
        if (confirm("Bạn chắc chắn muốn xóa ?"))
            return true;
        else
            return false;
    }
</script>*@

