@model IEnumerable<TSMT.Models.ChairitiesExam>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Manage Charity Exam</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>STT</th>
                <th>Kỳ thi</th>
                <th>CE's Name</th>
                <th>Tổng số chỗ trọ</th>
                <th>Số trọ trống</th>
                <th>Tổng số phương tiện</th>
                <th>Phương tiện trống</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;

                foreach (var item in Model)
                {
                <tr>
                    <td>@Html.ActionLink(i.ToString(), "DetailsCharityExam", new { ceId = item.CharityExamID })</td>
                    <td>@Html.ActionLink(item.Examination.Name, "DetailsCharityExam", new { ceId = item.CharityExamID })</td>
                    <td>@item.CharityExamName</td>
                    <td>@item.TotalSlotsLodges</td>
                    <td>@item.AvailableSlotsLodges</td>
                    <td>@item.TotalSlotsVehicles</td>
                    <td>@item.AvailableSlotsVehicles</td>
                    <td>
                        @Html.ActionLink("Details", "DetailsCharityExam", new { ceId = @item.CharityExamID })
                        @Html.ActionLink("Edit", "EditCharityExam", new { ceId = @item.CharityExamID })
                        @Html.ActionLink("Delete", "DeleteCharityExam", new { ceId = @item.CharityExamID }, new { onclick = "return showPopup('Are you sure to delete it?', this.href,"})
                    </td>
                </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
@Html.ActionLink("Create", "AddCharityExam", null, new { @class = "btn btn-info" })
<button class="btn btn-info" onclick="window.history.back(-1);">Back</button>

@*<script>
    function DeleteConfirm() {
        if (confirm("Bạn chắc chắn muốn xóa ?"))
            return true;
        else
            return false;
    }
</script>*@