@model IEnumerable<TSMT.Models.ChairitiesExam>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "ManageCharityExam";
}

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")
<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Thông tin về Hội từ thiện - Kỳ thi
                <a href="@Url.Action("AddCharityExam", "Charity")" class="btn-u btn-u-green"><i class="icon-pencil"></i>Create</a>
            </h3>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Kỳ thi</th>
                        <th>CE's Name</th>
                        <th>Tổng số chỗ trọ</th>
                        <th>Số trọ trống</th>
                        <th>Tổng số phương tiện</th>
                        <th>Phương tiện trống</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;

                        foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.ActionLink(i.ToString(), "DetailsCharityExam", new { ceId = item.CharityExamID })</td>
                            <td>@Html.ActionLink(item.Examination.Name, "DetailsCharityExam", new { ceId = item.CharityExamID })</td>
                            <td>@item.CharityExamName</td>
                            <td>@item.TotalSlotsLodges</td>
                            <td>@item.AvailableSlotsLodges</td>
                            <td>@item.TotalSlotsVehicles</td>
                            <td>@item.AvailableSlotsVehicles</td>
                            <td>
                                @Html.ActionLink("Details", "DetailsCharityExam", new { ceId = @item.CharityExamID })
                                @Html.ActionLink("Edit", "EditCharityExam", new { ceId = @item.CharityExamID })
                                @Html.ActionLink("Delete", "DeleteCharityExam", new { ceId = @item.CharityExamID })
                            </td>
                        </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*@Html.ActionLink("Create", "AddCharityExam", null, new { @class = "btn btn-info" })*@
<button class="btn btn-info" onclick="window.history.back(-1);">Back</button>
