@using TSMT.Models
@model TSMT.Models.ChairitiesExam
@{
    ViewBag.Title = "Quản lý thí sinh";
    ViewBag.Active = "ManageCandidateCharity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script type="text/javascript" src="~/Content/js/TSMTPopup.js"></script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-10">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @ViewData["ceId"] })">Đợt thi</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>&nbsp;Danh sách thí sinh đã đăng ký vào <b style="color:cyan">@Model.Examination.Name</b>  - Hội từ thiện <b style="color:yellow">@Model.Charity.Name</b>
                @*<a href="@Url.Action("ChooseCarForCe", "Charity", new { id = Model.CharityExamID })" class="btn-u btn-u-green"><i class="fa fa-plus"></i>Chọn xe cho đợt thi</a>*@
            </h3>
        </div>
        <div class="panel-body">
            <div style="float: right" id="TSMTSearching"></div>
            <table class="table table-hover table-bordered ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th onclick="sortBy('fname', this)" class="order orderDes orderHidden">Thí sinh</th>
                        <th onclick="sortBy('gender', this)" class="order orderDes orderHidden">Giới tính</th>
                        <th onclick="sortBy('lodge', this)" class="order orderDes orderHidden">Địa chỉ trọ</th>
                        <th onclick="sortBy('group', this)" class="order orderDes orderHidden">Nhóm</th>
                    </tr>
                </thead>
                <tbody id="TSMTPaging"></tbody>
            </table>
        </div>
    </div>

    <div style="float: right">
@*<<<<<<< .mine
        <a href="@Url.Action("AssignCarForStation", "Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-blue"><i class="icon-key"></i>&nbsp;Đến trang sắp xe đón</a>
        <a href="@Url.Action("AssignRoom", "Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-violet"><i class="icon-building"></i>&nbsp;Đến trang sắp xếp phòng</a>
        <a href="@Url.Action("AssignCar", "Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-brown"><i class="icon-key"></i>&nbsp;Đến trang sắp xếp xe cho đợt thi</a>
=======*@
           <a href="@Url.Action("AssignCarForStation", "Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-blue"><i class="fa fa-car"></i>&nbsp;Đến trang sắp xe đón</a>
        <a href="@Url.Action("AssignRoom", "Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-violet"><i class="fa fa-building-o"></i>&nbsp;Đến trang sắp xếp phòng</a>
        <a href="@Url.Action("AssignCar", "Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-brown"><i class="fa fa-car"></i>&nbsp;Đến trang sắp xếp xe</a>

    </div>
    <a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-default"><i class="fa fa-chevron-circle-left"></i>&nbsp;Về trang quản lý chung</a>
</div>

<link rel="stylesheet" href="~/Content/css/TSMTPaging.css">
<script type="text/javascript" src="~/Content/js/TSMTPaging.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        fetchData();
    });
    function fetchData() {
        $.ajax({
            url: '/Charity/GetDataManageCandidate',
            data: { id: @ViewData["ceId"] },
            type: 'POST',
            success: function (results) {
                if (results.success == true) {
                    init(10, 5, results.data);
                }
            }
        });
    }
    function showData(index, record){
        var tmp = "<tr><td>" + index;
        tmp += "</td><td>" + record.nameLink;
        tmp += "</td><td>" + record.gender;
        tmp += "</td><td>" + record.lodgeLink;
        tmp += "</td><td>" + (record.groupLink == "" ? record.group : record.groupLink);
        tmp += "</td></tr>";
        return tmp;
    }
    function matchSearch(i, text){
        var r = false;
        r = r || (TSMTPagingData[i].name.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].gender.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].lodge.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].group.toUpperCase().indexOf(text) > -1);
        return r;
    }
</script>
