@{
    ViewBag.Title = "Quản lý xe";
    ViewBag.Active = "ManageCarCharity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model Charity

<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script src="~/Content/js/TSMTPopup.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-confirm').addClass("popup-remove");
    });
</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

@*<h2 class="title_of_page">Manage Cars of Charity Exam</h2>
<div class="inner-page-content inner-careers">*@

<div class="col-md-9">

    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>Thông tin về xe của hội từ thiện @Model.Name
                <a href="@Url.Action("AddCar", "Charity", new { id = Model.CharityID })" class="btn-u btn-u-sea"><i class="fa fa-plus"></i>Tạo mới</a>
            </h3>
        </div>
        <div class="panel-body">
            <div id="showMessage" class="alert alert-danger fade in" style="display: none; vertical-align: middle">
                <strong>Chưa có thông tin về xe!</strong> Vui lòng nhấn vào nút "Tạo mới" để tạo thêm thông tin xe.
            </div>
            <table class="table table-hover" id="showdata">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Biển số xe</th>
                        <th>Kì thi</th>
                        <th>Tổng số chỗ</th>
                        <th>Số chỗ còn trống</th>
                        @*<th>Tên tài xế</th>
                                    <th>SĐT tài xế</th>*@
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>

                    @if (((IEnumerable<Car>)ViewData["carsOfCharity"]).Count() > 0)
                    {
                        int counter = 1;

                        foreach (var car in ViewData["carsOfCharity"] as IEnumerable<Car>)
                        {                   
                        <tr id ="@car.CarID">
                            <td style="vertical-align: middle">@counter</td>
                            <td style="vertical-align: middle">@car.NumberPlate</td>
                            @if (car.CharityExamID == null)
                            {
                                <td style="vertical-align: middle">Chưa thiết lập</td>
                            }
                            else
                            {
                                <td style="vertical-align: middle">@car.ChairitiesExam.Examination.Name</td>
                            }
<<<<<<< .mine
                            <td style="vertical-align: middle">@car.TotalSlots</td>
                            <td style="vertical-align: middle">@car.AvailableSlots</td>
                            <td style="vertical-align: middle">
                                @if (@car.ChairitiesExam != null)
                                {
                                    <a href="@Url.Action("ViewCar", "Charity", new { id = @car.CarID })" class="btn-u btn-u-violetRed" title="Xem đường đi trên bản đồ" style="width:40px;height:30px"><i class="icon-location-arrow"></i></a>
                                }
=======
                            <td style="vertical-align:middle">@car.TotalSlots</td>
                            <td style="vertical-align:middle">@car.AvailableSlots</td>
                            <td style="vertical-align:middle">
  @if(@car.ChairitiesExam != null)
  {
      <a href="@Url.Action("ViewCar", "Charity", new { id = @car.CarID })" class="btn-u btn-u-violetRed" title="Xem đường đi trên bản đồ" style="width:40px;height:30px"><i class="fa fa-location-arrow"></i></a>
  }
>>>>>>> .r418
                                    

<<<<<<< .mine
@*<a href="@Url.Action("DetailsCarCharity", "Charity", new { id = @car.CarID })" class="btn-u btn-u-purple" title="Xem chi tiết" style="width:40px;height:30px"><i class="icon-eye-open"></i></a>*@
=======
                                @*<a href="@Url.Action("DetailsCarCharity", "Charity", new { id = @car.CarID })" class="btn-u btn-u-purple" title="Xem chi tiết" style="width:40px;height:30px"><i class="fa fa-eye"></i></a>*@
>>>>>>> .r418
                                @if (car.ExaminationsPapers.Count == 0)
                                {
                                    <a href="@Url.Action("EditCar", "Charity", new { id = @car.CarID })" class="btn-u btn-u-blue" title="Chỉnh sửa" style="width:40px;height:30px"><i class="fa fa-pencil-square-o"></i></a>
                                    <a href="@Url.Action("AssignCarCE", "Charity", new { id = @car.CarID })" class="btn-u btn-u-brown" title="Sử dụng" style="width:40px;height:30px"><i class="fa fa-car"></i></a>
                                    <a href="@Url.Action("DeleteCar", "Charity", new { id = @car.CarID })" class="btn-u btn-u-red" title="Xóa xe này" style="width:40px;height:30px" onclick = "return showPopup('Bạn muốn xóa chiếc xe này phải không?', this.href, @car.CarID , 'del' );" ><i class="fa fa-trash-o"></i></a>
                                }
                            </td>
                        </tr>
                                ++counter;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a href="@Url.Action("AssignCarsToCe", "Charity")" id="useCar" class="btn-u btn-u-brown" style="float:right"><i class="fa fa-car"></i>&nbsp;Sử dụng xe</a>
    <a href="@Url.Action("Index", "Charity")" class="btn-u btn-u-default"><i class="fa fa-arrow-circle-left"></i>&nbsp;Quay lại</a>
</div>
@if (((IEnumerable<Car>)ViewData["carsOfCharity"]).Count() < 1)
{
    <text>
    <script type="text/javascript">
        document.getElementById("showdata").style.display = "none";
        document.getElementById("useCar").style.display = "none";
        document.getElementById("showMessage").style.display = "inline";
    </script>
    </text>
}

<script type="text/javascript">
    // perform JavaScript after the document is scriptable.
    function callAjaxApprove(carId) {
        $.ajax({
            url: '/Charity/ApproveCar/' + carId,
            type: 'GET',
            success: function (results) {
                var tr = document.getElementById(carId);
                var lastTd = tr.lastElementChild;
                var preLastTd = lastTd.previousElementSibling;

                lastTd.removeChild(lastTd.lastElementChild);
                lastTd.removeChild(lastTd.lastElementChild);

                lastTd.lastElementChild.style.display = "inline";

                var spanStatus = preLastTd.lastElementChild;
                spanStatus.textContent = "Đã duyệt";
                spanStatus.className = "label label-success";
            }
        });
        return false;
    }

    function callAjaxDelete(carId) {


        $.ajax({
            url: '/Charity/DeleteCar/' + carId,
            type: 'GET',
            success: function (results) {
                $("#" + carId).hide(800, function () {
                    $("#" + carId).remove();
                });

            }
        });
        return false;
    }

    function callAjaxDenie(carId) {


        $.ajax({
            url: '/Charity/DenieCar/' + carId,
            type: 'GET',
            success: function (results) {
                $("#" + carId).hide(800, function () {
                    $("#" + carId).remove();
                });
            }
        });
        return false;
    }

    function callAjaxRemove(carId) {


        $.ajax({
            url: '/Charity/RemoveCar/' + carId,
            type: 'GET',
            success: function (results) {
                $("#" + carId).hide(800, function () {
                    $("#" + carId).remove();
                });
            }
        });
        return false;
    }

</script>
@*<script>
    function DeleteConfirm() {
        if (confirm("Bạn chắc chắn muốn xóa ?"))
            return true;
        else
            return false;
    }
</script>*@