
@model TSMT.Models.ChairitiesExam

@{
    ViewBag.Title = "ManageCE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_CharitySidebarPartial")

<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Thông tin về Hội từ thiện - Kỳ thi
                <a href="@Url.Action("AddCharityExam", "Charity")" class="btn-u btn-u-green"><i class="icon-plus"></i>Create</a>
            </h3>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td>Kỳ thi</td>
                    <td>@Model.Examination.Name</td>
                </tr>
                <tr>
                    <td>Total slots Lodges</td>
                    <td>@Model.TotalSlotsLodges</td>
                </tr>
                <tr>
                    <td>Available slots Lodges</td>
                    <td>@Model.AvailableSlotsLodges</td>
                </tr>
                <tr>
                    <td>Total slots Vehicles</td>
                    <td>@Model.TotalSlotsVehicles</td>
                </tr>
                <tr>
                    <td>Available slots Vehicles</td>
                    <td>@Model.AvailableSlotsVehicles</td>
                </tr>
            </table>
            <p>
                @Html.ActionLink("Edit", "EditCharityExam", new { id = Model.CharityExamID }, new { @class = "btn btn-info" })
            </p>
        </div>
    </div>
    @*<div class="row servive-block margin-bottom-10">
        <a href="@Url.Action("ManageSponsor", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>ManageSponsor</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("ManageVolunteer", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>ManageVolunteer</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("ManageCandidate", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>ManageCandidate</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("ManageLodge", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>ManageLodge</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("ManageCar", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>ManageCar</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("ManageFunds", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>ManageSponsor</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("AssignToRoom", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>ManageSponsor</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("AssignToCar", "Charity", new { ceId = @Model.CharityExamID })">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block-in servive-block-colored servive-block-orange">
                    <h4>AssignToCar</h4>
                    <div><i class="icon-flag"></i></div>
                    <p>HDSD</p>
                </div>
            </div>
        </a>
    </div>


    <div class="service-one">
        <div class="service-one-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="s-one-item sitem-one">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("Manage Sponsors", "ManageSponsor", new { ceId = @Model.CharityExamID })</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s-one-item sitem-two">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("Manage Volunteers", "ManageVolunteer", new { ceId = @Model.CharityExamID })</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s-one-item sitem-three">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("Manage Candidates", "ManageCandidate", new { id = @Model.CharityExamID })</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="s-one-item sitem-one">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("Manage Lodges", "ManageLodge", new { ceId = @Model.CharityExamID })</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s-one-item sitem-two">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("Manage Cars", "ManageCar", new { ceId = @Model.CharityExamID })</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s-one-item sitem-three">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("Manage Funds", "ManageFunds", new { ceId = @Model.CharityExamID })</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="s-one-item sitem-one">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("Assign Rooms", "AssignToRoom", new { id = @Model.CharityExamID })</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s-one-item sitem-two">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("Assign Cars", "AssignToCar", new { id = @Model.CharityExamID })</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

