@{
    ViewBag.Title = "Tình nguyện viên: " + @Model.Volunteer.Account.Profile.Lastname + " " + @Model.Volunteer.Account.Profile.Firstname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model ParticipantVolunteer

<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-list">&nbsp;Thông tin tình nguyện viên</i></h3>
    </div>
    <div class="panel-body">
        <div id="route" style="display: none">@ViewData["StarEndPoint"]</div>
    <div id="way" style="display: none">@ViewData["WayPoint"]</div>
    <div id="pId" style="display: none">@ViewData["ScheduleId"]</div>
        <table class="table table-hover">
            <tr>
                <th>Họ tên</th>
                <td>@Model.Volunteer.Account.Profile.Lastname @Model.Volunteer.Account.Profile.Firstname</td>
            </tr>
            <tr>
                <th>SĐT</th>
                <td>@Model.Volunteer.Account.Profile.PhoneNumber</td>
            </tr>
            <tr>
                <th>Đưa đón thí sinh</th>
                <td>
                    @if (Model.ExamPaperID == null)
                    {
                        <text># Chưa sắp xếp #</text>
                    } else {
<text>@Model.ExaminationsPaper.Candidate.Account.Profile.Lastname @Model.ExaminationsPaper.Candidate.Account.Profile.Firstname</text>
                    }
                </td>
            </tr>
            <tr>
                <th>Độ dài đường đi:</th>
                <td><span id="TotalDistance"></span></td>
            </tr>
            <tr>
                <th>Thời gian dự kiến:</th>
                <td><span id="TotalTime"></span></td>
            </tr>
            <tr>
                <th>Địa điểm đón thí sinh (A):</th>
                <td>@ViewData["StartPlace"]</td>
            </tr>
            <tr>
                <th>Địa điểm thi (red place)</th>
                <td>@ViewData["EndPlace"]</td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-list">&nbsp;Bản đồ đường đi</i></h3>
    </div>
    <div class="panel-body">
        @if (Model.ExamPaperID == null)
        {
            <p># Chưa được sắp xếp #</p>
        }
        else
        {
            <div id="map_canvas" style="width: 100%; height: 500px;"></div>
        }
    </div>
</div>

@*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
    var BenThanh = { lat: 10.771992, lng: 106.698264 };
    function initialize() {
        var map_options = {
            center: new google.maps.LatLng(BenThanh.lat, BenThanh.lng),
            zoom: 16,
            panControl: false,
            mapTypeControl: false,
            streetViewControl: false,
        }
        var map = new google.maps.Map(document.getElementById('map_canvas'), map_options);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>*@
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<script>

    var divroute = document.getElementById("route");
    var routeString = divroute.textContent;
    var startPoint = routeString.split(";")[0];
    var endPoint = routeString.split(";")[1];
    var wpj = document.getElementById("way").textContent;
    var waypointDisplay = [];
    var wp;
    if (wpj != "") {
        wp = JSON.parse(wpj);
        for (var i = 0; i < wp.length; i++) {
            waypointDisplay.push({ "location": new google.maps.LatLng(wp[i].location.k, wp[i].location.A)});
        }
    }



    var test;
    var map = new google.maps.Map(document.getElementById('map_canvas'), {
        zoom: 8,
        center: new google.maps.LatLng(),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }),
        directions = new google.maps.DirectionsService(),
        displayer = new google.maps.DirectionsRenderer({
            draggable: true
        });
    var directionsDisplay = displayer;
    var DistanceCount = document.getElementById('TotalDistance');
    var TimeCount = document.getElementById('TotalTime');
    var total = 0;
    var time = 0;
    function calcRoute() {
        if (wpj == "") {
            displayer.setMap(map);
            directions.route({
                origin: startPoint,
                destination: endPoint,
                //waypoints: waypointDisplay,
                travelMode: google.maps.DirectionsTravelMode.DRIVING
            }, function (result) {
                displayer.setDirections(result);
                var myroute = result.routes[0];
                for(var i = 0; i < myroute.legs.length; i++) {
                    total += myroute.legs[i].distance.value;
                    time += myroute.legs[i].duration.value;
                }
                DistanceCount.innerHTML = Math.round(total/1000.0) + " km.";
                TimeCount.innerHTML = Math.round(time / 60) + " phút.";
            });
        } else {
            displayer.setMap(map);
            directions.route({
                origin: startPoint,
                destination: endPoint,
                waypoints: waypointDisplay,
                travelMode: google.maps.DirectionsTravelMode.DRIVING
            }, function (result) {
                displayer.setDirections(result);
                
                //for(var i = 0; i < displayer.directions.routes[0].legs.length; i++) {
                //    total += displayer.directions.routes[0].legs[i].distance.value;
                //    time += displayer.directions.routes[0].legs[i].duration.value;
                //}
                var myroute = result.routes[0];
                for(var i = 0; i < myroute.legs.length; i++) {
                    total += myroute.legs[i].distance.value;
                    time += myroute.legs[i].duration.value;
                }
                DistanceCount.innerHTML = Math.round(total/1000.0) + " km.";
                TimeCount.innerHTML = Math.round(time / 60) + " phút.";
            });
        }
        
        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directionsPanel'));

        //google.maps.event.addDomListener(window, 'load', initialize);
        //google.maps.event.addListener(displayer, 'directions_changed', some_method);
        //var some_method = function () {
        //    var waypointsEdit = displayer.directions.routes[0].legs[0].via_waypoint
        //    test = waypointsEdit;
        //    return waypointsEdit;
        //};
        google.maps.event.addListener(directionsDisplay, 'directions_changed', function () {
            var waypointsEdit = [];
            if (wpj != "") {
                //waypointsEdit = wp;
                var a = displayer.directions.routes[0].legs;
                for (var i = 0; i < a.length; i++) {
                    var b = displayer.directions.routes[0].legs[i].via_waypoint;
                    if (b.length > 0) {
                        for (var k = 0; k < b.length; k++) {
                            waypointsEdit.push(b[k]);
                        }

                    }
                    if (i != a.length - 1) {
                        var c = displayer.directions.routes[0].legs[i].end_location;
                        waypointsEdit.push({
                            location: {k: c.k, A: c.A}
                        });
                    }
                    
                    
                }
                //for (var t = 0; t < waypointsEdit.length - 1; t++) {
                //    for (var j = t + 1; j < waypointsEdit.length; j++) {
                //        if (waypointsEdit[t].step_index > waypointsEdit[j].step_index || ((waypointsEdit[t].step_index == waypointsEdit[j].step_index) && (waypointsEdit[t].step_interpolation > waypointsEdit[j].step_interpolation))) {
                //            term = waypointsEdit[t];
                //            waypointsEdit[t] = waypointsEdit[j];
                //            waypointsEdit[j] = term;
                //        }
                //    }

                //}
                //waypointsEdit.push(wp);
            } else {
                waypointsEdit = displayer.directions.routes[0].legs[0].via_waypoint;
            }


            test = JSON.stringify(waypointsEdit);
            console.log(test);

        });


    }



    google.maps.event.addDomListener(window, 'load', calcRoute);

</script>