@{
    ViewBag.Title = "Địa chỉ thi: " + @Model.Address;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model Venue

<h3>Địa điểm thi: @Model.Address</h3>
<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list">&nbsp;Danh sách thí sinh đã đăng kí vào hội từ thiện dự thi ở địa điểm thi này</i></h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Thí sinh</th>
                <th>Giới tính</th>
                <th>Địa chỉ trọ</th>
            </tr>
            @{
                int counter = 1;
                foreach (ExaminationsPaper item in ViewData["eps"] as IEnumerable<ExaminationsPaper>)
                {
                <tr>
                    <td>@counter</td>
                    <td>@item.Candidate.Account.Profile.Lastname @item.Candidate.Account.Profile.Firstname</td>
                    <td>
                        @if (item.Candidate.Account.Profile.Gender)
                        {
                            <text>Nam</text>
                        }
                        else
                        {
                            <text>Nữ</text>
                        }
                    </td>
                    <td>@item.Lodge.Address</td>
                </tr>
                        ++counter;
                }
            }
        </table>
    </div>
</div>
