@{
    ViewBag.Title = "Địa điểm trọ: " + @Model.Address;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model Lodge

<h3>Địa điểm trọ: @Model.Address</h3>
<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list">&nbsp;Danh sách thí sinh đã đăng kí vào địa điểm trọ này</i></h3>
    </div>
    <div class="panel-body">
                        @if (Model.ExaminationsPapers.Count == 0)
        {
            <p># Chưa được sắp xếp #</p>
        }
        else
                {
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Thí sinh</th>
                <th>Giới tính</th>
                <th>Nhóm</th>
                <th>Địa chỉ thi</th>
            </tr>
            @{
                int counter = 1;
                foreach (ExaminationsPaper item in Model.ExaminationsPapers)
                {
                <tr>
                    <td>@counter</td>
                    <td>@item.Candidate.Account.Profile.Lastname @item.Candidate.Account.Profile.Firstname</td>
                    <td>
                        @if (item.Candidate.Account.Profile.Gender)
                        {
                            <text>Nam</text>
                        }
                        else
                        {
                            <text>Nữ</text>
                        }
                    </td>
                     <td>
                        @if (item.GroupID == null)
                        {
                            <text>Cá nhân</text>
                        }
                        else
                        {
                            <text>Nhóm @item.GroupID</text>
                        }
                    </td>
                    <td>@item.Venue.Address</td>
                </tr>
                        ++counter;
                }
            }
        </table>
                        }
    </div>
</div>
