@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model University

<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-list">&nbsp;Thông tin trường ĐH-CĐ</i></h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>Trường</th>
                <td>@Model.Name</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-list">&nbsp;Danh sách thí sinh đã đăng kí vào hội từ thiện thi vào trường này</i></h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Thí sinh</th>
                <th>Giới tính</th>
                <th>Địa chỉ trọ</th>
                <th>Địa chỉ thi</th>
            </tr>
            @{
                int counter = 1;
                foreach (ExaminationsPaper item in ViewData["eps"] as IEnumerable<ExaminationsPaper>)
                {
                <tr>
                    <td>@counter</td>
                    <td>@item.Candidate.Account.Profile.Lastname @item.Candidate.Account.Profile.Firstname</td>
                    <td>
                        @if (item.Candidate.Account.Profile.Gender)
                        {
                            <text>Nam</text>
                        }
                        else
                        {
                            <text>Nữ</text>
                        }
                    </td>
                    <td>@item.Lodge.Address</td>
                    <td>@item.Venue.Address</td>
                </tr>
                        ++counter;
                }
            }
        </table>
    </div>
</div>
