@{
    ViewBag.Title = "Chi tiết bài đăng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TSMT.Models
@model TSMT.Models.Article
<h3>Chi tiết bài đăng</h3>
@using (Html.BeginForm("EditPost", "Post", FormMethod.Post))
{
    <br />
    <div class="row">
        <input type="hidden" name="articleId" value="@Model.ArticleID"/>
        <div class="col-md-7">
            <div class="widget">
                <div class="widget-head">
                    <h5><i class="fa fa-desktop"></i>Edit post</h5>
                </div>
                <div class="widget-body">
                    <label>Enter Title</label>
                    <input type="text" class="form-control col-lg-8" value="@Model.Title" name="Title" placeholder="Enter Title"><br />
                    <label>Enter Content</label>
                    <textarea class="form-control" id="editor1" rows="8" name="[Content]">@Model.Content</textarea>
                    <script type="text/javascript">
                        var editor = CKEDITOR.replace('editor1',
                    {
                        filebrowserBrowseUrl: 'Scripts/ckfinder/ckfinder.html',
                        filebrowserImageBrowseUrl: 'Scripts/ckfinder/ckfinder.html?type=Images',
                        filebrowserUploadUrl: 'Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: 'Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                    });
                        CKFinder.setupCKEditor(editor, { rememberLastFolder: true });
                    </script>
                </div>
                <div class="widget-foot">
                    <div class="pull-right">
                        <input type="submit" value="Lưu" class="btn btn-info" />
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

        <div class="col-md-5">
            <div class="widget">
                <div class="widget-head">
                    <h5>Post Details</h5>
                </div>
                <div class="widget-body">
                    <strong>Category</strong>
                    <div class="check-box">
                        <select name="CateId">
                            @foreach (var item in ViewData["category"] as IEnumerable<Category>)
                            {
                                if (item.CategoryID == Model.Category.CategoryID)
                                {
                                    <option value="@item.CategoryID" selected>@item.CategoryName</option>
                                }
                                else
                                {
                                    <option value="@item.CategoryID">@item.CategoryName</option>
                                }
                            }
                        </select>
                    </div>
                    <hr />
                    <br />
                    <strong>Tags</strong>
                    <input class="col-lg-12 form-control" name="tags" type="text" placeholder="Tags"><br />
                    <strong>Đăng bài lên trang chủ</strong>
                    <select name="approve">
                        @if (Model.IsAprroved)
                        {
                            <option value="@Model.IsAprroved" selected>Accept</option>
                            <option value="@Model.IsAprroved.Equals(false)">Reject</option>
                        }
                        else
                        {
                            <option value="@Model.IsAprroved.Equals(true)">Accept</option>
                            <option value="@Model.IsAprroved" selected>Reject</option>
                        }
                    </select>
                </div>
                <div class="widget-foot">
                </div>
            </div>
        </div>
    </div>
}