@{
    ViewBag.Title = "GetNewFeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model System.Data.DataRowCollection
<h2>GetNewFeed</h2>
<div id="rptRSS">
    @for (int i = 0; i < Model.Count; ++i)
    {
        <div style="margin-left: 30px">
            <div><a href="@Model[i]["link"]" target="_blank">@Model[i]["title"]</a></div>
            <div>@Html.Raw(@Model[i]["description"])</div>
            <div>@Model[i]["pubDate"]</div>
        </div>
        <br />
    }
</div>