@using TSMT.Models
@model IEnumerable<ChairitiesExam>
@{
    ViewBag.Title = "Tài Trợ Tiền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/css/TSMTValidation.css" rel="stylesheet">
<script type="text/javascript" src="/Content/js/TSMTValidation.js"></script>
@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>
                <li><a href="@Url.Action("ManageCar", "Sponsor")">Quản Lý Tiền Tài Trợ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_SponsorSidebarPartial")

<script type="text/javascript" src="~/Content/js/jquery.js"></script>
<script type="text/javascript">
    function callAjax(id) {
        if (id == 0) {
            $("#asd").html("");
        }
        else {
            $.ajax({
                url: 'ResultAjax',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#asd").html("");
                    $("#asd").append("<option>---</option>");
                    for (i in results) {
                        var r = results[i];
                        $("#asd").append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");

                    }
                }
            });
        }
    }
</script>
@using (Html.BeginForm("AddFund", "Sponsor", FormMethod.Post, new {id="FormValidate" }))
{
    <div class="col-md-7">
        <div class="panel panel-green margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i>Tài Trợ Tiền
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td style="vertical-align: middle">Tài Trợ Cho: <span class="required">*</span></td>
                        <td style="vertical-align:middle">
                            <select id="qwe" onchange="callAjax(this.value)" class="form-control" style="width:auto">
                                <option value="0" selected>---</option>
                                @foreach (var item in ViewData["Exam"] as IEnumerable<Examination>)
                                {
                                    <option value="@item.ExaminationID">@item.Name</option>
                                }
                            </select>
                        </td>
                        <td style="vertical-align: middle">Tổ Chức: <span class="required">*</span></td>
                        <td style="vertical-align:middle">
                            <select id="asd" name="asd" class="form-control" style="width:auto"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Số Tiền <span class="required">*</span></td>
                        <td style="vertical-align: middle">
                            <input type="text" name="FundSponsored" id="input"  class="form-control"/>
                            <script>
                                $("#input").priceFormat({ prefix: '', centsLimit: 0 });
                            </script>

                        </td>
                        <td style="vertical-align: middle">VNĐ</td>
                        <td style="vertical-align:middle"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="float: right">
            <button type="submit" class="btn-u btn-u-dark-blue"><i class="fa fa-gift">&nbsp;Tài trợ</i></button>
             <button type="button" onclick="location.href ='/Sponsor/ManageFund/'" class="btn-u btn-u-red"><i class="fa fa-times"></i>&nbsp;Hủy</button>
        </div>
       
    </div>
}
@*<script type="text/javascript">
    $(document).ready(function () {
        var ex = /^[^\-]$/;
        $("#qwe").blur(function () { checkRegex("qwe", ex, "Vui lòng chọn kỳ thi", true) });
        $("#asd").blur(function () { checkRegex("asd", ex, "Vui lòng chọn tổ chức", true) });
        $("#input").blur(function () { checkEmpty("input") });
        $("#FormValidate").submit(function (e) {
            var isValidated = true;
            isValidated = checkRegex("qwe", ex, "Vui lòng chọn kỳ thi", true) && isValidated;
            isValidated = checkRegex("asd", ex, "Vui lòng chọn tổ chức", true) && isValidated;
            isValidated = checkEmpty("input") && isValidated;
            if (isValidated) return true;
            e.preventDefault();
        });
    });
    </script>*@