@model IEnumerable<TSMT.Models.ChairitiesExam>
@{
    ViewBag.Title = "AddNewCar";
}

<div style="text-align: center">
    <h2>Tài Trợ Thêm Xe</h2>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Car</legend>

        <div class="editor-label">
            Ki thi + Nha tai tro + Dia diem
        </div>
        <div class="editor-field">
            <select id="CharityName" name="CharityName">
                @foreach (var item in Model)
                {
                    <option value="@item.CharityExamID">@item.Examination.Name -- @item.Charity.Account.Profile.Lastname @item.Charity.Account.Profile.Firstname -- @item.District.Name</option>
                }
            </select>
        </div>
        <div class="editor-label">
            Tong so cho ngoi <input type="text" name="totalSlots" />
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ManagerCar")
</div>


