@model TSMT.Models.Car

@{
    ViewBag.Title = "AddNewCar";
}

<div style="text-align: center">
    <h2>Tài Trợ Thêm Xe</h2>
</div>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Car</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CharityExamID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CharityExamID)
            @Html.ValidationMessageFor(model => model.CharityExamID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SponsorID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SponsorID)
            @Html.ValidationMessageFor(model => model.SponsorID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberPlate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberPlate)
            @Html.ValidationMessageFor(model => model.NumberPlate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalSlots)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalSlots)
            @Html.ValidationMessageFor(model => model.TotalSlots)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ManagerCar")
</div>


