@using TSMT.Models
@model TSMT.Models.Lodge
@{
    ViewBag.Title = "Thay đổi thông tin chỗ trọ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/css/gmap_places.css" rel="stylesheet">
<link href="/Content/css/popup.css" rel="stylesheet">
<script src="/Content/js/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,places&sensor=false"></script>
<script src="/Content/js/gmap_places.js"></script>
<script src="/Content/js/popup.js"></script>

@using (Html.BeginForm("EditLodgeNotCe", "Sponsor", FormMethod.Post, new { id = "FormEditLodgeNotCe" }))
{
    <input type="hidden" name="lodgeId" value="@Model.LodgeID"/>
    <input type="hidden" id="Longitude" name="Longitude" value="@Model.Longitude"/>
    <input type="hidden" id="Latitude" name="Latitude" value="@Model.Latitude"/>
    <div id="map_container">
        <div id="panel">
            <table>
                <tr>
                    <td>Address</td>
                    <td>
                        <input type="text" id="Address" name="Address" value="@Model.Address"/></td>
                </tr>
                <tr style="text-align: center">
                    <td colspan="2">
                        <input type="button" value="Go there" class="btn btn-info" onclick="goThere(true)" />
                    </td>
                </tr>
                <tr>
                    <td id="guideMove" colspan="2" style="visibility: hidden; color: red">* Move marker to change position
                    </td>
                </tr>
            </table>
            <span id="guideSuggest" style="color: blue; visibility: hidden"># Suggested places:</span>
            <div id="suggest"></div>
            <div id="controls">
                <input type="submit" value="Submit" class="btn btn-info" onclick="return PrepareDataToSubmit()" />
                @Html.ActionLink("Cancel", "ManageLodge", new { @class = "btn btn-info" })
            </div>
        </div>
        <div id="map_canvas"></div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        initialize();
        putMarker("@Model.Latitude", "@Model.Longitude");

        // submit
        $('.popup-confirm').click(function () {
            $("#Longitude").val(marker.getPosition().lng());
            $("#Latitude").val(marker.getPosition().lat());
            $("#FormEditLodgeNotCe").submit();
        });
    });
</script>