@using TSMT.Models
@model TSMT.Models.Lodge

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quản lý phòng";
    ViewBag.Active = "ManageRoom";
}
<script>
    function showForm2() {
        document.getElementById('form2').style.display = "inline";
        document.getElementById('buttonshow').style.display = "none";
        document.getElementById('buttonshow2').style.display = "inline";
        document.getElementById('back1').style.display = "none";
        document.getElementById('back2').style.display = "inline";
    }
    function showForm1() {
        document.getElementById('form2').style.display = "none";
        document.getElementById('buttonshow').style.display = "inline";
        document.getElementById('buttonshow2').style.display = "none";
        document.getElementById('back1').style.display = "inline";
        document.getElementById('back2').style.display = "none";
    }
</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>

                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>

}
@Html.Partial("_SponsorSidebarPartial")


<div class="col-md-9">
    <div id="form1" class="panel panel-green margin-bottom-20">

        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Thông tin chi tiết của chỗ trọ
                
                     @if (Model.CharityExamID == null)
                     {
                         <a href="@Url.Action("EditLodgeNotCe", "Sponsor", new { lodgeId = Model.LodgeID })" class="btn-u btn-u-green"><i class="icon-plus"></i>Chỉnh Sửa</a>
                     }
                     else
                     {
                         if (!Model.IsApproved)
                         {
                         <a href="@Url.Action("EditLodgeHasCe", "Sponsor", new { lodgeId = Model.LodgeID })" class="btn-u btn-u-green"><i class="icon-plus"></i>Chỉnh Sửa</a>
                         }
                     }
            </h3>

        </div>
        <div class="panel-body">
            <table class="table table-hover">

                @if (Model.CharityExamID != null)
                {
                    <tr>
                        <td>Kì Thi</td>
                        <td>@Model.ChairitiesExam.Examination.Name</td>
                    </tr>
                }



                @if (Model.CharityExamID != null)
                {
                    <tr>
                        <td>Tài Trợ Cho</td>
                        <td>@Model.ChairitiesExam.Charity.Name</td>
                    </tr>
                }

                <tr>
                    <td>Địa Chỉ</td>
                    <td>@Model.Address</td>
                </tr>
                @if (Model.CharityExamID == null)
                {
                    <tr>
                        <td>Tổng Số Phòng</td>
                        <td>@Model.TotalRooms</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Tổng số phòng</td>
                        <td>@Model.Rooms.Count(r => r.CharityExamID != null)</td>
                    </tr>
                }
                <tr>
                    <td>Tổng số chỗ trọ</td>
                    <td>@Model.TotalSlotsInUsed</td>
                </tr>
                @if (Model.IsApproved)
                {
                    <tr>
                        <td>Số chỗ còn trống</td>
                        <td>@Model.AvailableSlots</td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <a href="@Url.Action("ManageLodge", "Sponsor")" class="btn btn-info"  id="back1" >Quay lại</a>
    <input id="buttonshow" type="button" value="Xem Danh Sách Phòng" class="btn btn-info" onclick="showForm2();" />

    <div id="form2" style="display: none" class="panel panel-green margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Quản lý phòng
                @if (!Model.IsApproved)
                {
                    <a href="@Url.Action("AddRoom", "Sponsor", new { lodgeId = Model.LodgeID })" class="btn-u btn-u-green"><i class="icon-plus"></i>Tạo Mới Phòng</a>
                }
            </h3>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên Phòng</th>
                        <th>Tổng số chỗ</th>
                        @if (Model.IsApproved)
                        {
                            <th>Số chỗ còn trống</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;
                        if (Model.CharityExamID == null)
                        {
                            foreach (var item in ViewData["rooms"] as IEnumerable<Room>)
                            {
                        <tr>
                            <td>@counter</td>
                            <td>@item.RoomName</td>
                            <td>@item.TotalSlots</td>
                            <td>
                                @Html.ActionLink("Edit", "EditRoom", new { roomId = @item.RoomID })
                                @Html.ActionLink("Delete", "DeleteRoom", new { roomId = @item.RoomID })
                            </td>
                        </tr>
                                ++counter;
                            }
                        }

                        else
                        {
                            foreach (var item in ViewData["roomsCE"] as IEnumerable<Room>)
                            {
                        <tr>
                            <td>@counter</td>
                            <td>@item.RoomName</td>
                            <td>@item.TotalSlots</td>
                            @if (Model.IsApproved)
                            {
                                <td>@item.AvailableSlots</td>
                                <td></td>
                            }
                            else
                            {
                                <td>
                                    @Html.ActionLink("Edit", "EditRoom", new { roomId = @item.RoomID })
                                    @Html.ActionLink("Delete", "DeleteRoom", new { roomId = @item.RoomID })
                                </td>
                            }
                        </tr>
                                ++counter;
                            }
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <a href="@Url.Action("ManageLodge", "Sponsor")" class="btn btn-info"   id="back2" style="display: none">Quay lại</a>
    <input id="buttonshow2" style="display: none" type="button" value="Ẩn Danh Sách Phòng" class="btn btn-info" onclick="showForm1(); " />
</div>


