@model IEnumerable<TSMT.Models.Fund>
@{
    ViewBag.Title = "ManagerFund";
}

<div style="text-align: center">
    <h2>Quản Lý Hỗ Trợ</h2>
</div>
@Html.ActionLink("Quản Lý Danh Mục Tin Tức","ManagerCategory","Admin") |
    @Html.ActionLink("Tạo Mới Danh Mục", "AddNewCategory","Admin")|
    @Html.ActionLink("Quản Lý Quỹ Đóng Góp ", "ManagerFund","Sponsor")|
    @Html.ActionLink("Đóng Góp Thêm ", "AddNewFund","Sponsor")|
    @Html.ActionLink("Quản Lý Car","ManagerCar", "Sponsor")|
    @Html.ActionLink("Đóng Góp Thêm ", "AddNewCar","Sponsor")
<!-- inner page content start -->
<div class="inner-page-content inner-careers">
    <div class="container">
        <div class="inner-tab">
            <!-- Nab Bar Tan Menu list -->
            <ul id="mytab" class="nav nav-tabs">
                <li class="active"><a href="#one" data-toggle="tab">Tiền Đã Đóng Góp</a></li>
                <li><a href="#two" data-toggle="tab">Đóng Góp Thêm</a></li>

            </ul>
            <!-- Content for each menu item -->
            <div class="tab-content">
                <!-- First Content for Nav bar -->
                <div class="tab-pane fade in active" id="one">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <input type='checkbox' value='check1' />
                                </th>
                                <th>Tổ Chức Từ Thiện</th>
                                <th>Kì Thi</th>
                                <th>Số Tiền</th>


                                
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <input type='checkbox' value='check1' />
                                    </td>
                                    <td><a href="#">@item.CharityExamID</td>
                                    <td>@item.CharityExamID</td>
                                    <td>@item.FundSponsored</td>
                                    
                                    <td>
                                        @Html.ActionLink("Delete", "DeleteCategory", new { id = @item.FundID })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditCategory")
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>


                    <!-- Second Content for Nav bar -->
                    <div class="tab-pane fade" id="two">
                        Trang 2
                        <a href="#" class="btn btn-info btn-sm">Apply Now</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- inner page content end -->











@Html.ActionLink("Đóng Góp Thêm", "AddNewFund")
