@using TSMT.Models
@model IEnumerable<Car>
@{
    ViewBag.Title = "ManageCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="title_of_page">Manage Cars of Charity Exam</h2>
@*@Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.ChairitiesExam.Examination.Name).Titled("Kỳ Thi").Sortable(true);
    columns.Add(foo => foo.ChairitiesExam.CharityExamName).Titled("Tên Tổ Chức").Sortable(true);
    columns.Add(foo => foo.NumberPlate).Titled("Biển Số Xe").Sortable(true);
    columns.Add(foo => foo.TotalSlots).Titled("Tổng Số Chỗ").Sortable(true);
    columns.Add(foo => foo.DriverName).Titled("Tên Tài Xế").Sortable(true);
    columns.Add(foo => foo.DriverPhone).Titled("Số Điện Thoại").Sortable(true);
    columns.Add().Encoded(false).Titled("Trạng Thái").Sanitized(false).SetWidth(30).RenderValueAs(o =>
         @<b>   @{
             if (o.ChairitiesExam.CharityID == 0)
             {
             @Html.Label("Chưa Tài Trợ")
             }
             else
             {
                 if (o.IsApproved)
                 {
             @Html.Label("Đã tài Trợ")
                 }
                 else
                 {
             @Html.Label("Chờ Xác Nhận")
                 }
             }
         }
         </b>);
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o =>
         @<b>
             @{
                 if (!o.IsApproved || o.ChairitiesExam.CharityID == 0)
                 {
                 @Html.ActionLink("Edit", "EditCar", new { carId = o.CarID })
                 }
             }
         </b>);
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o =>
                    @<b>
                        @{
                            if (!o.IsApproved || o.ChairitiesExam.CharityID == 0)
                            {
                            @Html.ActionLink("Delete", "DeleteCar", new { carId = o.CarID }, new { onclick = "return showPopup('Are you sure to delete it?', this.href )" })
                            }
                        }
                    </b>);
}).WithPaging(3)*@


<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>STT</th>
                <th>Biển số xe</th>
                <th>Tổng số chỗ</th>
                <th>Số chỗ trọ còn trống</th>
                <th>Tên tài xế</th>
                <th>SĐT tài xế</th>
                <th>Kỳ thi</th>
                <th>Tổ chức</th>
                <th>Trạng thái</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                foreach (var item in Model)
                {
                <tr>
                    <td>@counter</td>
                    
                    <td>@item.NumberPlate</td>
                    <td>@item.TotalSlots</td>
                    <td>@item.AvailableSlots</td>
                    <td>@item.DriverName</td>
                    <td>@item.DriverPhone</td>
                    @if (@item.CharityExamID == null)
                    {
                        <td>#Trống#</td>
                        <td>#Trống#</td>
                    }
                    else
                    {
                        <td>@item.ChairitiesExam.Examination.Name</td>
                        <td>@item.ChairitiesExam.CharityExamName</td>
                    }
                    @if (item.CharityExamID == null)
                    {
                        <td><span class="label label-info">Chưa Tài Trợ</span></td>
                        <td>
                            @Html.ActionLink("Edit", "EditCar", new { carId = @item.CarID })
                            @Html.ActionLink("Delete", "DeleteCar", new { carId = @item.CarID }, new { onclick = "return showPopup('Are you sure to delete it?', this.href);" })
                        </td>
                            
                    }
                    else
                        if (!item.IsApproved)
                        {
                        <td><span class="label label-danger">Chờ Nhận</span></td>
                        <td>
                            @Html.ActionLink("Edit", "EditCar", new { carId = @item.CarID })
                            @Html.ActionLink("Delete", "DeleteCar", new { carId = @item.CarID }, new { onclick = "return showPopup('Are you sure to delete it?', this.href);" })
                        </td>
                        }
                        else
                        {
                        <td><span class="label label-success">Đã Tài Trợ</span></td>
                        <td></td>
                        }


                </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
    @Html.ActionLink("Create", "AddCar", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info" })
</div>
<script>
    function func() {
        var cusid_ele = document.getElementsByClassName('edit_class');
        for (var i = 0; i < cusid_ele.length; ++i) {

            if (cusid_ele[i].innerHTML == "True") {
                cusid_ele[i].innerHTML = "Online";
            }
            if (cusid_ele[i].innerHTML == "False") {
                cusid_ele[i].innerHTML = "Tận tay";
            }
        }
    }
    func();
</script>
