@using TSMT.Models
@model TSMT.Models.Car
@{
    ViewBag.Title = "Tài Trợ Nhiều Xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/css/TSMTValidation.css" rel="stylesheet">
<script type="text/javascript" src="/Content/js/TSMTValidation.js"></script>
@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>
                <li><a href="@Url.Action("ManageCar", "Sponsor")">Quản Lý Xe</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_SponsorSidebarPartial")

<script type="text/javascript" src="~/Content/js/jquery.js"></script>
<link href="/Content/css/TSMTPopup.css" rel="stylesheet">
<script src="/Content/js/TSMTPopup.js"></script>
<script type="text/javascript">
    function callAjax(id) {
        if (id == 0) {
            $("#asd").html("");
        } else {
            $.ajax({
                url: 'ResultAjax',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#asd").html("");
                    $("#asd").append("<option >-----</option>");
                    for (i in results) {
                        var r = results[i];
                        $("#asd").append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");

                    }
                }
            });
        }
    }


    function callAjaxLodgeCharityid(id) {
        if (id == 0) {
            $("#charityid").html("");
        } else {
            $.ajax({
                url: 'ResultAjaxCharityid',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#charityid").html("");

                    for (i in results) {
                        var r = results[i];
                        $("#charityid").val(r["charityid"]);

                    }
                }
            });
        }
    }

    $(document).ready(function () {
        $("#saveall").click(function () {
            var ceId;
            var carId = "";
            var cId = document.getElementById("charityid").value;
            $("[id*=tablecar] input:checked").each(function () {

                carId += $(this).val() + "-";

            });
            var examDate = new Date(document.getElementById("date")[document.getElementById("date").selectedIndex].textContent);
            var now = new Date;
            if ((examDate - now) / 86400000 >= 1) {
                if (carId != "") {
                    ceId = parseInt(document.getElementById("asd").value);
                    $.ajax({
                        url: 'SponsoredAllCar',
                        data: { "ceId": ceId, "carId": carId, "cId": cId },
                        type: 'POST',
                        success: function (results) {
                            window.location.assign("@Url.Content("~/Sponsor/ManageCar")");
                        }
                    });
                    } else {
                        ceId = 0;
                        return showPopup('Bạn hãy chọn xe để tài trợ.');
                    }
                    return true;
                } else {
                    alert("Đã hoàn tất đăng ký cho đợt thi này, bạn không thể tài trợ được nữa");
                    return false;
                }
        });

        $('.popup-confirm').click(function (e) {
            e.stopPropagation();
            $('#dialog-overlay, #dialog-box').fadeOut("fast");
            return false;
        });
    });
        function synChange() {
            if (document.getElementById("qwe").selectedIndex == 0) {
                document.getElementById("date").selectedIndex = 0;
            } else {
                document.getElementById("date").selectedIndex = document.getElementById("qwe").selectedIndex;
            }
        }
</script>

<div class="col-md-9">
    <div class="panel panel-green margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>Tài Trợ Xe
            </h3>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td style="vertical-align: middle">Tài Trợ Cho: <span class="required">*</span></td>
                    <td>
                        <select id="qwe" onchange="callAjax(this.value);synChange();" class="form-control">
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["Exam"] as IEnumerable<Examination>)
                            {
                                <option value="@item.ExaminationID">@item.Name</option>
                            }
                        </select>
                        <select id="date" style="display: none" class="form-control">
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["Exam"] as IEnumerable<Examination>)
                            {
                                <option value="@item.ExaminationID">@item.BeginDate</option>
                            }
                        </select>
                    </td>
                    <td style="vertical-align: middle">Tổ Chức: <span class="required">*</span></td>
                    <td>
                        <select id="asd" name="asd" onchange="callAjaxLodgeCharityid(this.value)" class="form-control">
                        </select>
                    </td>
                    <input type="hidden" name="charityid" id="charityid" />
                </tr>

                <tr>
                    <td colspan="4"><b>Vui lòng chọn xe bên dưới để tài trợ</b></td>
                </tr>



            </table>
            <table id="tablecar" class="table table-hover">
                <tr>
                    <td></td>
                    <td>Biển Số Xe</td>
                    <td>Tổng Số Chỗ</td>
                    <td>Tên Tài Xế</td>
                    <td>SĐT Tài Xế</td>
                </tr>
                @{

                    foreach (var item in ViewData["Car"] as IEnumerable<Car>)
                    {
                           
                    <tr>
                        <td>
                            <input class="carid"   type="checkbox" name ="charityexamid" value="@item.CarID" />
                        </td>
                        <td>@item.NumberPlate</td>
                        <td>@item.TotalSlots</td>
                        <td>@item.DriverName</td>
                        <td>@item.DriverPhone</td>
                    </tr>
                    }
                }
                @*<tr>
                    <td colspan="4">
                        <input type="button" class="btn btn-info" onclick="history.go(-1);" value="Quay lại" />
                        <input type="submit" value="Submit" class="btn btn-info" id="saveall" />
                        <input type="reset" value="Reset" class="btn btn-info" />
                    </td>
                </tr>*@
            </table>
        </div>
    </div>
    <div style="float: right">
        <button type="submit" class="btn-u btn-u-sea"><i class="fa fa-plus" id="saveall">&nbsp;Tài Trợ</i></button>
        <button type="button" onclick="location.href ='/Sponsor/ManageCar/'" class="btn-u btn-u-red"><i class="fa fa-times"></i>&nbsp;Hủy</button>
    </div>
    @*<button type="button" onclick="location.href ='/Sponsor/ManageCar/'" class="btn-u btn-u-default"><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay lại</button>*@
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var ex = /^[^\-]$/;

        $("#qwe").blur(function () { checkRegex("qwe", ex, "Vui lòng chọn đợt thi", true) });
        $("#asd").blur(function () { checkRegex("asd", ex, "VUi lòng chọn tổ chức", true) });
        //$("#saveall").submit(function (e) {
        //    var isValidated = true;
        //    isValidated = checkRegex("qwe", ex, "Vui lòng chọn đợt thi", true) && isValidated;
        //    isValidated = checkRegex("asd", ex, "VUi lòng chọn tổ chức", true) && isValidated;
        //    if (isValidated) return true;
        //    e.preventDefault();
        //});
    });
</script>
