@using TSMT.Models
@{
    ViewBag.Title = "Xem Thống Kê";
    ViewBag.Active = "ViewStatistic";
    Layout = "~/Views/Shared/_LayoutStatistic.cshtml";
}

<script src="~/Content/js/highchart.js"></script>
<script src="~/Content/js/exporting.js"></script>


@section Breadcrumbs {
        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs margin-bottom-25">
            <div class="container">
                <h1 class="pull-left">@ViewBag.Title</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                    <li><a href="@Url.Action("Index", "Sponsor")">Nhà tài trợ</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ul>
            </div>
        </div>
    }


@Html.Partial("_SponsorSidebarPartial")

<h1></h1>
<h5></h5>
<div class="col-md-9" id="showInformation">
    <div class="panel panel-green margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Xem Thống Kê
            </h3>
        </div>
        <div class="panel-body">
            <h3>Vui Lòng Chọn Kì Thi và Tổ Chức Muốn Xem</h3>
            <table class="table table-hover">
                @* <tr>
                        <td>Vui Lòng Chọn Kì Thi và Tổ Chức Muốn Xem</td>
                    </tr>*@
                <tr>
                    <td style="vertical-align:middle">Kì Thi </td>
                    <td style="vertical-align:middle">
                        <select id="qwe" onchange="callAjax(this.value)" class="form-control" style="width:auto">
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["Exam"] as IEnumerable<Examination>)
                            {
                                <option value="@item.ExaminationID">@item.Name</option>
                            }
                        </select>
                    </td>
                    <td style="vertical-align: middle">Tổ Chức: </td>
                    <td style="vertical-align:middle">
                        <select id="ceId" onchange="showForm1()" name="ceId" class="form-control"></select>
                    </td>
                </tr>

            </table>

            <div id="Resource" style="display: none">
                <h3><i class="fa fa-car"></i>&nbsp;Xe</h3>
                <table class="table table-hover">
                    <tbody id="showcar">
                    </tbody>
                </table>
                <h3><i class="fa fa-building-o"></i>&nbsp;Nhà</h3>
                <table class="table table-hover">
                    <tbody id="showlodge">
                    </tbody>
                </table>

                @*<h3>Tiền</h3>
        <table class="table table-hover">
            <tbody id="showfund">
            </tbody>
        </table>*@

            </div>
           
        </div>
    </div>
    @*<a href="@Url.Action("Index", "Sponsor")" class="btn-u btn-u-default"  id="back1"><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay lại</a>*@
    <button type="button" class="btn-u btn-u-default" onclick="location.href='/Sponsor/Index/'" ><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay lại</button>
    <a  onclick="viewcarstatistic(); viewcarstatisticlodge(); showForm2();" class="btn-u btn-u-dark-blue"  id="buttonshow" style="display: none; float:right" ><i class="fa fa-bar-chart-o"></i> Xem Thống Kê</a>
    @*<input id="buttonshow" type="button" value="Xem Thống Kê" name="Xem Thống Kê" onclick="viewcarstatistic(); viewcarstatisticlodge(); showForm2();" onchange="" style="display: none" class="btn btn-info" />*@
</div>
 <div id="chart" style="display: none; min-width: 810px; height: 400px; margin: 0 auto"></div>
           <div id="chartlodge" style="display: none; min-width: 810px; height: 400px; margin: 0 auto"></div>
<a href="@Url.Action("Index", "Sponsor")" class="btn-u btn-u-default"  id="back2" style="display: none"><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay lại</a>

            

          
<script type="text/javascript">
    function callAjax(id) {
        if (id == 0) {
            $("#ceId").html("");
        }
        else {
            $.ajax({
                url: 'ResultAjax',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#ceId").html("");
                    $("#ceId").append("<option>------</option>");
                    for (i in results) {
                        var r = results[i];
                        $("#ceId").append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");

                    }
                }
            });
        }
    }

    $(document).ready(function () {
        $("#ceId").click(function () {
            var ceId = document.getElementById("ceId").value;
            $.ajax({
                url: 'ShowCarSponsor',
                data: { "ceId": ceId },
                type: 'POST',
                success: function (results) {
                    $("#showcar").html("");
                    $("#showcar").append("<tr><td> <b>Biển Số Xe</b></td><td><b>Tổng Số Chỗ Ngồi</b></td><td> <b>Số Chỗ Ngồi Còn Trống</b></td></tr>");

                    for (i in results) {
                        var r = results[i];
                        $("#showcar").append("<tr><td style=\"width: 40%\" value=\"" + r.value + "\">" + r["NumberPlate"] + "</td>" + "<td style=\"width: 25%\" class=\"totalslots\" value=\"" + r.value + "\">" + r["TotalSlots"] + "</td>" + "<td  class =\"totalavaslots\" value=\"" + r.value + "\">" + r["AvailableSlots"] + "</td></tr>");
                    }
                }
            });

            $.ajax({
                url: 'ShowLodgeSponsor',
                data: { "ceId": ceId },
                type: 'POST',
                success: function (results) {
                    $("#showlodge").html("");
                    $("#showlodge").append("<tr><td><b>Địa Chỉ</b></td><td><b>Tổng Số Chỗ</b></td><td><b>Số Chỗ Ở Còn Trống</b></td></tr>");

                    for (i in results) {
                        var r = results[i];
                        $("#showlodge").append("<tr><td style=\"width: 40%\" class=\"add\" value=\"" + r.value + "\">" + r["Address"] + "</td>" + "<td style=\"width: 25%\" class=\"totalslotslodge\" value=\"" + r.value + "\">" + r["TotalSlots"] + "</td>" + "<td class =\"totalavaslotslodge\" value=\"" + r.value + "\">" + r["AvailableSlots"] + "</td></tr>");

                    }
                }
            });

            $.ajax({
                url: 'ShowFundSponsor',
                data: { "ceId": ceId },
                type: 'POST',
                success: function (results) {
                    $("#showfund").html("");
                    $("#showfund").append("<tr>");
                    $("#showfund").append("<td>Số Tiền</td>");
                    $("#showfund").append("</tr>");
                    for (i in results) {
                        var r = results[i];
                        $("#showfund").append("<tr>");
                        $("#showfund").append("<td id=\"fund1\" value=\"" + r.value + "\">" + r["FundSponsored"] + "</td>");
                        $("#showfund").append("</tr>");
                    }
                }
            });

        });
    });

    function showForm1() {
        document.getElementById('Resource').style.display = "inline";
        document.getElementById('chart').style.display = "none"
        document.getElementById('chartlodge').style.display = "none";
        document.getElementById('buttonshow').style.display = "inline";
        document.getElementById('back1').style.display = "inline";
        document.getElementById('back2').style.display = "none";
    }
    function showForm2() {
        document.getElementById('chart').style.display = "inline";
        document.getElementById('chartlodge').style.display = "inline";
        document.getElementById('buttonshow').style.display = "none";
        document.getElementById('back1').style.display = "none";
        document.getElementById('back2').style.display = "inline";
    }

    function viewcarstatistic() {
        var length = document.getElementsByClassName("totalslots").length;
        var TotalCar = 0;
        var TotalAvaCar = 0;
        var TotalUsedCar = 0;
        for (var i = 0; i < length; i++) {
            var countslots = parseInt(document.getElementsByClassName("totalslots")[i].textContent);
            var countavaslots = parseInt(document.getElementsByClassName("totalavaslots")[i].textContent);
            TotalCar += countslots;
            TotalAvaCar += countavaslots;
        }
        TotalUsedCar = TotalCar - TotalAvaCar;
        if (TotalCar == 0) {
            alert("Bạn chưa có dữ liệu để xem bản đồ")
        }
        else {
            $('#chart').highcharts({

                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Thống Kê Số Chỗ Ngồi Trên Xe'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Phần trăm',
                    data: [
                        ['Tổng Số Chỗ Đã Đăng Ký ' + '(' + TotalUsedCar + '/' + TotalCar + ')', TotalUsedCar],
                        ['Tổng Số Chỗ Còn Trống ' + '(' + TotalAvaCar + '/' + TotalCar + ')', TotalAvaCar]

                    ]
                }]
            });
        }
    }



    function viewcarstatisticlodge() {
        var lengthLodge = document.getElementsByClassName("totalslotslodge").length;
        var TotalLodge = 0;
        var TotalAvaLodge = 0;
        var TotalUsedLodge = 0;
        for (var i = 0; i < lengthLodge; i++) {
            var countslotsLodge = parseInt(document.getElementsByClassName("totalslotslodge")[i].textContent);
            var countavaslotsLodge = parseInt(document.getElementsByClassName("totalavaslotslodge")[i].textContent);
            TotalLodge += countslotsLodge;
            TotalAvaLodge += countavaslotsLodge;
        }
        TotalUsedLodge = TotalLodge - TotalAvaLodge;
        if (TotalLodge == 0) {
            
        }
        else {
            $('#chartlodge').highcharts({

                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Thống Kê Số Chỗ Trọ'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Phần trăm',
                    data: [
                        ['Tổng Số Chỗ Đã Đăng Ký ' + '(' + TotalUsedLodge + '/' + TotalLodge + ')', TotalUsedLodge],
                        ['Tổng Số Chỗ Còn Trống ' + '(' + TotalAvaLodge + '/' + TotalLodge + ')', TotalAvaLodge]

                    ]
                }]
            });
        }
    }

    $("#fund1").priceFormat({ prefix: '', centsLimit: 0 });

    $(function () {
        var lengthadd = document.getElementsByClassName("add").length;
        for (var i = 0; i < lengthadd; i++) {
            var str = document.getElementsByClassName("add")[i].textContent;
            var add = str.split(',');
            var add1 = add[0];
            document.getElementsByClassName("add")[i].innerHTML = add1;
        }
    });
</script>