@using TSMT.Models

@{
    ViewBag.Title = "Tạo mới phiếu báo thi";
    ViewBag.Active = "AddExamPaper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-20">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Admin")">Thí sinh</a></li>
                <li><a href="@Url.Action("ManageExamPaper", "Candidate")">Thông tin phiếu báo thi</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CandidateSidebarPartial")

<script type="text/javascript">
    function getUniversity(id) {
        $.ajax({
            url: 'getUniversity',
            data: { "id": id },
            type: 'GET',
            success: function (results) {
                $("#uniName").html("");
                for (i in results) {
                    var r = results[i];
                    $("#uniName").append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");
                    document.getElementById("");
                }
                $("#uniName")[0].onchange();
            }
        });
    }
    function getVenue(id) {
        $.ajax({
            url: 'getVenue',
            data: { "id": id },
            type: 'GET',
            success: function (results) {
                $("#venueID").html("");
                for (i in results) {
                    var r = results[i];
                    $("#venueID").append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");

                }
            }
        });
    }

    //function getDay(id) {
    //    $.ajax({
    //        url: 'getDay',
    //        data: { "id": id },
    //        type: 'GET',
    //        success: function (results) {
    //            $("#day").html("");
    //            for (i in results) {
    //                var r = results[i];
    //                $("#day").val(r["name"]);
    //            }
    //        }
    //    });
    //}
</script>

@using (Html.BeginForm("AddExamPaper", "Candidate", FormMethod.Post))
{
    <div class="col-md-7">
        <div class="panel panel-blue margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i>Tạo mới phiếu báo thi
                </h3>
            </div>
            <div class="panel-body">

                <table class="table table-hover" style="vertical-align: central">
                    <tr>
                        <td style="width: 100px; vertical-align: middle">Kỳ thi</td>
                        <td>
                            <select name="UniExamID" class="form-control" onchange="getUniversity(this.value)">
                                <option value="null">Kỳ thi</option>
                                @foreach (var item in ViewData["Exams"] as IEnumerable<Examination>)
                                {
                                    
                                    <option value="@item.ExaminationID">@item.Name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px; vertical-align: middle">Trường</td>
                        <td>
                            <select id="uniName" name="uniName" class="form-control" onchange="getVenue(this.value)">
                                <option value="null">Trường ĐH / CĐ</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px; vertical-align: middle">Địa điểm thi</td>
                        <td>
                            <select id="venueID" name="venueID" class="form-control">
                                @* @foreach (var item in ViewData["venues"] as IEnumerable<Venue>)
                    {
                        <option value="@item.VenueID">@item.Address</option>
                    }*@
                                <option value="null">Địa điểm thi</option>
                            </select>
                        </td>
                    </tr>
                    @*<tr>
                        <td colspan="2" style="width: 100px; vertical-align: middle">
                            Bạn hãy chọn bến xe và giờ tới để chúng tôi có thể đón bạn tốt nhất !!!
                        </td>
                       <td>
                    <td>
                        <input type="text" id="day" name="day" class="form-control" /></td>
                    </tr>*@
                    <tr>
                         <td style="width: 100px; vertical-align: middle">Bến xe tới</td>
                        <td>
                            <select name="stationid" id="stationid" class="form-control" >
                                @foreach (var item in ViewData["Station"] as IEnumerable<Station>)
                                {
                                    
                                    <option value="@item.StationID">@item.StationName</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                         <td style="width: 100px; vertical-align: middle">Giờ </td>
                        <td>
                            <select id="pickupTime" name="pickupTime" class="form-control">
                                <option value ="1">11h00 (sáng)</option>
                                <option value ="2">17h00 (chiều)</option>
                                </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                </table>


            </div>
        </div>
        @*<input type="button" value="Trở về" class="btn-u btn-u-default" onclick="history.go(-1);" />*@
        @*<a href="@Url.Action("ManageExamPaper","Candidate")" class="btn-u btn-u-default"><i class="fa fa-chevron-circle-left"></i>&nbsp; Quay lại</a>*@
        <div style="float: right">
            @*<input type="submit" value="Tạo mới" class="btn-u btn-u-sea" />*@
            @*<button type="reset" class="btn-u btn-u-purple"><i class="fa fa-eraser"></i>&nbsp;Làm lại</button>*@
            <button type="submit" class="btn-u btn-u-sea"><i class="fa fa-plus"></i>&nbsp;Tạo mới</button>
            <button type="button" class="btn-u btn-u-red" onclick="location.href = '/Candidate/ManageExamPaper'; return false;"><i class="fa fa-times-circle"></i>&nbsp;Hủy</button>
            @*<input type="reset" value="Làm lại" class="btn-u btn-u-default" />*@

        </div>
    </div>
}
