@{
    ViewBag.Title = "Tìm kiếm bạn bè";
}

@using TSMT.Models;
@model ExaminationsPaper

<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-list">&nbsp;Tìm kiếm bạn bè</i></h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <td>Thí sinh</td>
                <td>@Model.Candidate.Account.Profile.Lastname @Model.Candidate.Account.Profile.Middlename @Model.Candidate.Account.Profile.Firstname</td>
            </tr>
            <tr>
                <td>Hội từ thiện</td>
                <td>@Model.ChairitiesExam.CharityExamName</td>
            </tr>
            <tr>
                <td>Địa chỉ trọ</td>
                <td>@Model.Lodge.Address</td>
            </tr>
            <tr>
                <td>Nhóm</td>
                <td>
                    @if (Model.GroupID == null)
                    {
                        <text>#Chưa có nhóm#</text>
                    }
                    else
                    {
                        <text><a href="#" title="Xem danh sách nhóm @Model.GroupID" onclick="">Nhóm @Model.GroupID</a></text>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="float: right" id="TSMTSearching"></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th onclick="sortBy('name', this)" class="order orderDes orderHidden">Tên</th>
            <th onclick="sortBy('gender', this)" class="order orderDes orderHidden">Giới tính</th>
            <th onclick="sortBy('group', this)" class="order orderDes orderHidden">Nhóm</th>
            <th>Thao tác</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody id="TSMTPaging"></tbody>
</table>

@Html.ActionLink("Quay về trang trước", "DetailsExamPaper", new { id = Model.ExamPaperID }, new { @class = "btn btn-info" })

<link rel="stylesheet" href="~/Content/css/TSMTPaging.css">
<script type="text/javascript" src="~/Content/js/TSMTPaging.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        fetchData();
    });
    function fetchData() {
        $.ajax({
            url: '/Candidate/GetDataFindFriend',
            data: { id: @Model.ExamPaperID },
            type: 'POST',
            success: function (results) {
                if (results.success == true) {
                    init(2, 6, results.data);
                }
            }
        });
    }
    function showData(index, record) {
        var tmp = "<tr><td>" + index;
        tmp += "</td><td>" + record.name;
        tmp += "</td><td>" + record.gender;
        tmp += "</td><td>" + record.group;
        tmp += "</td><td>" + record.actions;
        tmp += "</td><td>" + record.note;
        tmp += "</td></tr>";
        return tmp;
    }
    function matchSearch(i, text) {
        var r = false;
        r = r || (TSMTPagingData[i].name.toUpperCase().indexOf(text) > -1);
        r = r || (TSMTPagingData[i].group.toString().toUpperCase().indexOf(text) > -1);
        return r;
    }
</script>
