@using TSMT.Models
@model IEnumerable<ExaminationsPaper>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Manage Exam Papers of Candidate</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>STT</th>
                <th>Trường</th>
                <th>Kỳ thi</th>
                <th>Địa điểm thi</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                foreach (var item in Model)
                {
                <tr>
                    <td>@counter</td>
                    <td>@item.UniversitiesExamination.University.Name</td>
                    <td>@item.UniversitiesExamination.Examination.Name</td>
                    <td>@item.Venue.Address</td>
                    <td>
                        @Html.ActionLink("Details", "DetailsExamPaper", new { examPaperId = @item.ExamPaperID })
                        @Html.ActionLink("Delete", "DeleteExamPaper", new { examPaperId = @item.ExamPaperID }, new { onclick="return showPopup('Please confirm to delete it.', this.href);" })
                    </td>
                </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
</div>
@Html.ActionLink("Create", "AddExamPaper", null, new { @class = "btn btn-info" })
