@{
    ViewBag.Title = "Xe " + @Model.NumberPlate;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model Car

<h3>Xe @Model.NumberPlate</h3>
<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-list">&nbsp;Thông tin chi tiết</i></h3>
    </div>
    <div class="panel-body" style="display:none">
        <table class="table table-hover">
            <tr>
                <th>Tài xế</th>
                <td>@Model.DriverName</td>
            </tr>
            <tr>
                <th>SĐT tài xế</th>
                <td>@Model.DriverPhone</td>
            </tr>
            <tr>
                <th>Tổng số chỗ</th>
                <td>@Model.TotalSlots</td>
            </tr>
            <tr>
                <th>Số chỗ còn trống</th>
                <td>@(@Model.TotalSlots - @Model.AvailableSlots)</td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-list">&nbsp;Danh sách các thí sinh được sắp xếp đưa đón</i></h3>
    </div>
    <div class="panel-body" style="display:none">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Thí sinh</th>
                <th>SĐT</th>
                <th>Nhóm</th>
            </tr>
            @{
                int counter = 1;
                foreach (ExaminationsPaper item in Model.ExaminationsPapers)
                {                          
                <tr>
                    <td>@counter</td>
                    <td>@item.Candidate.Account.Profile.Lastname @item.Candidate.Account.Profile.Firstname</td>
                    <td>@item.Candidate.Account.Profile.PhoneNumber</td>
                    <td>
                        @if (item.GroupID == null)
                        {
                            <text>Cá nhân</text>
                        }
                        else
                        {
                            <text><a href="/Charity/ViewGroup/@item.GroupID">Nhóm @item.GroupID</a></text>
                        }
                    </td>
                </tr>
                        ++counter;
                }
            }
        </table>
    </div>
</div>
<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-list">&nbsp;Lịch trình đưa đón</i></h3>
    </div>
    <div class="panel-body" style="display:none">
        <p>Đợt thi: @Model.ChairitiesExam.Examination.Name (từ ngày @Model.ChairitiesExam.Examination.BeginDate.ToString("dd/MM/yyyy") đến ngày @Model.ChairitiesExam.Examination.EndDate.ToString("dd/MM/yyyy"))</p>
        <table class="table table-hover">
            <tr>
                <th>Ngày thi</th>
                <th>Giờ đi</th>
                <th>Giờ về</th>
            </tr>
            @foreach (ScheduleExam se in @Model.ChairitiesExam.Examination.ScheduleExams)
            {
                <tr>
                    <td>@se.Day.ToString("dd/MM/yyyy")</td>
                    <td>@se.BeginTime.AddHours(-1.5).ToShortTimeString()</td>
                    <td>@se.EndTime.AddHours(-1).ToShortTimeString()</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-list">&nbsp;Bản đồ đường đi</i></h3>
    </div>
    <div class="panel-body">
        @if (Model.ExaminationsPapers.Count == 0)
        {
            <p># Chưa được sắp xếp #</p>
        }
        else
        {
            <div id="map_canvas" style="width: 100%; height: 500px;"></div>
        }
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
    var BenThanh = { lat: 10.771992, lng: 106.698264 };
    function initialize() {
        var map_options = {
            center: new google.maps.LatLng(BenThanh.lat, BenThanh.lng),
            zoom: 16,
            panControl: false,
            mapTypeControl: false,
            streetViewControl: false,
        }
        var map = new google.maps.Map(document.getElementById('map_canvas'), map_options);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>