@using TSMT.Models
@model TSMT.Models.Charity
@{
    ViewBag.Title = "Tạo mới xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<link href="/Content/css/TSMTValidation.css" rel="stylesheet">
<script type="text/javascript" src="/Content/js/TSMTValidation.js"></script>
@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("ManageCarCharity", "Charity")">Quản lý xe</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

@*<style type="text/css">
    .validationMsg {
        color: red;
    }
    .divValMsg {
        width: 200px;
        background-color: yellow;
        color: red;
        /*z-index: 2000;*/
        position: absolute;
        padding: 2px 10px;
        border-radius: 10px;
        border: 1px solid gray;
        box-shadow: 0px 0px 10px yellow;
    }
</style>*@

@using (Html.BeginForm("AddCar", "Charity", FormMethod.Post, new { id = "FormAddCar" }))
{
    <div class="col-md-6">
        <div class="panel panel-orange margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list"></i>&nbsp;Tạo mới thông tin xe
                </h3>
            </div>
            <div class="panel-body">
                <input type="hidden" name="id" value="@Model.CharityID"/>
                <table class="table">
                    <tr>
                        <td style="vertical-align: middle">Biển số xe<span class="required">*</span></td>
                        <td>
                            <input type="text" name="NumberPlate" id="NumberPlate" class="form-control" style="width:60%" /></td>
                        
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Tổng số chỗ ngồi<span class="required">*</span></td>
                        <td>
                            <input type="text" name="TotalSlots" id="TotalSlots" class="form-control" style="width:25%"/></td>
                        
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Tên tài xế</td>
                        <td>
                            <input type="text" name="DriverName" id="DriverName" class="form-control" style="width:85%"/></td>
                       
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Số điện thoại tài xế</td>
                        <td>
                            <input type="text" name="DriverPhone" id="DriverPhone" class="form-control" style="width:60%"/></td>
                        
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Kì thi</td>
                        <td>
                            <select name="CharityExamID" class="form-control" style="width:auto">
                                <option value="0" selected>---</option>
                                @foreach (var item in ViewData["CharityExam"] as IEnumerable<ChairitiesExam>)
                                {
                                    <option value="@item.CharityExamID" >@item.Examination.Name</option>
                                }
                            </select>
                        </td>
                        @*<td><span class="validationMsg" id="valMsgDriverPhone"></span></td>*@
                    </tr>

                </table>
            </div>
        </div>
        <div style="float: right">
            @*<input type="reset" value="Làm lại" class="btn btn-info" />*@
            <button type="reset" class="btn-u btn-u-purple"><i class="icon-eraser"></i>&nbsp;Làm lại</button>
            <button type="submit" class="btn-u btn-u-sea"><i class="icon-plus">&nbsp;Tạo</i></button>
            <button type="button" class="btn-u btn-u-red" onclick="location.href ='/Charity/ManageCarCharity/'"><i class="icon-remove-circle"></i>&nbsp;Hủy</button>
            @*<input type="submit" value="Tạo" class="btn btn-info" />*@
        </div>
        @*<button type="button" onclick="location.href ='/Charity/ManageCarCharity/'" class="btn-u btn-u-sea" ><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</button>*@
    </div>
}
   
@*    <script type="text/javascript">
    $(document).ready(function () {
        $("#TotalSlots").blur(function () { checkEmpty("TotalSlots") });
	    //$("#Address").blur(function(){checkEmpty("Address")});
	    $("#NumberPlate").blur(function () { CheckNumberPlate("NumberPlate", "Xe đã tồn tại trong hệ thống! Vui lòng kiểm tra lại.", true) });
	    $("#FormAddCar").submit(function (e) {
	        var isValidated = true;
	        isValidated = checkEmpty("TotalSlots") && isValidated;
	        //isValidated = checkEmpty("Address") && isValidated;
	        isValidated = CheckNumberPlate("NumberPlate", "Xe đã tồn tại trong hệ thống! Vui lòng kiểm tra lại.", true) && isValidated;
	        if (isValidated) return true;
	        e.preventDefault();
	    });
    });

    function CheckNumberPlate(id, msg, required) {
        var e = document.getElementById(id);
        if (checkEmpty(id)) {
            var isNotExisted = false;
            $.ajax({
                url: '/charity/CheckNumberPlate/',
                data: { code: e.value},
                type: 'POST',
                async: false,
                success: function (results) {
                    if (results.success == true) {
                        isNotExisted = results.isNotExisted;
                    }
                }
            });
            if (!isNotExisted) {
                createValMsg(e, msg);
                return false;
            } else return true;
        } else return !required;
    }
</script>*@
<script type="text/javascript">
    $(document).ready(function () {
        //var ex = /^[^\-]$/;
        //var reNumberplate = /^\d\d\D\d-\d{4,5}$/;
        var reTotalSlots = /^(\d{1}|[1-5]\d{1})$/;
        var rePhone = /^(09|01)\d{8,9}$/;
       @* var email = @Html.Raw("/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/");
        var werb =/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/;*@
        $("#TotalSlots").blur(function () { checkRegex("TotalSlots", reTotalSlots, "Số chỗ ngồi không hợp lý- không vượt quá 59 chỗ", true) });
        $("#DriverPhone").blur(function () { checkRegex("DriverPhone", rePhone, "Số điện thoại bắt đầu bằng 09 hoặc 01 và đủ (10 đến 11) số", false) });
        $("#NumberPlate").blur(function () { CheckNumberPlate("NumberPlate", "Xe đã tồn tại trong hệ thống! Vui lòng kiểm tra lại.", true) });
        //$("#NumberPlate").blur(function () { checkRegex("NumberPlate",reNumberplate, "Biển số xe không đúng định dạng! VD: 54X5-12345", true) });
        $("#FormAddCar").submit(function (e) {
            var isValidated = true;
            isValidated = checkRegex("TotalSlots", reTotalSlots, "Số chỗ ngồi không hợp lý- không vượt quá 59 chỗ", true) && isValidated;
            isValidated = checkRegex("DriverPhone", rePhone, "Số điện thoại bắt đầu bằng 09 hoặc 01 và đủ (10 đến 11) số", false) && isValidated;
            //isValidated = CheckNumberPlate("NumberPlate", "Xe đã tồn tại trong hệ thống! Vui lòng kiểm tra lại.", true) && isValidated;
            isValidated = CheckNumberPlate("NumberPlate", "Xe đã tồn tại trong hệ thống! Vui lòng kiểm tra lại.", true) && isValidated;
            //isValidated = checkRegex("NumberPlate", reNumberplate, "Biển số xe không đúng định dạng! VD: 54X5-12345", true) && isValidated;
            if (isValidated) return true;
            e.preventDefault();
        });
    });

   

    function CheckNumberPlate(id, msg, required) {
        var e = document.getElementById(id);
        //var value = e.replaceAdjacentText(" ","");
        if (checkEmpty(e)) {
            var isNotExisted = false;
            $.ajax({
                url: '/Charity/CheckNumberPlate/',
                data: { code: e.value},
                type: 'POST',
                async: false,
                success: function (results) {
                    if (results.success == true) {
                        isNotExisted = results.isNotExisted;
                    }
                }
            });
            if (!isNotExisted) {
                createValMsg(e, msg);
                return false;
            } else
                removeValMsg(e);
                return true;
        } else return !required;
    }
</script>
