@using TSMT.Models
@model TSMT.Models.Lodge

@{
    ViewBag.Title = "Tạo mới phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<link href="/Content/css/TSMTValidation.css" rel="stylesheet">
<script type="text/javascript" src="/Content/js/TSMTValidation.js"></script>
@section Breadcrumbs {
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("ManageLodgeCharity", "Charity")">Quản lý nhà trọ</a></li>
                <li><a href="@Url.Action("DetailsLodge", "Charity", new { lodgeId = @Model.LodgeID })">Thông tin chi tiết nhà trọ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

@using (Html.BeginForm("AddRoom", "Charity", FormMethod.Post, new { id = "FormValidate" }))
{
    <div class="col-md-5">
        <div class="panel panel-orange margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list"></i>&nbsp;Tạo mới phòng
                </h3>
            </div>
            <div class="panel-body">
                <input type="hidden" name="lodgeId" value="@Model.LodgeID"/>
                <table>
                    @*<tr>
                        <td>Tên phòng</td>
                        <td>
                            <input type="text" name="RoomName" /></td>
                    </tr>*@
                    <tr>
                        <td style="vertical-align: middle">Tên phòng *</td>
                        <td>
                            <input type="text" name="RoomName" id="RoomName" class="form-control" /></td>
                        @*<td><span class="validationMsg" id="valMsgNumberPlate"></span></td>*@
                    </tr>
                    @*                    <tr>
                        <td>Tổng số chỗ</td>
                        <td>
                            <input type="text" name="TotalSlots" /></td>
                    </tr>*@
                    <tr>
                        <td style="vertical-align: middle">Tổng số chỗ *</td>
                        <td>
                            <input type="text" name="TotalSlots" id="TotalSlots" class="form-control" /></td>
                        @*<td><span class="validationMsg" id="valMsgNumberPlate"></span></td>*@
                    </tr>

                </table>
            </div>
        </div>
        @*        <tr>
            <td colspan="2">
                <input type="submit" value="Tạo" class="btn btn-info" />
                <input type="reset" value="Làm lại" class="btn btn-info" />
            </td>
        </tr>*@
        <div style="float: right">
            @*<input type="reset" value="Làm lại" class="btn btn-info" />*@
            @*  <button type="submit" class="btn-u btn-u-default"><i class="icon-plus">&nbsp;Tạo</i></button>
            <button type="reset" class="btn-u btn-u-purpose"><i class="icon-eraser"></i>&nbsp;Làm lại</button>*@
            @*<input type="submit" value="Tạo" class="btn btn-info" *@
            @*<button type="reset" class="btn-u btn-u-purple"><i class="icon-eraser"></i>&nbsp;Làm lại</button>*@
            <button type="submit" class="btn-u btn-u-sea"><i class="icon-save">&nbsp;Tạo mới</i></button>
            <button type="button" class="btn-u btn-u-red" onclick="location.href ='/Charity/DetailsLodge/' + @Model.LodgeID"><i class="icon-remove-circle"></i>&nbsp;Hủy</button>

        </div>
        @*<button type="button" onclick="location.href ='/Charity/DetailsLodge?lodgeId=' + @Model.LodgeID" class="btn-u btn-u-sea" ><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</button>*@
    </div>
}
@*<script type="text/javascript">
    $(document).ready(function () {
      
        var reTotalSlots = /^\d{1,2}$/;
      
        $("#TotalSlots").blur(function () { checkRegex("TotalSlots", reTotalSlots, "Số chỗ ngồi không hợp lý", true) });
        $("#RoomName").blur(function () { checkEmpty("RoomName") });
        $("#FormValidate").submit(function (e) {
            var isValidated = true;
            isValidated = checkRegex("TotalSlots", reTotalSlots, "Số chỗ ngồi không hợp lý", true) && isValidated;
            isValidated = checkEmpty("RoomName") && isValidated;
            if (isValidated) return true;
            e.preventDefault();
        });
    });
</script>*@