@using TSMT.Models
@model TSMT.Models.Lodge

@{
    ViewBag.Title = "Tạo phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

<h2 class="title_of_page">Add Room</h2>
@using (Html.BeginForm("AddRoom", "Charity", FormMethod.Post))
{
    <input type="hidden" name="lodgeId" value="@Model.LodgeID"/>
    <table>
        <tr>
            <td>Tên phòng</td>
            <td>
                <input type="text" name="RoomName" /></td>
        </tr>
        <tr>
            <td>Tổng số chỗ</td>
            <td>
                <input type="text" name="TotalSlots" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Tạo" class="btn btn-info" />
                <input type="reset" value="Làm lại" class="btn btn-info" />
            </td>
        </tr>
    </table>
}