@using TSMT.Models
@model TSMT.Models.Charity
@{
    ViewBag.Title = "Chọn xe hỗ trợ cho đợt thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#saveall").click(function () {
            var eId;
            var carId = "";
            //var lodgeId = document.getElementById("lodgeId").value;
            var cId = document.getElementById("charityid").value;
            $("[id*=tableroom] input:checked").each(function () {
                carId += $(this).val() + "-";
            });
            if (carId != "") {
                eId = parseInt(document.getElementById("qwe").value);
                $.ajax({
                    url: 'AssignCarstoCe',
                    data: { "eId": eId, "carId": carId, "cId": cId },
                    type: 'POST',
                    success: function (results) {
                        window.location.assign("@Url.Content("~/Charity/ManageCarCharity")");
                    }
                });
                } else {
                    eId = 0;
                    alert("No item has been selected.");
                }
        });
    });
</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("ManageCarCharity", "Charity")">Quản lý xe</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

@*<input type="hidden" id="lodgeId" value="@Model.LodgeID"/>*@
<div class="col-md-7">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Chọn xe</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td style="vertical-align: middle">Dùng Cho: </td>
                    <td>
                        <select id="qwe" class="form-control" style="width:auto">
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["Exam"] as IEnumerable<Examination>)
                            {                                
                                <option value="@item.ExaminationID">@item.Name</option>                                                               
                            }
                        </select>
                    </td>
                    @*  <td>Tổ Chức: </td>
                    <td>
                        <select id="asd" name="asd" onchange="callAjaxLodgeCharityid(this.value)" class="form-control" >
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["CE"] as IEnumerable<ChairitiesExam>)
                            {
                                if (Model.CharityExamID == null)
                                { 
                                <option value="@item.CharityExamID">@item.CharityExamName</option>
                                }
                                else
                                {
                                    if (item.CharityExamID == Model.CharityExamID)
                                    {
                                <option value="@item.CharityExamID" selected="selected">@item.CharityExamName</option>
                                    }
                                    else
                                    {
                                <option value="@item.CharityExamID">@item.CharityExamName</option>
                                    }
                                }
                            }
                        </select>
                    </td>*@
                    <input type="hidden"  value="@Model.CharityID" id ="charityid" />
                </tr>
                <tr>
                    <td colspan="4"><em><b>Vui lòng chọn xe bên dưới để hỗ trợ cho đợt thi</b></em></td>
                </tr>
            </table>
            <table id="tableroom" class="table table-hover">
                <tr>
                    <td></td>
                    <td>#</td>
                    <td>Biển Số Xe</td>
                    <td>Tổng Số Chỗ</td>
                </tr>
                @{
                    int counter = 1;
                    foreach (var item in ViewData["Cars"] as IEnumerable<Car>)
                    {
                    <tr>
                        <td>
                            <input class="carid"   type="checkbox" name ="charityexamid" value="@item.CarID" />
                        </td>
                        <td>@counter</td>
                        <td>@item.NumberPlate</td>
                        <td>@item.TotalSlots</td>
                    </tr>
                        ++counter;
                    }
                }
                @*<tr>
                    <td colspan="4">
                        <a href="@Url.Action("ManageCarCharity", "Charity")" class="btn-u btn-u-default"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</a>
                        <input type="submit" value="Chọn" class="btn btn-info" id="saveall" />
                        <input type="reset" value="Làm lại" class="btn btn-info" />
                    </td>
                </tr>*@
            </table>
        </div>
    </div>
    <div style="float: right">
        @*<button type="submit" value="Chọn" class="btn" ><i class="icon-pencil"></i>&nbsp;Chọn</button>
        <input type="submit" value="Chọn" class="btn-u btn-u-default" id="saveall" />
        <input type="reset" value="Làm lại" class="btn-u btn-u-purple" />*@

           @*<button type="reset" class="btn-u btn-u-purple" ><i class="icon-eraser"></i>&nbsp;Làm lại</button>*@
            <button type="submit" class="btn-u btn-u-sea" id="saveall"><i class="icon-save">&nbsp;Lưu</i></button>
            <button type="button" class="btn-u btn-u-red" onclick="location.href ='/Charity/ManageCarCharity/'"><i class="icon-remove-circle"></i>&nbsp;Hủy</button>

    </div>
    @*<a href="@Url.Action("ManageCarCharity", "Charity")" class="btn-u btn-u-default"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</a>*@
</div>
