@using TSMT.Models
@model TSMT.Models.Lodge
@{
    ViewBag.Title = "Chọn phòng để hỗ trợ cho đợt thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    //function callAjax(id, cId) {
    //    if (id == 0) {
    //        $("#asd").html("");
    //    }   
    //    else {
    //        $.ajax({
    //            url: 'ResultAjax',
    //            data: { "id": id , "charityId": cId },
    //            type: 'GET',
    //            success: function (results) {
    //                $("#asd").html("");
    //                $("#asd").append("<option >-----</option>");
    //                for (i in results) {
    //                    var r = results[i];
    //                    $("#asd").append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");

    //                }
    //            }
    //        });
    //    }
    //}
   

    //function callAjaxLodgeCharityid(id) {
    //    if (id == 0) {
    //        $("#charityid").html("");
    //    }
    //    else {
    //        $.ajax({
    //            url: 'ResultAjaxCharityid',
    //            data: { "id": id },
    //            type: 'GET',
    //            success: function (results) {
    //                $("#charityid").html("");
                    
    //                for (i in results) {
    //                    var r = results[i];
    //                    $("#charityid").val(r["charityid"]);

    //                }
    //            }
    //        });
    //    }
    //}



    $(document).ready(function () {
        $("#saveall").click(function () {
            var eId;
            var roomId ="";
            var lodgeId = document.getElementById("lodgeId").value;
            var cId = document.getElementById("charityid").value;
            $("[id*=tableroom] input:checked").each(function () {

                roomId += $(this).val() + "-";
                
            });
            if (roomId != "") {
                eId = parseInt(document.getElementById("qwe").value);
                $.ajax({
                    url: '/Charity/AssignLodgetoCeC',
                    data: { "eId": eId, "roomId": roomId, "lodgeId": lodgeId, "cId": cId },
                    type: 'POST',
                    success: function (results) {
                        window.location.assign("@Url.Content("~/Charity/ManageLodgeCharity")");

                    }
                });
            } else {
                eId = 0;
                alert("Không thể sử dụng nhà trọ này vì không đủ thông tin");
            }

        });
    });



</script>


@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("ManageCarCharity", "Charity")">Quản lý chỗ trọ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")


<input type="hidden" id="lodgeId" value="@Model.LodgeID"/>


<div class="col-md-7">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Chọn phòng để hỗ trợ thí sinh trong đợt thi
            </h3>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td style="vertical-align:middle">Dùng Cho: </td>
                    <td>
                        <select id="qwe" class="form-control" style="width:auto">
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["Exam"] as IEnumerable<Examination>)
                            {
                                if (Model.CharityExamID == null)
                                { 
                                <option value="@item.ExaminationID">@item.Name</option>
                                }
                                else
                                {
                                    if (item.ExaminationID == Model.ChairitiesExam.Examination.ExaminationID)
                                    {
                                <option value="@item.ExaminationID" selected="selected">@item.Name</option>
                                    }
                                    else
                                    {
                                <option value="@item.ExaminationID">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                  @*  <td>Tổ Chức: </td>
                    <td>
                        <select id="asd" name="asd" onchange="callAjaxLodgeCharityid(this.value)" class="form-control" >
                            <option value="0" selected>---</option>
                            @foreach (var item in ViewData["CE"] as IEnumerable<ChairitiesExam>)
                            {
                                if (Model.CharityExamID == null)
                                { 
                                <option value="@item.CharityExamID">@item.CharityExamName</option>
                                }
                                else
                                {
                                    if (item.CharityExamID == Model.CharityExamID)
                                    {
                                <option value="@item.CharityExamID" selected="selected">@item.CharityExamName</option>
                                    }
                                    else
                                    {
                                <option value="@item.CharityExamID">@item.CharityExamName</option>
                                    }
                                }


                            }
                        </select>
                    </td>*@
                    <input type="hidden"  value="@Model.CharityID" id ="charityid" />
                </tr>
                <tr>
                    <td>Địa chỉ</td>
                    <td colspan="3"> @Model.Address </td>
                </tr>
                <tr>
                    <td colspan="4"><em><b>Vui lòng chọn phòng bên dưới để sử dụng cho đợt thi</b></em></td>
                </tr>


              
            </table>
            <table id="tableroom" class="table table-hover">
                <tr>
                    <td></td>
                    <td>STT</td>
                    <td>Tên Phòng</td>
                    <td>Tổng Số Chỗ</td>
                </tr>
                @{
                    int counter = 1;

                    foreach (var item in ViewData["rooms"] as IEnumerable<Room>)
                    {
                           
                    <tr>
                        <td>
                            <input class="roomid"   type="checkbox" name ="charityexamid" value="@item.RoomID" />
                        </td>
                        <td>@counter</td>
                        <td>@item.RoomName</td>
                        <td>@item.TotalSlots</td>
                    </tr>
                        ++counter;
                    }
                }
                 @* <tr>
                    <td colspan="4">
                        <input type="button" class="btn btn-info" onclick="history.go(-1);" value="Quay lại" />
                        <input type="submit" value="Chọn" class="btn btn-info" id="saveall" />
                        <input type="reset" value="Làm lại" class="btn btn-info" />
                    </td>
                </tr>*@
            </table>
        </div>
    </div>
     <div style="float: right">
        @*<button type="submit" value="Chọn" class="btn" ><i class="icon-pencil"></i>&nbsp;Chọn</button>
        <input type="submit" value="Chọn" class="btn-u btn-u-default" id="saveall" />
        <input type="reset" value="Làm lại" class="btn-u btn-u-purple" />*@

           @*<button type="reset" class="btn-u btn-u-purple" ><i class="icon-eraser"></i>&nbsp;Làm lại</button>*@
            <button type="submit" class="btn-u btn-u-sea" id="saveall"><i class="icon-save">&nbsp;Lưu</i></button>
            <button type="button" class="btn-u btn-u-red" onclick="location.href ='/Charity/ManageLodgeCharity/'"><i class="icon-remove-circle"></i>&nbsp;Hủy</button>

    </div>
</div>



