@using TSMT.Models
@model TSMT.Models.Car
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

@using (Html.BeginForm("AssignCarCE", "Charity", FormMethod.Post))
{
    <div class="col-md-7">
        <div class="panel panel-orange margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list"></i>&nbsp;Sử dụng xe cho kỳ thi</h3>
            </div>
            <div class="panel-body">
                <input type="hidden" name="carId" value="@Model.CarID"/>
                <table class="table">
                    <tr>
                        <td style="vertical-align: middle">Kì thi</td>
                        <td>
                            <select name="CharityExamID" class="form-control">
                                <option value="0" selected>---</option>
                                @foreach (var item in ViewData["CharityExam"] as IEnumerable<ChairitiesExam>)
                                {
                                    if (Model.CharityExamID == item.CharityExamID)
                                    {
                                    <option value="@item.CharityExamID" selected>@item.Examination.Name</option>
                                    }
                                    else
                                    {
                                    <option value="@item.CharityExamID">@item.Examination.Name</option> 
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="float: right">
            <button type="submit" class="btn-u btn-u-default"><i class="icon-plus">&nbsp;Sử dụng</i></button>
            <button type="reset" class="btn-u btn-u-purpose"><i class="icon-eraser"></i>&nbsp;Làm lại</button>
        </div>
        <button type="button" onclick="location.href ='/Charity/ManageCarCharity/'" class="btn-u btn-u-sea"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</button>
    </div>
}