@using TSMT.Models
@model TSMT.Models.Car

@{
    ViewBag.Title = "DetailsCarCharity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

<h2 class="title_of_page">Details Car</h2>
<div class="inner-page-content inner-testimonial">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <!-- Testimonial item -->
                <div class="testimonial-item">
                    <!-- User Image -->
                    <img src="/Content/img/user-big.jpg" style="max-width: 60px" class="img-responsive img-thumbnail img-circle" alt="" />
                    <!-- User name and designation -->


                    <h4>Biển Số : @Model.NumberPlate</h4>
                    <!-- User comments -->
                    <blockquote>
                        <div class="f-caption">
                            <h5>Tổng Số Chỗ Ngồi : @Model.TotalSlots</h5>
                            <h5>Số Chỗ Ngồi Còn Trống : @Model.AvailableSlots</h5>
                            <h5>Tài Xế : @Model.DriverName</h5>
                            <h5>Số Điện Thoại : @Model.DriverPhone</h5>
                            <!-- Paragraph -->
                            @if (Model.SponsorID != null)
                            {
                                <p>Xe được tài trợ bởi nhà tài trợ @ViewData["sponsor"]</p>
                            }


                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Quay lại", "ManageCarCharity", "", new { @class = "btn btn-info" })
</div>
