@using TSMT.Models
@model TSMT.Models.Lodge
@{
    //ViewBag.Title = "DetailsLodge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_CharitySidebarPartial")
<script>
    $(document).ready(function () {
        $('.popup-confirm').addClass("popup-remove");
    });
</script>

<h2 class="title_of_page">Chi tiết nhà trọ và quản lý phòng</h2>

<table>
    <tr>
        <td>Address</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Sponsor</td>
        <td>@Model.SponsorID</td>
    </tr>
    <tr>
        <td>Tổng số phòng</td>
        <td>@Model.Rooms.Count(r => r.CharityExamID != null)</td>
    </tr>
    <tr>
        <td>Tổng số chỗ trọ</td>
        <td>@Model.TotalSlotsInUsed</td>
    </tr>
    <tr>
        <td>Số chỗ còn trống</td>
        <td>@Model.AvailableSlots</td>
    </tr>
</table>

@*<div class="service-one">
    <div class="service-one-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="s-one-item sitem-one">
                        <i class="icon-gear"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Room", "ManageRoom", new { lodgeId = @Model.LodgeID })</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên phòng</th>
                <th>Tổng số chỗ</th>
                <th>Số chỗ còn trống</th>
                @*<th>Actions</th>*@
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                foreach (var item in ViewData["rooms"] as IEnumerable<Room>)
                {
                    <tr id ="@item.RoomID">
                        <td>@counter</td>
                        <td>@item.RoomName</td>
                        <td>@item.TotalSlots</td>
                        <td>@item.AvailableSlots</td>
@*                        <td>
                            
                            @Html.ActionLink("Edit", "EditRoom", new { roomId = @item.RoomID })
                            @Html.ActionLink("Delete", "DeleteRoom", new { id = @item.RoomID }, new { onclick="return showPopup('Are you sure to delete it?', this.href," + @item.RoomID + ", 'del' );" })
                        </td>*@
                    </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
</div>
@*@Html.ActionLink("Tạo phòng", "AddRoom", new { lodgeId = Model.LodgeID }, new { @class = "btn btn-info" })*@
@Html.ActionLink("Trở về", "ManageLodge", new { ceId = @Model.CharityExamID }, new { @class = "btn btn-info" })

<script>
    //function DeleteConfirm() {
    //    if (confirm("Bạn chắc chắn muốn xóa ?"))
    //        return true;
    //    else
    //        return false;
    //}

    function callAjaxDelete(roomId) {


        $.ajax({
            url: 'DeleteRoom/' + roomId,
            type: 'GET',
            success: function (results) {
                $("#" + roomId).hide(800, function () {
                    $("#" + roomId).remove();
                });

            }
        });
    }

</script>