@model TSMT.Models.ChairitiesExam

@{
    ViewBag.Title = "Thông tin của tổ chức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-10">
        <div class="container">
            <h1 class="pull-left">Thông tin hỗ trợ @Model.Examination.Name của @Model.Charity.Name </h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                @*<li class="active">@Model.Examination.Name</li>*@
                <li class="active">Đợt thi</li>
            </ul>
        </div>
    </div>
}

@Html.Partial("_CharitySidebarPartial")

<div class="col-md-9">
    <div class="headline">
        <h3>Trang quản lý tổ chức từ thiện @Model.Charity.Name - @Model.Examination.Name</h3>
    </div>
    
    <div class="row">
        <div class="row servive-block margin-bottom-10">
            <a href="@Url.Action("ManageVolunteer", "Charity", new { id = @Model.CharityExamID })">
                <div class="col-md-4 col-sm-6">
                    <div class="servive-block-in servive-block-colored servive-block-green">
                        <h4>Quản lý
                        <br />
                            Tình nguyện viên</h4>
                        <div><i class="fa fa-user"></i></div>
                      @*  <p>HDSD</p>*@
                    </div>
                </div>
            </a>
            <a href="@Url.Action("ManageCandidate", "Charity", new { id = @Model.CharityExamID })">
                <div class="col-md-3 col-sm-6">
                    <div class="servive-block-in servive-block-colored servive-block-blue">
                        <h4>Quản lý
                        <br />
                            Thí sinh</h4>
                        <div><i class="fa fa-users"></i></div>
                       @* <p>HDSD</p>*@
                    </div>
                </div>
            </a>
        </div>
        <div class="row servive-block margin-bottom-10">
             <a href="@Url.Action("ManageFunds", "Charity", new { id = @Model.CharityExamID })">
                <div class="col-md-4 col-sm-6">
                    <div class="servive-block-in servive-block-colored servive-block-yellow">
                        <h4>Quản lý
                        <br />
                            Tiền được tài trợ</h4>
                        <div><i class="fa fa-money"></i></div>
                       @* <p>HDSD</p>*@
                    </div>
                </div>
            </a>
            <a href="@Url.Action("ManageLodge", "Charity", new { id = @Model.CharityExamID })">
                <div class="col-md-3 col-sm-6">
                    <div class="servive-block-in servive-block-colored servive-block-red">
                        <h4>Quản lý
                        <br />
                            Chỗ trọ</h4>
                        <div><i class="fa fa-building-o"></i></div>
                        @*<p>HDSD</p>*@
                    </div>

                </div>
            </a>

            <a href="@Url.Action("ManageCar", "Charity", new { id = @Model.CharityExamID })">
                <div class="col-md-3 col-sm-6">
                    <div class="servive-block-in servive-block-colored servive-block-orange">
                        <h4>Quản lý
                        <br />
                            Xe</h4>
                        <div><i class="fa fa-car"></i></div>
                        @*<p>HDSD</p>*@
                    </div>

                </div>
            </a>

           
        </div>
        <button type="button" onclick="location.href ='/Charity/ManageCharityExam/'" class="btn-u  btn-u-default"><i class="fa fa-chevron-circle-left"></i>&nbsp;Quay lại</button>
    </div>
</div>
