@using TSMT.Models
@model TSMT.Models.ChairitiesExam
@{
    ViewBag.Title = "Chỉnh sửa tổ chức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_CharitySidebarPartial")
<h2 class="title_of_page">Chỉnh sửa tổ chức của kì thi</h2>
@using (Html.BeginForm("EditCharityExam", "Charity", FormMethod.Post))
{
    <input type="hidden" name="ceId" value="@Model.CharityExamID"/>
    <table>
        <tr>
            <td>Kỳ thi</td>
            <td>
                <select name="ExamId">
                    @foreach (var item in ViewData["exams"] as IEnumerable<Examination>)
                    {
                        if (item.ExaminationID == Model.ExamID)
                        {     
                        <option value="@item.ExaminationID" selected>@item.Name</option>
                        }
                        else
                        {
                        <option value="@item.ExaminationID">@item.Name</option>
                        }
                    }
                </select></td>
        </tr>
        @*<tr>
            <td>Khu vực</td>
            <td>
                <select name="DistrictId">
                    @foreach (var item in ViewData["districts"] as IEnumerable<District>)
                    {
                        if (item.DistrictID == Model.Charity.Account.Profile.DistrictID)
                        {
                        <option value="@item.DistrictID" selected>@item.Name</option>
                        }
                        else
                        {
                        <option value="@item.DistrictID">@item.Name</option>
                        }
                    }
                </select></td>
        </tr>*@
        <tr>
            <td colspan="2">
                <input type="submit" value="Sửa" class="btn btn-info" />
                <input type="reset" value="Làm lại" class="btn btn-info" />
                <button class="btn btn-info" onclick="window.history.back(-1);">Quay lại</button>
            </td>
        </tr>
    </table>
}