@using TSMT.Models
@model TSMT.Models.ChairitiesExam

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('.popup-confirm').addClass("popup-remove");
    });
</script>
<h2 class="title_of_page">Manage Funds of Charity Exam</h2>
<div class="inner-page-content inner-careers">
    <table class="table table-hover table-bordered ">
        <thead>
            
            Tổng số tiền được tài trợ : @ViewData["totalfunds"] VND
            <tr>
                <th>STT</th>
                <th>Sponsor</th>
                <th>Số tiền được tài trợ</th>
                <th>Phương thức tài trợ</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                foreach (var item in ViewData["Funds"] as IEnumerable<Fund>)
                {
                <tr id ="@item.FundID">
                    <td>@counter</td>
                    <td>
                        @if (item.SponsorID != null)
                        {
                            @item.Sponsor.Account.Profile.Lastname @item.Sponsor.Account.Profile.Firstname
                        }
                    </td>
                    <td>@item.FundSponsored.ToString("##,###") VND</td>
                    
                        @if (item.IsOnlineFunding)
                        {
                            <td>Chuyển giao qua internet</td>
                        }
                        else
                        {
                            <td>Chuyển giao tận tay</td>
                        }
                   @if (item.IsApproved)
                   {
                       <td><span class="label label-success">Đã nhận</span></td>
                       <td></td>
                   }
                   else if (!item.IsApproved)
                   {
                       <td><span class="label label-danger">Chưa nhận</span></td>
                        <td>                          
                            @Html.ActionLink("Approve", "ApproveFunds", new { id = @item.FundID }, new { onclick = "return callAjaxApprove(" + @item.FundID + ")" })
                            @Html.ActionLink("Denie", "DenieFund", new { id = @item.FundSponsored }, new { onclick = "return showPopup('Are you sure to denie it?', this.href," + @item.FundID + ", 'remove' );" })
                            

                        </td>
                   }

                </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>
</div>
@Html.ActionLink("Back to Manage CE", "DetailsCharityExam", new { ceId = @ViewData["ceId"] }, new { @class = "btn btn-info" })
<script>
    function callAjaxApprove(fundId) {
        $.ajax({
            url: 'ApproveFunds/' + fundId,
            type: 'GET',
            success: function (results) {
                var tr = document.getElementById(fundId);
                var lastTd = tr.lastElementChild;
                var preLastTd = lastTd.previousElementSibling;

                lastTd.removeChild(lastTd.lastElementChild);
                lastTd.removeChild(lastTd.lastElementChild);

                //lastTd.lastElementChild.style.display = "inline";

                var spanStatus = preLastTd.lastElementChild;
                spanStatus.textContent = "Đã nhận";
                spanStatus.className = "label label-success";
            }
        });
        return false;
    }


    function callAjaxDenie(fundId) {


        $.ajax({
            url: 'DenieFund/' + fundId,
            type: 'GET',
            success: function (results) {
                $("#" + fundId).hide(800, function () {
                    $("#" + fundId).remove();
                });
            }
        });
        return false;
    }
</script>