@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quản lý tình nguyện viên";
}


@using TSMT.Models
@model IEnumerable<ParticipantVolunteer>


<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script type="text/javascript" src="~/Content/js/TSMTPopup.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.popup-confirm').addClass("popup-remove");
    });
</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-10">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @ViewData["ceId"] })">Đợt thi</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")
<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>&nbsp;Danh sách tình nguyện viên đăng ký tham gia hỗ trợ 
                @*<a href="@Url.Action("ChooseCarForCe", "Charity", new { id = Model.CharityExamID })" class="btn-u btn-u-green"><i class="icon-plus"></i>Chọn xe cho đợt thi</a>*@
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tình nguyện viên</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;

                        foreach (var item in Model)
                        {
                        <tr id="@item.ParticipantVolunteerID">
                            <td style="vertical-align:middle">@counter</td>
                            <td style="vertical-align:middle">@item.Volunteer.Account.Profile.Lastname @item.Volunteer.Account.Profile.Firstname</td>
                            <td style="vertical-align:middle">@item.Volunteer.Account.Profile.PhoneNumber</td>
                            @if (@item.IsApproved)
                            {
                                <td style="vertical-align:middle"><span class="label label-success">Đã duyệt</span></td>
                                <td style="vertical-align:middle">
                                  @*  @Html.ActionLink("Details", "DetailsVolunteer", new { id = @item.ParticipantVolunteerID })
                                    @Html.ActionLink("Remove", "RemoveVolunteer", new { id = @item.ParticipantVolunteerID }, new { onclick = "return showPopup('Bạn có chắc muốn loại tình nguyện viên này?', this.href," + @item.ParticipantVolunteerID + ", 'del' );" })
                                  *@ @* <a href="@Url.Action("DetailsVolunteer", "Charity", new { id = @item.ParticipantVolunteerID })" title="Xem chi tiết" class="btn-u btn-u-violet" style="width:40px;height:30px" ><i class="icon-eye-open"></i></a>*@
                                    <a href="@Url.Action("RemoveVolunteer", "Charity", new { id = @item.ParticipantVolunteerID })" onclick = "return showPopup('Bạn có chắc muốn loại tình nguyện viên này?', this.href, @item.ParticipantVolunteerID , 'del' );"  title="Loại tình nguyện viên này" class="btn-u btn-u-red"><i class="icon-remove-sign"></i></a>
                                </td>
                            }
                            else
                            {
                                <td style="vertical-align:middle"><span class="label label-danger">Chưa duyệt</span></td>
                                <td style="vertical-align:middle">
                                    @* @Html.ActionLink("Details", "DetailsVolunteer", new { id = @item.ParticipantVolunteerID })
                                @Html.ActionLink("Remove", "RemoveVolunteer", new { id = @item.ParticipantVolunteerID }, 
                                new { style = "display: none", onclick = "return showPopup('Are you sure to delete it?', this.href," + @item.ParticipantVolunteerID + ", 'del' );" })
                                @Html.ActionLink("Approve", "ApproveVolunteer", new { id = @item.ParticipantVolunteerID }, new { onclick = "return callAjaxApprove(" + @item.ParticipantVolunteerID + ")" })
                                @Html.ActionLink("Denie", "DenieVolunteer", new { id = @item.ParticipantVolunteerID }, new { onclick = "return showPopup('Are you sure to delete it?', this.href," + @item.ParticipantVolunteerID + ", 'remove' );" })*@
                                   
                                    <a href="@Url.Action("RemoveVolunteer","Charity", new { id = @item.ParticipantVolunteerID })" style = "display: none" onclick = "return showPopup('Are you sure to delete it?', this.href,'+ @item.ParticipantVolunteerID +', 'del' );" class="btn-u"><i class=""></i></a> 
                                    <a href="@Url.Action("ApproveVolunteer","Charity", new { id = @item.ParticipantVolunteerID })"  title="Nhận tình nguyện viên này" onclick = "return callAjaxApprove(@item.ParticipantVolunteerID)"  class="btn-u btn-u-green"><i class="icon-heart"></i></a> 
                                    <a href="@Url.Action("DenieVolunteer","Charity", new { id = @item.ParticipantVolunteerID })"  title="Từ chối tình nguyện viên này"  onclick = "return showPopup('Bạn có chắc muốn từ chối tình nguyện viên này?', this.href,'@item.ParticipantVolunteerID' , 'remove');"  class="btn-u btn-u-red"><i class="icon-trash"></i></a> 

                                </td>
                            }

                        </tr>
                            ++counter;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*@Html.ActionLink("Back to Manage CE", "DetailsCharityExam", new { ceId = @ViewData["ceId"] }, new { @class = "btn btn-info" })*@
    <a href="@Url.Action("DetailsCharityExam","Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-default"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</a> 
</div>


@* <script type="text/javascript">
        /* INITIALIZATION */
        function fetchData() {
        @{ 
            int i = 0;
            foreach (var item in Model)
            {
        <text>
            a.push({ id: @i, voName: "@item.Account.Profile.Lastname @item.Account.Profile.Firstname", job: "@item.JobName", Description: "@item.Description"});
        </text>
            }
        }
            recordPerPage = a.length;
            loadNavigator();
            goToPage(1);
        }

        function goToPage(pageIndex) {
            var t = $("tbody");
            $(t).empty();

            if (pageIndex < 1) {
                t.append("<tr><td colspan='5'>< Empty ></td></tr>");
                return true;
            }

            var fromIndex = (pageIndex - 1) * recordPerPage;
            var toIndex = pageIndex * recordPerPage;
            if (toIndex > a.length) { toIndex = a.length }
            var tmp;

            for (var i = fromIndex; i < toIndex; ++i) {
                tmp = "<tr id='tr" + a[i].id + "'><td style="vertical-align:middle">" + (i + 1);
                tmp += "</td><td>" + a[i].voName;
                tmp += "</td><td>" + a[i].job;
                tmp += "</td><td>" + a[i].Description;
                tmp += "</td><td><button onclick='deleteData(" + a[i].id + ")'>Delete</button>";
                tmp += "</td></tr>";
                t.append(tmp);
            }

            $("#page" + currentPageIndex).removeClass("pageActive");
            currentPageIndex = pageIndex;
            $("#page" + currentPageIndex).addClass("pageActive");

            currentPageIndex == 1 ? $("#previousPage").hide() : $("#previousPage").show();
            currentPageIndex == numberOfPage ? $("#nextPage").hide() : $("#nextPage").show();
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            fetchData();
        });
    </script>
    <div class="inner-page-content inner-careers">
        <table border="1px" align="center">
            <thead>
                <tr>
                    <th>#</th>
                    <th onclick="sortBy('voName', this)" class="order orderDes orderHidden">Tên sinh viên</th>
                    <th onclick="sortBy('job', this)" class="order orderDes orderHidden">Công việc</th>
                    <th>Thông tin cá nhân</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td id="tfoot" colspan="5"></td>
                </tr>
            </tfoot>
        </table>
    </div>*@


<script type="text/javascript">
    //function DeleteConfirm(type="text/javascript) {
    //    if (confirm("Bạn chắc chắn muốn xóa ?"))
    //        return true;
    //    else
    //        return false;

    function callAjaxApprove(voId) {
        $.ajax({
            url: '/Charity/ApproveVolunteer/' + voId,
            type: 'POST',
            success: function (results) {
                var tr = document.getElementById(voId);
                var lastTd = tr.lastElementChild;
                var preLastTd = lastTd.previousElementSibling;

                lastTd.removeChild(lastTd.lastElementChild);
                lastTd.removeChild(lastTd.lastElementChild);

                lastTd.lastElementChild.style.display = "inline";

                var spanStatus = preLastTd.lastElementChild;
                spanStatus.textContent = "Đã duyệt";
                spanStatus.className = "label label-success";
            }
        });
        return false;
    }

    function callAjaxDelete(voId) {
        $.ajax({
            url: '/Charity/RemoveVolunteer/' + voId,
            type: 'GET',
            success: function (results) {
                $("#" + voId).hide(800, function () {
                    $("#" + voId).remove();
                });

            }
        });
        return false;
    }

    function callAjaxDenie(voId) {
        $.ajax({
            url: '/Charity/DenieVolunteer/' + voId,
            type: 'POST',
            success: function (results) {
                $("#" + voId).hide(800, function () {
                    $("#" + voId).remove();
                });
            }
        });
        return false;
    }


</script>
