@using TSMT.Models
@model TSMT.Models.ChairitiesExam

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quản lý tiền được tài trợ";
    ViewBag.Active = "ManageFundsCharity";
}


<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script src="~/Content/js/TSMTPopup.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-confirm').addClass("popup-remove");
    });
</script>




@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li><a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @ViewData["ceId"] })">Đợt thi</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Thông tin về số tiền được tài trợ
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered ">
                <thead>
                    <tr>
                        <th colspan="6">Tổng số tiền được tài trợ : <span style="color: red">@ViewData["totalfunds"] VND</span></th>
                    </tr>
                    <tr>
                        <th>STT</th>
                        <th>Nhà từ thiện</th>
                        <th>Số tiền được tài trợ</th>
                        <th>Phương thức tài trợ</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;

                        foreach (var item in ViewData["Funds"] as IEnumerable<Fund>)
                        {
                        <tr id ="@item.FundID">
                            <td>@counter</td>
                            <td>
                                @if (item.SponsorID != null)
                                {
                                    @item.Sponsor.Account.Profile.Lastname @item.Sponsor.Account.Profile.Firstname
                                }
                            </td>
                            <td>@item.FundSponsored.ToString("###,###,###") VND</td>
                            
                                <td>Chuyển khoản</td>
                            
                            @if (item.IsApproved)
                            {
                                <td><span class="label label-success">Đã nhận</span></td>
                                <td></td>
                            }
                            else if (!item.IsApproved)
                            {
                                <td><span class="label label-danger">Chưa nhận</span></td>
                                <td>
                                    @Html.ActionLink("Approve", "ApproveFunds", new { id = @item.FundID }, new { onclick = "return callAjaxApprove(" + @item.FundID + ")" })
                                    <a href="@Url.Action("ApproveFunds","Charity", new { id = @item.FundID })"  onclick = "return callAjaxApprove(@item.FundID)" class="btn-u btn-u-green"><i class="icon-ok-sign"></i>&nbsp;Xác nhận</a> 
                                    @Html.ActionLink("Denie", "DenieFund", new { id = @item.FundSponsored }, new { onclick = "return showPopup('Are you sure to denie it?', this.href," + @item.FundID + ", 'remove' );" })
                                </td>
                            }

                        </tr>
                            ++counter;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    @*@Html.ActionLink("Back to Manage CE", "DetailsCharityExam", new { id = @ViewData["ceId"] }, new { @class = "btn btn-info" })*@
    <a href="@Url.Action("DetailsCharityExam", "Charity", new { id = @ViewData["ceId"] })" class="btn-u btn-u-default"><i class="icon-chevron-sign-left"></i>&nbsp;Quay về</a>
</div>

<script>
    function callAjaxApprove(fundId) {
        $.ajax({
            url: 'ApproveFunds/' + fundId,
            type: 'GET',
            success: function (results) {
                var tr = document.getElementById(fundId);
                var lastTd = tr.lastElementChild;
                var preLastTd = lastTd.previousElementSibling;

                lastTd.removeChild(lastTd.lastElementChild);
                lastTd.removeChild(lastTd.lastElementChild);

                //lastTd.lastElementChild.style.display = "inline";

                var spanStatus = preLastTd.lastElementChild;
                spanStatus.textContent = "Đã nhận";
                spanStatus.className = "label label-success";
            }
        });
        return false;
    }


    function callAjaxDenie(fundId) {


        $.ajax({
            url: 'DenieFund/' + fundId,
            type: 'GET',
            success: function (results) {
                $("#" + fundId).hide(800, function () {
                    $("#" + fundId).remove();
                });
            }
        });
        return false;
    }
</script>
