@model IEnumerable<TSMT.Models.ChairitiesExam>

@{
    ViewBag.Title = "ManageCharityExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Charity Exam</h2>

<table>
    <tr>
        <th>
            Exam
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSlotsLodges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableSlotsLodges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSlotsVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableSlotsVehicles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Examination.Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSlotsLodges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableSlotsLodges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSlotsVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableSlotsVehicles)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create", "AddCharityExam", null, new { @class = "btn btn-info" })
</p>