@using TSMT.Models
@model TSMT.Models.Charity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "ManageLodgeCharity";
    ViewBag.Title = "Quản lý nhà trọ";
       
}

<script src="/Content/js/TSMTViewOnMap.js"></script>
<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script src="~/Content/js/TSMTPopup.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-confirm').addClass("popup-remove");
    });
</script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_CharitySidebarPartial")

<div class="col-md-9">
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i>Thông tin về nhà trọ của hội từ thiện @Model.Name
                <a href="@Url.Action("AddLodge", "Charity", new { id = @Model.CharityID })" class="btn-u btn-u-sea"><i class="icon-plus"></i>&nbsp;Tạo mới</a>
                @* <a href="@Url.Action("AddCar", "Charity", new { ceId = Model.CharityExamID })" class="btn-u btn-u-green"><i class="icon-pencil"></i>Tạo mới</a>*@
            </h3>
        </div>
        <div class="panel-body">

            @* <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Nhà trọ của Hội từ thiện</a></li>
                </ul>*@
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Địa chỉ</th>
                                <th>Kì thi</th>
                                @*<th>Tên tổ chức</th>*@
                                @*<th>Tổng số phòng</th>*@
                                <th>Số phòng được sử dụng</th>
                                @*<th>Tổng số chỗ</th>*@
                                <th>Số chỗ có thể sử dụng</th>
                                @*<th>Số chỗ còn trống</th>*@
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int counter = 1;
                                foreach (var item in ViewData["lodgesOfCharity"] as IEnumerable<Lodge>)
                                {
                                <tr id="@item.LodgeID">
                                    <td>@counter</td>
                                    <td>@item.Address</td>
                                    @if (item.CharityExamID == null)
                                    {
                                        <td>
                                            <span class="label label-danger">Chưa thiết lập</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>@item.ChairitiesExam.Examination.Name</td>
                                    }
                                    @*<td>@item.TotalRooms</td>*@
                                    <td>@item.Rooms.Count(r => r.CharityExamID != null) / @item.TotalRooms</td>
                                    @*<td>@item.TotalSlots</td>
                                        <td>@item.TotalSlotsInUsed</td>
                                        <td>@item.AvailableSlots</td>*@
                                    <td>@item.AvailableSlots / @item.TotalSlotsInUsed</td>
                                    <td>
                                        @*<button class="btn-u btn-u-red"  onclick="openWindowPopup('/charity/ViewLodge/', @item.LodgeID)"><i class="icon-map-marker"></i></button>*@
                                        <a href="#"  onclick="openWindowPopup('/charity/ViewLodge/', @item.LodgeID)" class="btn-u btn-u-violetRed" title="Xem trên bản đồ" style="width:40px;height:30px"><i class="icon-map-marker"></i></a>
                                        <a href="@Url.Action("DetailsLodge", "Charity", new { id = @item.LodgeID })" class="btn-u btn-u-violet" title="Xem Chi Tiết" style="width:40px;height:30px"><i class="icon-eye-open"></i></a>
                                        <a href="@Url.Action("EditLodge", "Charity", new { id = @item.LodgeID })" class="btn-u btn-u-blue" title="Sửa Địa Chỉ"><i class="icon-edit" style="width:40px;height:30px"></i></a>
                                        <a href="@Url.Action("AssignLodgetoCe", "Charity", new { id = @item.LodgeID })" class="btn-u btn-u-brown" title="Sử dụng" style="width:40px;height:30px"><i class="icon-building"></i></a>
                                        @if (item.TotalSlotsInUsed == item.AvailableSlots)
                                        { 
                                            <a href="@Url.Action("DeleteLodge", "Charity", new { id = @item.LodgeID })" class="btn-u btn-u-red" title="Xóa nhà trọ này" style="width:40px;height:30px" onclick = "return showPopup('Bạn có chắc chắn muốn xóa địa điểm trọ này không?', this.href, @item.LodgeID , 'del' );"><i class="icon-remove-sign"></i></a>
                                        }
                                    </td>
                                </tr>
                                        ++counter;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
<a href="@Url.Action("Index", "Charity")" class="btn-u btn-u-default"><i class="icon-chevron-sign-left"></i>&nbsp;Quay lại</a>
</div>

<script type="text/javascript">
    function callAjaxApprove(lodgeId) {
        $.ajax({
            url: '/Charity/ApproveLodge/' + lodgeId,
            type: 'GET',
            success: function (results) {
                var tr = document.getElementById(lodgeId);
                var lastTd = tr.lastElementChild;
                var preLastTd = lastTd.previousElementSibling;

                lastTd.removeChild(lastTd.lastElementChild);
                lastTd.removeChild(lastTd.lastElementChild);

                lastTd.lastElementChild.style.display = "inline";
                var spanStatus = preLastTd.lastElementChild;
                spanStatus.textContent = "Đã duyệt";
                spanStatus.className = "label label-success";
            }
        });
        return false;
    }

    function callAjaxDelete(lodgeId) {
        $.ajax({
            url: '/Charity/DeleteLodge/' + lodgeId,
            type: 'GET',
            success: function (results) {
                $("#" + lodgeId).hide(800, function () {
                    $("#" + lodgeId).remove();
                });
            }
        });
        return false;
    }

    function callAjaxDenie(lodgeId) {
        $.ajax({
            url: 'DenieLodge/' + lodgeId,
            type: 'GET',
            success: function (results) {
                $("#" + lodgeId).hide(800, function () {
                    $("#" + lodgeId).remove();
                });
            }
        });
        return false;
    }

    function callAjaxRemove(carId) {
        $.ajax({
            url: '/Charity/RemoveLodge/' + carId,
            type: 'GET',
            success: function (results) {
                $("#" + carId).hide(800, function () {
                    $("#" + carId).remove();
                });
            }
        });
        return false;
    }
</script>
