@{
    ViewBag.Title = "ManualAssignToCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.Ajax.Utilities
@using TSMT.Models


@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Charity")">Hội từ thiện</a></li>

                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}

<h2>ManualAssign</h2>
<select id="capaCarA" style="display: none">
    <option></option>
    @foreach (var item in ViewData["listCar"] as IEnumerable<Car>)
    {
        <option value="@item.AvailableSlots">@item.AvailableSlots</option>
    }
</select>
<select id="capaCarB" style="display: none">
    <option></option>
    @foreach (var item in ViewData["listCar"] as IEnumerable<Car>)
    {
        <option value="@item.AvailableSlots">@item.AvailableSlots</option>
    }
</select>
<script>
    function callAjax(id, cbbId, capaId, cbbVo, carA, carB) {
        if (document.getElementById(carA).selectedIndex != 0 && document.getElementById(carB).selectedIndex != 0 && document.getElementById(carB).selectedIndex == document.getElementById(carA).selectedIndex) {
            alert("Xe này đã được chọn, hãy chọn xe khác");
            document.getElementById(carA).selectedIndex = 0;
        } else {
            document.getElementById(cbbVo).selectedIndex = 0;
            $.ajax({
                url: 'ResultAjaxCar',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#" + cbbId).html("");
                    var r;
                    for (i in results) {
                        r = results[i];
                        $("#" + cbbId).append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");
                    }

                }
            });
        }
    }

    function callAjaxLodge(id, cbbRoomA, cbbRoomB, capA, capB) {
        $("#cbbCandidate").html("");
        $("#listboxCandidate2").html("");
        $("#listboxCandidate1").html("");
        if (document.getElementById("cbbLodge").selectedIndex == 0) {
            $("#cbbCandidate").html("");
        }
        $.ajax({
            url: 'ResultAjaxLodgeCandidate',
            data: { "id": id },
            type: 'GET',
            success: function (results) {
                $("#cbbCandidate").html("");
                var r;
                for (i in results) {
                    r = results[i];
                    $("#cbbCandidate").append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");
                }
            }
        });
        $.ajax({
            url: 'ResultAjaxLodgeRoom',
            data: { "id": id },
            type: 'GET',
            success: function (results) {
                $("#" + cbbRoomA).html("");
                $("#" + cbbRoomB).html("");
                $("#" + capA).html("");
                $("#" + capB).html("");
                var r;
                $("#" + cbbRoomA).append("<option value=\"" + 0 + "\">" + "Chọn phòng" + "</option>");
                $("#" + cbbRoomB).append("<option value=\"" + 0 + "\">" + "Chọn phòng" + "</option>");
                $("#" + capA).append("<option value=\"" + 0 + "\">" + "Chọn phòng" + "</option>");
                $("#" + capB).append("<option value=\"" + 0 + "\">" + "Chọn phòng" + "</option>");
                for (i in results) {
                    r = results[i];
                    $("#" + cbbRoomA).append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");
                    $("#" + cbbRoomB).append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");
                    $("#" + capA).append("<option value=\"" + r.capacity + "\">" + r.capacity + "</option>");
                    $("#" + capB).append("<option value=\"" + r.capacity + "\">" + r.capacity + "</option>");
                }
            }
        });

    }

    function callAjaxVolunteer(id, cbbId, cbbCar, voA, voB, quantity) {
        if (document.getElementById(voA).selectedIndex != 0 && document.getElementById(voB).selectedIndex != 0 && document.getElementById(voB).selectedIndex == document.getElementById(voA).selectedIndex) {
            document.getElementById(quantity).textContent = null;
            alert("Tinh nguyện viên này đã được chọn, hãy chọn người khác");
            document.getElementById(voA).selectedIndex = 0;

        } else {
            document.getElementById(quantity).textContent = null;
            $("#" + cbbId).empty();
            document.getElementById(cbbCar).selectedIndex = 0;
            $.ajax({
                url: 'ResultAjaxVolunteer',
                data: { "id": id },
                type: 'GET',
                success: function (results) {
                    $("#" + cbbId).html("");
                    var r;
                    for (i in results) {
                        r = results[i];
                        $("#" + cbbId).append("<option value=\"" + r.value + "\">" + r["name"] + "</option>");
                    }

                }
            });
        }
    }

    function callAjaxCapacity(spanid, capaId, candidate, remain) {
        $("#" + spanid).empty();
        $("#" + spanid).append(document.getElementById(capaId).value);
        //if (document.getElementById(candidate).length == 0) {
        //    $("#" + remain).empty();
        //}
        //else {
        //    var length = getElementById(candidate).length;
        //    var capcity = parseInt(document.getElementById(capaId).value);
        //    $("#" + remain).empty();
        //    $("#" + remain).append(capcity - length);
        //}
    }


    function AddRemoveA(fromSourceId, toSourceId, capacity, cbbcar, cbbvolunteer) {
        //if (document.getElementById("cbbCarLeft").value == document.getElementById("cbbCarRight").value) {
        //    alert("Chọn 2 phòng khác nhau để xếp thí sinh");
        //} else
        //if (document.getElementById("cbbCarRight").selectedIndex == 0) {
        //    alert("Chọn phòng bên phải để xếp thí sinh");
        //}
        //else {
        var car = document.getElementById(cbbcar);
        var volunteer = document.getElementById(cbbvolunteer);
        var length = document.getElementById(toSourceId).length;
        var capcity = parseInt($("#" + capacity).val());
        if (car.selectedIndex == 0 && volunteer.selectedIndex != 0) {
            if ($('#' + fromSourceId + ' :selected').length <= 1 && document.getElementById(toSourceId).length == 0) {
                var srcCaFrom = $("#" + fromSourceId)[0];
                var srcVoTo = $("#" + toSourceId)[0];
                $('#' + fromSourceId + ' :selected').each(function (i, item) {
                    srcVoTo.appendChild(item);
                });
            } else {
                alert("Tình nguyện viên chỉ có thể chở 1 người");
            }
        }
        else
        if (car.selectedIndex == 0 && volunteer.selectedIndex == 0) {
            alert("Chọn 1 xe hoặc 1 tình nguyện viên");
        }
        else
        if ($('#' + fromSourceId + ' :selected').length <= capcity - length) {
            var srcFrom = $("#" + fromSourceId)[0];
            var srcTo = $("#" + toSourceId)[0];
            $('#' + fromSourceId + ' :selected').each(function (i, item) {
                srcTo.appendChild(item);
            });
        } else {
            alert("Xe đã đủ thí sinh không thể xếp thêm");
        }
        //}
    }

    function AddRemoveB(fromSourceId, toSourceId) {
        //if (document.getElementById("cbbCarLeft").value == document.getElementById("cbbCarRight").value) {
        //    alert("Chọn 2 phòng khác nhau để xếp thí sinh");
        //} else 
        //if (document.getElementById("cbbCarLeft").selectedIndex == 0) {
        //    alert("Chọn phòng bên trái để xếp thí sinh");
        //}
        //else {
        //var lengthA = document.getElementById("listboxCandidate1").length;
        //var capcityA = parseInt($("#capaCarA").val());
        //if ($('#' + fromSourceId + ' :selected').length <= capcityA - lengthA) {
        var srcFrom = $("#" + fromSourceId)[0];
        var srcTo = $("#" + toSourceId)[0];
        $('#' + fromSourceId + ' :selected').each(function (i, item) {
            srcTo.appendChild(item);
        });
        //} else {
        //    alert("Phòng đã đủ thí sinh không thể xếp thêm");
        //}
        // }
    }


    function saveListCandidate() {
        var voRight = document.getElementById("cbbVoRight");
        var voLeft = document.getElementById("cbbVoLeft");
        var carRight = document.getElementById("cbbCarRight");
        var carLeft = document.getElementById("cbbCarLeft");
        var listCarA = document.getElementById("listboxCandidate1");
        var listCarB = document.getElementById("listboxCandidate2");
        var listCandidate = document.getElementById("cbbCandidate");
        var caId;
        var carId;
        var carIdA = $("#cbbCarLeft").val();
        var carIdB = $("#cbbCarRight").val();
        var voIdA = $("#cbbVoLeft").val();
        var voIdB = $("#cbbVoRight").val();
        var voId;
        if (listCandidate.length != 0) {
            for (var c = 0; c < listCandidate.length; c++) {
                caId = listCandidate[c].value;
                carId = 0;
                voId = 0;
                $.ajax({
                    url: 'EditAssignCar',
                    data: { "caId": caId, "carId": carId, "voId": voId },
                    type: 'Post',
                });
            }
        }
        if (listCarB.length != 0 && listCarA.length != 0) {
            for (var i = 0; i < listCarA.length; i++) {
                if (voLeft.selectedIndex == 0 && carLeft.selectedIndex != 0) {
                    voId = 0;
                    carId = carIdA;
                } else {
                    carId = 0;
                    voId = voIdA;
                }
                caId = document.getElementById("listboxCandidate1")[i].value;
                $.ajax({
                    url: 'EditAssignCar',
                    data: { "caId": caId, "carId": carId, "voId": voId },
                    type: 'Post',
                });
            }

            for (var x = 0; x < listCarB.length; x++) {
                if (voRight.selectedIndex == 0 && carRight.selectedIndex != 0) {
                    voId = 0;
                    carId = carIdB;
                } else {
                    carId = 0;
                    voId = voIdB;
                }
                caId = document.getElementById("listboxCandidate2")[x].value;
                $.ajax({
                    url: 'EditAssignCar',
                    data: { "caId": caId, "carId": carId, "voId": voId },
                    type: 'Post',
                });
            }
        }

        if (listCarA.length == 0) {
            for (var a = 0; a < listCarB.length; a++) {
                caId = document.getElementById("listboxCandidate2")[a].value;
                if (voRight.selectedIndex == 0 && carRight.selectedIndex != 0) {
                    voId = 0;
                    carId = carIdB;
                } else {
                    carId = 0;
                    voId = voIdB;
                }

                $.ajax({
                    url: 'EditAssignCar',
                    data: { "caId": caId, "carId": carId, "voId": voId },
                    type: 'Post',
                });
            }
            //alert("Lưu thành công");
        }
        if (listCarB.length == 0) {
            for (var b = 0; b < listCarA.length; b++) {
                caId = document.getElementById("listboxCandidate1")[b].value;
                if (voLeft.selectedIndex == 0 && carLeft.selectedIndex != 0) {
                    voId = 0;
                    carId = carIdA;
                } else {
                    carId = 0;
                    voId = voIdA;
                }
                $.ajax({
                    url: 'EditAssignCar',
                    data: { "caId": caId, "carId": carId, "voId": voId },
                    type: 'Post',
                });
            }
            //alert("Lưu thành công");
        }
        alert("Lưu thành công");
    }

    function syncChange(id) {
        if (document.getElementById("cbbCarLeft").selectedIndex == 0) {
            $('#listboxCandidate1').empty();
        }
        if (document.getElementById("cbbCarRight").selectedIndex == 0) {
            $('#listboxCandidate2').empty();
        }
        var selected = document.getElementById(id).selectedIndex;
        var select1 = document.getElementById("capaCarA");
        var select2 = document.getElementById("capaCarB");
        if (id == "cbbCarLeft") {
            for (var i = 0; i < select1.options.length; i++) {
                if (select1.options[i].index == selected) {
                    select1.options[i].selected = true;
                }
            }
        } else {
            for (var j = 0; j < select2.options.length; j++) {
                if (select2.options[j].index == selected) {
                    select2.options[j].selected = true;
                }
            }
        }

    }
</script>

<div class="col-md-9">
    <div class="row margin-bottom-10">
        <div class="col-md-5">
            <label>Thí sinh chưa xếp xe</label>
            <select id="cbbCandidate" onchange="" multiple="multiple" size="5" style="width: 300px; height: 500px">
                @foreach (var item in ViewData["listCandidate"] as IEnumerable<ExaminationsPaper>)
                {
                    <option value="@item.CandidateID">@item.Candidate.Account.Profile.Lastname</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <div style="padding-bottom: 15px; padding-top: 70px">
                <input type="button" id="btnB" onclick="AddRemoveA('cbbCandidate', 'listboxCandidate1', 'capaCarA', 'cbbCarLeft', 'cbbVoLeft');" value=">>>>>" />
            </div>
            <div style="padding-bottom: 15px">
                <input type="button" id="btnA" onclick="AddRemoveB('listboxCandidate1', 'cbbCandidate');" value="<<<<<" />
            </div>
            <div style="padding-bottom: 15px; padding-top: 200px">
                <input type="button" id="btnE" onclick="AddRemoveB('listboxCandidate2', 'cbbCandidate');" value="<<<<<" />
            </div>
            <div style="padding-bottom: 15px">
                <input type="button" id="btnF" onclick="AddRemoveA('cbbCandidate', 'listboxCandidate2', 'capaCarB', 'cbbCarRight', 'cbbVoRight');" value=">>>>>" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="view view-tenth">
                <select id="cbbCarLeft" onchange=" callAjax(this.value, 'listboxCandidate1','capaCarA','cbbVoLeft','cbbCarLeft','cbbCarRight'),syncChange('cbbCarLeft'),callAjaxCapacity('quantity1','capaCarA','listboxCandidate1','remain1');">
                <option id="index1">Chọn xe</option>
                @foreach (var item in ViewData["listCar"] as IEnumerable<Car>)
                {
                    <option value="@item.CarID">@item.NumberPlate</option>
                }
            </select>
            <span>Số chỗ ngồi:</span><span id="quantity1" style="padding-left: 3px"></span>
            <select id="cbbVoLeft" style="" onchange=" callAjaxVolunteer(this.value, 'listboxCandidate1','cbbCarLeft','cbbVoLeft','cbbVoRight','quantity1')">
                <option id="index4">Tình nguyện viên</option>
                @foreach (var item in ViewData["listVolunteer"] as IEnumerable<Volunteer>)
                {
                    <option value="@item.VolunteerID">@item.Account.Profile.Lastname</option>
                }
            </select>
                <select id="listboxCandidate1" multiple="multiple" size="5" style="width: 300px; height: 180px">
                </select>
            </div>
            <div style="padding-bottom: 15px; padding-top: 70px">
                <input type="button" id="btnC" onclick="AddRemoveA('listboxCandidate2', 'listboxCandidate1', 'capaCarA', 'cbbCarLeft', 'cbbVoLeft');" value="Lên" />
                <input type="button" id="btnD" onclick="AddRemoveA('listboxCandidate1', 'listboxCandidate2', 'capaCarB', 'cbbCarRight', 'cbbVoRight');" value="Xuống" />
            </div>
            <div class="view view-tenth">
                <select id="cbbCarRight" onchange=" callAjax(this.value, 'listboxCandidate2','capaCarB','cbbVoRight','cbbCarRight','cbbCarLeft'),syncChange('cbbCarRight'),callAjaxCapacity('quantity2','capaCarB','listboxCandidate2','remain2'); ">
                <option id="index2">Chọn xe</option>
                @foreach (var item in ViewData["listCar"] as IEnumerable<Car>)
                {
                    <option value="@item.CarID">@item.NumberPlate</option>
                }
            </select>
            <span>Số chỗ ngồi:</span><span id="quantity2" style="padding-left: 3px"></span>
            <select id="cbbVoRight" style="" onchange=" callAjaxVolunteer(this.value, 'listboxCandidate2','cbbCarRight','cbbVoRight','cbbVoLeft','quantity2')">
                <option id="index3">Tình nguyện viên</option>
                @foreach (var item in ViewData["listVolunteer"] as IEnumerable<Volunteer>)
                {
                    <option value="@item.VolunteerID">@item.Account.Profile.Lastname</option>
                }
            </select>
                <select id="listboxCandidate2" multiple="multiple" size="5" style="width: 300px; height: 180px">
                </select>
            </div>
        </div>
    </div>
     <input type="submit" value="Lưu lại" class="btn-info" onclick=" saveListCandidate()" />
</div>


@*<div class="row" style="margin-left: 35px">
    <div class="col-md-3 col-sm-6">
        <div class="view view-tenth">
            <select id="cbbCarLeft" onchange=" callAjax(this.value, 'listboxCandidate1','capaCarA','cbbVoLeft','cbbCarLeft','cbbCarRight'),syncChange('cbbCarLeft'),callAjaxCapacity('quantity1','capaCarA','listboxCandidate1','remain1');">
                <option id="index1">Chọn xe</option>
                @foreach (var item in ViewData["listCar"] as IEnumerable<Car>)
                {
                    <option value="@item.CarID">@item.NumberPlate</option>
                }
            </select>
            <span>Số chỗ ngồi:</span><span id="quantity1" style="padding-left: 3px"></span>
            <select id="cbbVoLeft" style="" onchange=" callAjaxVolunteer(this.value, 'listboxCandidate1','cbbCarLeft','cbbVoLeft','cbbVoRight','quantity1')">
                <option id="index4">Tình nguyện viên</option>
                @foreach (var item in ViewData["listVolunteer"] as IEnumerable<Volunteer>)
                {
                    <option value="@item.VolunteerID">@item.Account.Profile.Lastname</option>
                }
            </select>
            <select id="listboxCandidate1" multiple="multiple" size="5" style="width: 300px; height: 180px">
            </select>
        </div>
    </div>
    <div class="col-md-1" style="padding-left: 36px">
        <div style="padding-bottom: 15px; padding-top: 70px">
            <input type="button" id="btnB" onclick="AddRemoveA('cbbCandidate', 'listboxCandidate1', 'capaCarA', 'cbbCarLeft', 'cbbVoLeft');" value="<<<<<" />
        </div>
        <div style="padding-bottom: 15px">
            <input type="button" id="btnA" onclick="AddRemoveB('listboxCandidate1', 'cbbCandidate');" value=">>>>>" />
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="view view-tenth">
            <label>Thí sinh chưa xếp xe</label>
            <select id="cbbCandidate" onchange="" multiple="multiple" size="5" style="width: 300px; height: 180px">
                @foreach (var item in ViewData["listCandidate"] as IEnumerable<Active>)
                {
                    <option value="@item.CandidateID">@item.Candidate.Account.Profile.Lastname</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-1" style="padding-left: 36px">
        <div style="padding-bottom: 15px; padding-top: 70px">
            <input type="button" id="btnC" onclick="AddRemoveA('cbbCandidate', 'listboxCandidate2', 'capaCarB', 'cbbCarRight', 'cbbVoRight');" value=">>>>>" />
        </div>
        <div style="padding-bottom: 15px">
            <input type="button" id="btnD" onclick="AddRemoveB('listboxCandidate2', 'cbbCandidate');" value="<<<<<" />
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="view view-tenth">
            <select id="cbbCarRight" onchange=" callAjax(this.value, 'listboxCandidate2','capaCarB','cbbVoRight','cbbCarRight','cbbCarLeft'),syncChange('cbbCarRight'),callAjaxCapacity('quantity2','capaCarB','listboxCandidate2','remain2'); ">
                <option id="index2">Chọn xe</option>
                @foreach (var item in ViewData["listCar"] as IEnumerable<Car>)
                {
                    <option value="@item.CarID">@item.NumberPlate</option>
                }
            </select>
            <span>Số chỗ ngồi:</span><span id="quantity2" style="padding-left: 3px"></span>
            <select id="cbbVoRight" style="" onchange=" callAjaxVolunteer(this.value, 'listboxCandidate2','cbbCarRight','cbbVoRight','cbbVoLeft','quantity2')">
                <option id="index3">Tình nguyện viên</option>
                @foreach (var item in ViewData["listVolunteer"] as IEnumerable<Volunteer>)
                {
                    <option value="@item.VolunteerID">@item.Account.Profile.Lastname</option>
                }
            </select>
            <select id="listboxCandidate2" multiple="multiple" size="5" style="width: 300px; height: 180px">
            </select>
        </div>
    </div>
</div>

<div>
    <input type="submit" value="Lưu lại" class="btn-info" onclick=" saveListCandidate()" />
</div>*@
