@{
    ViewBag.Title = "Danh sách nhóm " + @Model.GroupID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TSMT.Models
@model Group

<div class="panel panel-blue margin-bottom-20">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-list">&nbsp;Danh sách các thành viên trong nhóm @Model.GroupID</i></h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Thí sinh</th>
                <th>SĐT</th>
                <th>Ghi chú</th>
            </tr>
            @{
                int counter = 1;
                foreach (ExaminationsPaper item in Model.ExaminationsPapers)
                {                          
                <tr>
                    <td>@counter</td>
                    <td>@item.Candidate.Account.Profile.Lastname @item.Candidate.Account.Profile.Firstname</td>
                    <td>@item.Candidate.Account.Profile.PhoneNumber</td>
                    <td>
                        @if (item.Group.OwnerID == item.ExamPaperID) // la nhom truong
                        {
                            <text>Nhóm trưởng</text>
                        }
                        else
                        {
                            <text>Thành viên</text>
                        }
                    </td>
                </tr>
                        ++counter;
                }
            }
        </table>
    </div>
</div>
