@using TSMT.Models
@model TSMT.Models.CharityVolunteerModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center">
    <h2>Quản Lí Sinh Viên Tình Nguyện</h2>
</div>
<!-- inner page content start -->
 @using (Html.BeginForm("ManageVolunteer", "Charity", FormMethod.Get, new {@class = "form-horizontal"}))
 {
     <div class="inner-page-content inner-testimonial">
         <div class="container">
             @* <div class="row">*@
             @for (int i = 0; i <= Model.ListVolunteer.Count - 1; i++)
                {
                    
                    if (i % 3 == 0 && i != 0) {
                        <br/>
                    }
                    var item = Model.ListVolunteer[i];
                    
                  <div class="col-md-4">
                 <!-- Testimonial item -->
                 <div class="testimonial-item">
                     <!-- User Image -->
                     <img src="img/user-big.jpg"  style="max-width: 60px" class="img-responsive img-thumbnail img-circle" alt="" />
                     <!-- User name and designation -->
                     <h4>@item.Account.Profiles.FirstOrDefault().Lastname  @item.Account.Profiles.FirstOrDefault().Firstname</h4>
                     <!-- User comments -->
                     <blockquote>
                         <p>@item.Description</p>
                     </blockquote>
                     <a>@Html.ActionLink("Xóa Khỏi Nhóm", "RemoveVolunteer", "Charity", new { volunteerId = @item.VolunteerID}, new { @class = "btn" })</a>
                 </div>
             </div>
             }
            
             @* <div class="col-md-4">
                <!-- Testimonial item -->
                <div class="testimonial-item">
                    <!-- User Image -->
                    <img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
                    <!-- User name and designation -->
                    <h4>Jon Asse<span>, MD</span></h4>
                    <!-- User comments -->
                    <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Testimonial item -->
                <div class="testimonial-item">
                    <!-- User Image -->
                    <img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
                    <!-- User name and designation -->
                    <h4>Tas Mend<span>, CA</span></h4>
                    <!-- User comments -->
                    <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- Testimonial item -->
                <div class="testimonial-item">
                    <!-- User Image -->
                    <img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
                    <!-- User name and designation -->
                    <h4>R. Gheos<span>, CA II</span></h4>
                    <!-- User comments -->
                    <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Testimonial item -->
                <div class="testimonial-item">
                    <!-- User Image -->
                    <img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
                    <!-- User name and designation -->
                    <h4>Den Louse<span>, FM</span></h4>
                    <!-- User comments -->
                    <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Testimonial item -->
                <div class="testimonial-item">
                    <!-- User Image -->
                    <img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
                    <!-- User name and designation -->
                    <h4>Oues Lenn<span>, CA III</span></h4>
                    <!-- User comments -->
                    <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
                    </blockquote>
                </div>
            </div>
        </div>*@
         </div>
     </div>
 }
<!-- inner page content end -->
