@model TSMT.Models.Volunteer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "VOLUNTEER";
}

@if (Model.CharityExamID == null)
{
    <h3 class="title_of_page">You are now not connect to any CE!</h3>
    <div class="service-one">
        <div class="service-one-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="s-one-item sitem-one">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("Join In", "JoinIn")</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h3 class="title_of_page">You are now connect to @Model.ChairitiesExam.CharityExamName! @Html.ActionLink("Leave them", "LeaveCE", null, new { @class = "btn btn-info", @onclick="return showPopup('Please confirm to delete it.', this.href)"})</h3>
    <div class="service-one">
        <div class="service-one-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="s-one-item sitem-one">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("View Schedule", "ViewSchedule")</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s-one-item sitem-two">
                            <i class="icon-gear"></i>
                            <div class="s-one-caption">
                                <h4>@Html.ActionLink("View Route", "View Route")</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
