@using TSMT.Models;
@model TSMT.Models.Volunteer
@{
    ViewBag.Title = "Tình nguyện viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "VolunteerHome";
}
<link rel="stylesheet" href="~/Content/css/TSMTPopup.css">
<script type="text/javascript" src="~/Content/js/TSMTPopup.js"></script>
@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
@Html.Partial("_VolunteerSidebarPartial")



<div class="col-md-9">
    @if (Model.ParticipantVolunteers.Count == 0)
    {
        <div id="showMessage" class="alert alert-danger fade in" style="height: auto">
            <strong>Bạn chưa đăng ký tham gia hỗ trợ đợt thi nào!</strong> Hãy nhấn vào "Đăng ký" để tham gia!
        </div>
        <div class="row servive-block margin-bottom-10">
            <a href="@Url.Action("JoinIn", "Volunteer")">
                <div class="col-md-4 col-sm-6">
                    <div class="servive-block-in servive-block-colored servive-block-sea">
                        <h4>Đăng ký
                            <br />
                            tham gia hỗ trợ</h4>
                        <div><i class="icon-thumbs-up"></i></div>
                        <p>HDSD.</p>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="panel panel-pink margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list"></i>Thông tin tham gia hỗ trợ tiếp sức mùa thi
                     @if (Model.ParticipantVolunteers.Count < 3)
                     {
                         <a href="@Url.Action("JoinIn", "Volunteer")" class="btn-u btn-u-sea"><i class="icon-plus"></i>&nbsp;Tham gia thêm</a>
                     }
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-bordered ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Đợt thi</th>
                            <th>Hội từ thiện</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                     int counter = 1;

                     foreach (ParticipantVolunteer item in Model.ParticipantVolunteers.OrderBy(r => r.ChairitiesExam.ExamID))
                     {
                            <tr>
                                <td style="vertical-align: middle">@counter</td>
                                <td style="vertical-align: middle">@item.ChairitiesExam.Examination.Name</td>
                                <td style="vertical-align: middle">@item.ChairitiesExam.Charity.Name</td>
                                <td style="vertical-align: middle">
                                    @if (item.IsApproved)
                                    {
                                        <span class="label label-success">Đã xác nhận</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">Chưa xác nhận</span>
                                    }
                                </td>
                                <td style="vertical-align: middle">
                                    @if (item.IsApproved)
                                    {
                                        <a href="@Url.Action("ViewDetails", "Volunteer", new { id = item.ParticipantVolunteerID })" class="btn-u btn-u-purple" title="Xem chi tiết" style="width:40px;height:30px"><i class="icon-eye-open"></i></a>
                                        if (item.ExamPaperID == null)
                                        {
                                        <a href="@Url.Action("LeaveCE", "Volunteer", new { id = item.ParticipantVolunteerID })"onclick=" return showPopup('Bạn có chắc chắn muốn rời hội từ thiện không?', this.href)" class="btn-u btn-u-red" title="Rời hội từ thiện"  style="width:40px;height:30px"><i class="icon-remove"></i></a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("LeaveCE", "Volunteer", new { id = item.ParticipantVolunteerID })" class="btn-u btn-u-red" title="Huỷ đăng ký" onclick=" return showPopup('Bạn có chắc chắn muốn huỷ đăng kí không?', this.href)" style="width:40px;height:30px"><i class="icon-remove-circle"></i></a>
                                    }
                                </td>
                            </tr>
                                    ++counter;
                     }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>
<script type="text/javascript">
    function callAjaxRemove(carId) {
        $.ajax({
            url: '/Charity/RemoveCar/' + carId,
            type: 'GET',
            success: function (results) {
                $("#" + carId).hide(800, function () {
                    $("#" + carId).remove();
                });
            }
        });
        return false;
    }
</script>
