@{
    ViewBag.Title = "Đăng ký vào Hội từ thiện";
    ViewBag.Active = "JoinIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@using TSMT.Models
@model IEnumerable<Examination>

<script src="/Content/js/TSMTViewOnMap.js"></script>

@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Home")">Tình nguyện viên</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}

@Html.Partial("_VolunteerSidebarPartial")

@using (Html.BeginForm("JoinIn", "Volunteer", FormMethod.Post, new { onsubmit = "return checkTerm();" }))
{
    
    <div class="col-md-5">
        <div class="panel panel-purple margin-bottom-20" style="width: 75%">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i>Đăng ký vào Hội từ thiện </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td style="vertical-align: middle">Kỳ thi</td>
                        <td>
                            <select id="exam" name="exId" onchange="getCharityName(this.value);synChange();" class="form-control" style="width: auto">
                                <option value="null">Đợt thi</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.ExaminationID">@item.Name</option>
                                }
                            </select>
                            <select id="date" name="exId" class="form-control" style="width: auto; display: none">
                                <option value="null">Đợt thi</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.ExaminationID">@item.BeginDate</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Hội từ thiện</td>
                        <td>
                            <select name="ceId" id="getCharity" class="form-control" onchange="ShowCeLodge(this.value)" style="width: auto">
                                <option value="null">Hội từ thiện</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-purple margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-map-marker"></i>Danh sách các địa điểm trọ của hội từ thiện</h3>
            </div>

            <div class="panel-body" id="divShowLodge" style="display: none">
                <div id="showLodge"></div>
            </div>
        </div>
        <div class="panel panel-purple margin-bottom-20">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-star"></i>Điều kiện ràng buộc</h3>
            </div>
            <table class="table table-bordered">
                <tr>
                    <td>Bạn phải chắc chắn rằng khi tham hỗ trợ thí sinh là phải tham gia đầy đủ và không vắng mặt trong bất cứ ngày thi nào.</td>

                </tr>
                <tr>
                    <td>
                        <input id="term" type="checkbox" />&nbsp;Tôi đồng ý với các điều kiện trên</td>
                </tr>
            </table>

        </div>
        <div style="float: right; width: 60%">
            @*<button type="reset" class="btn-u btn-u-purple"><i class="fa fa-eraser"></i>&nbsp;Làm lại</button>*@
            <button type="submit" class="btn-u btn-u-sea"><i class="fa fa-save"></i>&nbsp;Đăng ký</button>
            <button type="button" class="btn-u btn-u-red" onclick="location.href='/Volunteer/'"><i class="fa fa-times-circle"></i>&nbsp;Hủy</button>
        </div>
    </div>
}

<script type="text/javascript">
    function checkTerm() {
        var examDate = new Date(document.getElementById("date")[document.getElementById("date").selectedIndex].textContent);
        var now = new Date;
        if (document.getElementById("exam").selectedIndex == 0 || document.getElementById("getCharity").selectedIndex == 0) {
            alert("Bạn chưa chọn đợt thi hoặc hội từ thiện, vui lòng chọn để tiếp tục!");
            return false;
        } else if (document.getElementById("term").checked == false) {
            alert("Bạn chưa xác nhận các điều kiện ràng buộc, vui lòng chọn điều kiện ràng buộc để tiếp tục đăng ký!");
            return false;
        } else if ((examDate - now) / 86400000 < 3) {
            alert("Đã hoàn tất đăng ký cho đợt thi này, bạn không thể đăng ký vào được nữa");
            return false;
        } else {
            return true;
        }
        

    }
    function getCharityName(id) {
        $("#getCharity").empty();
        $("#getCharity").append("<option value='null'>Hội từ thiện</option>");
        $("#showLodge").empty();
        $("#divShowLodge").slideUp();
        if (id == "null") return;
        $.ajax({
            url: 'getCharityName',
            data: { "id": id },
            type: 'POST',
            success: function (results) {
                for (i in results) {
                    var r = results[i];
                    $("#getCharity").append("<option value='" + r.value + "'>" + r["name"] + "</option>");
                }
            }
        });
    };
    function ShowCeLodge(ceId) {
        $("#showLodge").empty();
        $("#showLodge").append("<option value='null'>Hội từ thiện</option>");
        if (ceId == "null") return $("#divShowLodge").slideUp();
        else {
            $.ajax({
                url: 'ShowCeLodge',
                data: { "ceId": ceId },
                type: 'POST',
                success: function (results) {
                    var counter = 0;
                    for (i in results) {
                        var r = results[i];
                        $("#showLodge").append("<p><a href='#' onclick=\"openWindowPopup('/Home/ViewLodge/'," + r.value + " )\">" + (++counter) + ". " + r.address + "</a></p>");
                    }
                }
            });
            $("#divShowLodge").slideDown("fast");
        }
    };
    $(document).ready(function () {
        $('.popup-confirm').addClass("popup-remove");
    });
    function synChange() {
        if (document.getElementById("exam").selectedIndex == 0) {
            document.getElementById("date").selectedIndex = 0;
        } else {
            document.getElementById("date").selectedIndex = document.getElementById("exam").selectedIndex;
        }
    }
    function checkDate() {
        var examDate = new Date(document.getElementById("date")[document.getElementById("date").selectedIndex].textContent);
        var now = new Date;
        if ((examDate - now) / 86400000 >= 3) {
            return true;
        } else {
            alert("Đã hoàn tất đăng ký cho đợt thi này, bạn không thể đăng ký vào được nữa");
            return false;
        }
    }
</script>
