@using TSMT.Models
@model TSMT.Models.RegistrationModel

@{
    ViewBag.Title = "Registration";
}

<form method="post" action="/Home/Registration">
    <div id="Account">
        <table>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="text" name="email" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>Re-type password:</td>
                <td>
                    <input type="password" name="repassword" /></td>
            </tr>
        </table>
    </div>
    <div id="Profile">
        <table>
            <tr>
                <td>Firstname:</td>
                <td>
                    <input type="text" name="fname" /></td>
            </tr>
            <tr>
                <td>Middlename:</td>
                <td>
                    <input type="text" name="mname" /></td>
            </tr>
            <tr>
                <td>Lastname:</td>
                <td>
                    <input type="text" name="lname" /></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>
                    <select id="gender" name="gender">
                        <option value="null">---</option>
                        <option value="false">Male</option>
                        <option value="true">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td>
                    <input type="text" name="dayOfBirth" /></td>
            </tr>
            <tr>
                <td>Phone number:</td>
                <td>
                    <input type="text" name="phonenumber" /></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>
                    <input type="text" name="address" /></td>
            </tr>
            <tr>
                <td>Province:</td>
                <td>
                    <select id="province" name="province">
                        <option value="null">---</option>
                        @foreach (var item in (List<Province>)ViewData["getAllProvinces"])
                        {
                            <option value="@item.ProvinceID">@item.Name</option>
                        }

                    </select></td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    <select id="city" name="district">
                        <option value="null">---</option>
                        @foreach (var item in (List<District>)ViewData["getAllDistricts"])
                        {
                            <option value="@item.DistrictID">@item.Name</option>
                        }
                    </select>

                </td>
            </tr>
        </table>
    </div>


    <label>You are: </label>
    <select id="cbbSpecificRole" onchange="changeRole(this.options[this.selectedIndex].text);" name="specificRole">
        <option value="null" selected>-----</option>
        @foreach (var item in (List<Role>)ViewData["getAllRoles"])
        {
            <option value="@item.RoleID">@item.RoleName</option>
        }
    </select>


    <div id="Candidate" style="display: none">
        <table>
            <tr>
                <td>High school's name:</td>
                <td>
                    <input type="text" name="highschool" /></td>
            </tr>


        </table>
    </div>

    <div id="Sponsor" style="display: none">
        Not addtional information for Sponsor
        <br />

    </div>

    <div id="Volunteer" style="display: none">
        Not addtional information for Volunteer
        <br />

    </div>

    <div id="Chairity" style="display: none">
        Not addtional information for Charity
        <br />

    </div>
    <input type="hidden" id="roleID" />
    <input type="submit" value="Submit" />
    <input type="reset" value="Reset" />
    <input type="button" value="Cancel" />
</form>

<script type="text/javascript">
    var currentRole = "null";
    function changeRole(newRole) {
        if (currentRole !== "null") {
            document.getElementById(currentRole).style.display = 'none';
        }
        document.getElementById(newRole).style.display = 'inline';
        currentRole = newRole;
    }
</script>
